// VARIABLES

// SKINNING VARIABLES
$colorP1: #666;
$colorS1: #fff;

$colorP2: #999;
$colorS2: #fff;

$colorP3: #CCC;
$colorS3: #fff;

$colorP4: #efefef;
$colorS4: #333;


// **************
// BASE VARIABLES
// **************


// MEASURMENTS
$rem: 1rem;
$em: 1em;
$px: 10px;
$pct: 100%;


// MEDIA QUERY DIMENSIONS
// mobile-first media-query variables
$sm-mq: 320px;
$md-mq: 768px;
$lg-mq: 1024px;
$xl-mq: 1200px;


// BACKGROUND COLORS
$bg1: #eaeaea;
$bg2: transparentize($bg1, .05);
$bg3: transparentize($bg1, .05);


// BORDER COLOR
$border1: #d5d5d5;
$border2: mix(#fff, $border1, 45);
$border3: mix(#fff, $border1, 66);
$border4: mix(#fff, $border1, 85);


// BORDER RADIUS
$radius: 3px;


// PAGE
$fixed-page-width: false;
$pg-width: 100%;
$pg-width-min: 1000px;
$pg-width-max: 1200px;


// Z-INDEX
$index-10: 100000;
$index-9: 90000;
$index-8: 80000;
$index-7: 70000;
$index-6: 60000;
$index-5: 50000;
$index-4: 40000;
$index-3: 30000;
$index-2: 20000;
$index-1: 10000;


// *******
// WIDGETS
// *******
// GRID
$page-gutter: 25px;
$grid-sides: $page-gutter;
$grid-border-color: #e2e2e2;
$grid-top-bottom: 30px; // gets divided by 2 in _grid.less

// TYPOGRAPHY
$font-color: #333;
$font-color-strong: #000;
$font-size: 62.5%;
//placeholder
$placeholder-color: mix(#fff, $font-color, 70);
// headings
$h1-size: 2;
$h1-line-height: 30px;
$h2-size: 1.8;
$h2-line-height: 22px;
$h3-size: 1.7;
$h3-line-height: 22px;
$h4-size: 1.5;
$h4-line-height: 1.25em;
$h5-size: 1.4;
$h5-line-height: 1.25em;
$h6-size: 1.2;
$h6-line-height: 1.25em;
$subheading-color: #262626;
// links
$link-color: #005bc6;
$link-decoration: none;
$link-color-visited: $link-color;
$link-decoration-visited: underline;
$link-color-hover: darken($link-color, 10%);
$link-decoration-hover: underline;
$link-color-focus: darken($link-color, 10%);
$link-decoration-focus: underline;
$link-color-active: darken($link-color, 10%);
$link-decoration-active: underline;
//code
$code-color: #696;
