// VARIABLES

// THEMING COLORS
$colorP1: #666;
$colorS1: #fff;

$colorP2: #999;
$colorS2: #fff;

$colorP3: #CCC;
$colorS3: #fff;

$colorP4: #efefef;
$colorS4: #333;

// BREAKPOINTS
$sm-mq: 320px;
$md-mq: 600px;
$lg-mq: 996px;
$xl-mq: 1200px;

// TYPOGRAPHY
$font-color: #333;
$font-size: 62.5%;
