.sg-heading {
    padding: 20px;
    margin-bottom: 0;
    background-color: #eee;
    color: #333;
    font-weight: bold;
}
.sg-element {
    position: relative;
    padding: 20px;
    border-top: 1px solid #eee;
    cursor: default;

    .sg-modifier-name {
        font-size: 14px;
        float: right;
        background-color: #eee;
        padding: 5px 10px;
        border: 1px solid darken(#eee, 10%);
    }
}