article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  color: #000;
  background: #ff0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
sub,
sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* BREADCRUMB */
.breadcrumb {
  padding: 10px 0;
  margin: 0;
}
.breadcrumb .list-item {
  display: inline;
  float: left;
  font-size: 13px;
  font-size: 1.3rem;
}
.breadcrumb .list-item:before,
.breadcrumb .list-item::before {
  padding: 0 10px;
  content: "/";
}
.breadcrumb .list-item:first-child:before,
.breadcrumb .list-item:first-child::before {
  display: none;
}
.breadcrumb .list-item > .txt-link {
  margin-left: -4px;
}
.breadcrumb .list-item > .txt-link:first-child,
.breadcrumb .list-item > .txt-link:first-child {
  margin-left: 0;
}
.breadcrumb:after,
.breadcrumb::after {
  display: table;
  clear: both;
  content: '';
}
/* BUTTONS */
.btn,
.btn-mini {
  display: inline-block;
  width: auto;
  color: #424242;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  background-color: #e7e7e7;
  border: 1px solid #b4b4b4;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, #ffffff));
  background-image: -moz-linear-gradient(center bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0), #ffffff);
  background-image: -o-linear-gradient(#ffffff, rgba(255, 255, 255, 0));
  background-image: linear-gradient(#ffffff, rgba(255, 255, 255, 0));
  filter: progid:DXImageTransform.Microsoft.newgradient(startColorstr='#ffffff', endColorstr='rgba(255, 255, 255, 0)', GradientType=0);
}
.btn + .btn,
.btn + .btn-mini,
.btn-mini + .btn,
.btn-mini + .btn-mini {
  margin-left: 10px;
}
.btn:hover,
.btn-mini:hover,
.btn.hover,
.btn-mini.hover {
  background-color: #b4b4b4;
  border-color: #9b9b9b;
}
.btn:active,
.btn-mini:active,
.btn.active,
.btn-mini.active {
  background-color: #cecece;
  border-color: #9b9b9b;
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.2);
  background-image: none !important;
}
.btn.search,
.btn-mini.search {
  color: #ffffff;
  background-color: #1a7a85;
  border-color: #176e78;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0.1)));
  background-image: -moz-linear-gradient(center bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  filter: progid:DXImageTransform.Microsoft.newgradient(startColorstr='rgba(255, 255, 255, 0.1)', endColorstr='rgba(255, 255, 255, 0)', GradientType=0);
}
.btn.search:hover,
.btn-mini.search:hover,
.btn.search.hover,
.btn-mini.search.hover {
  background-color: #12535a;
  border-color: #0f474e;
}
.btn.search:active,
.btn-mini.search:active,
.btn.search.active,
.btn-mini.search.active {
  background-color: #166670;
  border-color: #0f474e;
}
.btn.search-known,
.btn-mini.search-known {
  color: #ffffff;
  background-color: #0b3458;
  border-color: #575656;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #104779), color-stop(1, #1d5b94));
  background-image: -moz-linear-gradient(center bottom, #104779 0%, #1d5b94 100%);
  background-image: -ms-linear-gradient(bottom, #104779, #1d5b94);
  background-image: -o-linear-gradient(#1d5b94, #104779);
  background-image: linear-gradient(#1d5b94, #104779);
  filter: progid:DXImageTransform.Microsoft.newgradient(startColorstr='#1d5b94', endColorstr='#104779', GradientType=0);
}
.btn.search-known:hover,
.btn-mini.search-known:hover,
.btn.search-known.hover,
.btn-mini.search-known.hover {
  background-color: #0b3458;
  border-color: #575656;
}
.btn.search-known:active,
.btn-mini.search-known:active,
.btn.search-known.active,
.btn-mini.search-known.active {
  background-color: #0b3458;
  border-color: #575656;
}
.btn.primary,
.btn-mini.primary {
  color: #424242;
  background-color: #f9ce5a;
  border-color: #e5a908;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0.6)));
  background-image: -moz-linear-gradient(center bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  filter: progid:DXImageTransform.Microsoft.newgradient(startColorstr='rgba(255, 255, 255, 0.6)', endColorstr='rgba(255, 255, 255, 0)', GradientType=0);
}
.btn.primary:hover,
.btn-mini.primary:hover,
.btn.primary.hover,
.btn-mini.primary.hover {
  background-color: #e5a908;
  border-color: #b38507;
}
.btn.primary:active,
.btn-mini.primary:active,
.btn.primary.active,
.btn-mini.primary.active {
  background-color: #f7bf29;
  border-color: #b38507;
}
.btn.light,
.btn-mini.light {
  color: #ffffff;
  background-color: #3271cf;
  border-color: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3c84ee), color-stop(1, #5193f3));
  background-image: -moz-linear-gradient(center bottom, #3c84ee 0%, #5193f3 100%);
  background-image: -ms-linear-gradient(bottom, #3c84ee, #5193f3);
  background-image: -o-linear-gradient(#5193f3, #3c84ee);
  background-image: linear-gradient(#5193f3, #3c84ee);
  filter: progid:DXImageTransform.Microsoft.newgradient(startColorstr='#5193f3', endColorstr='#3c84ee', GradientType=0);
}
.btn.light:hover,
.btn-mini.light:hover,
.btn.light.hover,
.btn-mini.light.hover {
  background-color: #1d447e;
  border-color: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1052b4), color-stop(1, #0e5dd0));
  background-image: -moz-linear-gradient(center bottom, #1052b4 0%, #0e5dd0 100%);
  background-image: -ms-linear-gradient(bottom, #1052b4, #0e5dd0);
  background-image: -o-linear-gradient(#0e5dd0, #1052b4);
  background-image: linear-gradient(#0e5dd0, #1052b4);
  filter: progid:DXImageTransform.Microsoft.newgradient(startColorstr='#0e5dd0', endColorstr='#1052b4', GradientType=0);
}
.btn.light:active,
.btn-mini.light:active,
.btn.light.active,
.btn-mini.light.active {
  background-color: #275aa7;
  border-color: transparent;
}
.btn.disabled,
.btn-mini.disabled {
  color: #c1c1c1;
  cursor: default;
  background-color: #ffffff;
  border-color: #c1c1c1;
  box-shadow: none;
  outline: none;
}
.btn.disabled:hover,
.btn-mini.disabled:hover,
.btn.disabled.hover,
.btn-mini.disabled.hover {
  background-color: #ffffff;
  border-color: #c1c1c1;
}
.btn.disabled:active,
.btn-mini.disabled:active,
.btn.disabled.active,
.btn-mini.disabled.active {
  background-color: #ffffff;
  border-color: #c1c1c1;
}
.btn.flat,
.btn-mini.flat {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, transparent), color-stop(1, transparent));
  background-image: -moz-linear-gradient(center bottom, transparent 0%, transparent 100%);
  background-image: -ms-linear-gradient(bottom, transparent, transparent);
  background-image: -o-linear-gradient(transparent, transparent);
  background-image: linear-gradient(transparent, transparent);
  filter: progid:DXImageTransform.Microsoft.newgradient(startColorstr='transparent', endColorstr='transparent', GradientType=0);
}
.btn {
  height: 30px;
  padding: 0 15px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2.8rem;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn.light {
  height: 25px;
}
.btn.search-known {
  height: 25px;
}
.btn-mini {
  height: 18px;
  padding: 0 10px;
  font-size: 11px;
  font-size: 1.1rem;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.btn-txt,
.btn-txt-link {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  font-size: 13px;
}
.btn-txt:hover,
.btn-txt-link:hover,
.btn-txt.hover,
.btn-txt-link.hover,
.btn-txt:active,
.btn-txt-link:active,
.btn-txt.active,
.btn-txt-link.active {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
  box-shadow: none;
}
.btn-txt {
  color: #333333;
}
.btn-txt + .btn-txt {
  margin-left: 15px;
}
.btn-txt-link {
  color: #005bc6;
}
.btn-txt-link + .btn-txt-link {
  margin-left: 15px;
}
/* BUTTON GROUP */
.btn-group {
  position: relative;
  display: inline;
}
.btn-group > .transport {
  display: inline-block;
}
.btn-group > .transport > .top,
.btn-group > .transport > .right,
.btn-group > .transport > .bottom,
.btn-group > .transport > .left {
  position: relative;
  right: -4px;
  border-width: 5px;
}
.btn-group > .transport > .top {
  top: -2px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}
.btn-group > .transport > .right {
  top: 1px;
  margin-left: 2.5px;
  border-right-width: 0;
}
.btn-group > .transport > .bottom {
  top: 4px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}
.btn-group > .transport > .left {
  margin-right: 2.5px;
  margin-left: 0;
  border-left-width: 0;
}
.btn-group > .btn:first-child,
.btn-group > .btn-mini:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn + .btn,
.btn-group > .btn-mini + .btn,
.btn-group > .btn + .btn-mini,
.btn-group > .btn-mini + .btn-mini {
  margin-left: -6px;
  border-radius: 0;
}
.btn-group > .btn:last-child,
.btn-group > .btn-mini:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* INPUTS */
/* INPUTS */
input {
  width: 100%;
  height: 30px;
  padding: 2.5px 23px 2.5px 5px;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Lucida Grande", sans-serif;
  color: #333333;
  border: 1px solid #aaa8a8;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input:disabled,
input.disabled {
  border-color: #c1c1c1;
}
.input-reset {
  position: relative;
}
.input-reset > input + .reset {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 25px;
  height: 26px;
  padding: 0;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #cccccc;
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.input-reset > input + .reset:hover {
  color: #b3b3b3;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 5px;
}
label {
  padding-right: 1px;
}
label:active {
  text-decoration: underline;
}
.input-group {
  display: inline-table;
}
.input-group > .btn {
  display: table-cell;
  vertical-align: top;
}
.input-group > .btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group > .btn:first-child + .btn,
.input-group > .btn:first-child + .input-group-btn .btn,
.input-group > .btn:first-child + .btn-reset,
.input-group > .btn:first-child + input,
.input-group > .btn:first-child + .input-reset input {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group > input {
  display: table-cell;
  vertical-align: top;
}
.input-group > input:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group > input:first-child + .btn,
.input-group > input:first-child + .input-group-btn .btn,
.input-group > input:first-child + .btn-reset,
.input-group > input:first-child + input,
.input-group > input:first-child + .input-reset input {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group > .input-group-btn {
  display: table-cell;
  vertical-align: top;
}
.input-group > .input-group-btn:first-child .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group > .input-group-btn:first-child + .btn,
.input-group > .input-group-btn:first-child + .input-group-btn .btn,
.input-group > .input-group-btn:first-child + .btn-reset,
.input-group > .input-group-btn:first-child + input,
.input-group > .input-group-btn:first-child + .input-reset input {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group > .input-reset {
  display: table-cell;
  vertical-align: top;
}
.input-group > .input-reset:first-child > input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group > .input-reset:first-child + .btn,
.input-group > .input-reset:first-child + .input-group-btn .btn,
.input-group > .input-reset:first-child + .btn-reset,
.input-group > .input-reset:first-child + input,
.input-group > .input-reset:first-child + .input-reset input {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group > .input-reset + .btn {
  margin-left: 15px;
}
/* LAYOUT */
.col {
  float: left;
  width: 100%;
  padding: 0 0 0 0;
}
.col + .col {
  padding-left: 70px;
}
.l1-p1 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l1-p1:before,
.l1-p1:after,
.l1-p1::before,
.l1-p1::after {
  display: table;
  line-height: 0;
  content: "";
}
.l1-p1:after,
.l1-p1::after {
  clear: both;
}
.l1-p1:first-child {
  padding-top: 0;
}
.l1-p1 > .col {
  width: 100%;
}
.l2-p1 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l2-p1:before,
.l2-p1:after,
.l2-p1::before,
.l2-p1::after {
  display: table;
  line-height: 0;
  content: "";
}
.l2-p1:after,
.l2-p1::after {
  clear: both;
}
.l2-p1:first-child {
  padding-top: 0;
}
.l2-p1 > .col:nth-child(1) {
  width: 80%;
}
.l2-p1 > .col:nth-child(2) {
  width: 20%;
}
.l2-p2 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l2-p2:before,
.l2-p2:after,
.l2-p2::before,
.l2-p2::after {
  display: table;
  line-height: 0;
  content: "";
}
.l2-p2:after,
.l2-p2::after {
  clear: both;
}
.l2-p2:first-child {
  padding-top: 0;
}
.l2-p2 > .col:nth-child(1) {
  width: 75%;
}
.l2-p2 > .col:nth-child(2) {
  width: 25%;
}
.l2-p3 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l2-p3:before,
.l2-p3:after,
.l2-p3::before,
.l2-p3::after {
  display: table;
  line-height: 0;
  content: "";
}
.l2-p3:after,
.l2-p3::after {
  clear: both;
}
.l2-p3:first-child {
  padding-top: 0;
}
.l2-p3 > .col:nth-child(1) {
  width: 66%;
}
.l2-p3 > .col:nth-child(2) {
  width: 33%;
}
.l2-p4 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l2-p4:before,
.l2-p4:after,
.l2-p4::before,
.l2-p4::after {
  display: table;
  line-height: 0;
  content: "";
}
.l2-p4:after,
.l2-p4::after {
  clear: both;
}
.l2-p4:first-child {
  padding-top: 0;
}
.l2-p4 > .col:nth-child(1) {
  width: 60%;
}
.l2-p4 > .col:nth-child(2) {
  width: 40%;
}
.l2-p5 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l2-p5:before,
.l2-p5:after,
.l2-p5::before,
.l2-p5::after {
  display: table;
  line-height: 0;
  content: "";
}
.l2-p5:after,
.l2-p5::after {
  clear: both;
}
.l2-p5:first-child {
  padding-top: 0;
}
.l2-p5 > .col:nth-child(1) {
  width: 50%;
}
.l2-p5 > .col:nth-child(2) {
  width: 50%;
}
.l2-p6 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l2-p6:before,
.l2-p6:after,
.l2-p6::before,
.l2-p6::after {
  display: table;
  line-height: 0;
  content: "";
}
.l2-p6:after,
.l2-p6::after {
  clear: both;
}
.l2-p6:first-child {
  padding-top: 0;
}
.l2-p6 > .col:nth-child(1) {
  width: 40%;
}
.l2-p6 > .col:nth-child(2) {
  width: 60%;
}
.l2-p7 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l2-p7:before,
.l2-p7:after,
.l2-p7::before,
.l2-p7::after {
  display: table;
  line-height: 0;
  content: "";
}
.l2-p7:after,
.l2-p7::after {
  clear: both;
}
.l2-p7:first-child {
  padding-top: 0;
}
.l2-p7 > .col:nth-child(1) {
  width: 33%;
}
.l2-p7 > .col:nth-child(2) {
  width: 66%;
}
.l2-p8 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l2-p8:before,
.l2-p8:after,
.l2-p8::before,
.l2-p8::after {
  display: table;
  line-height: 0;
  content: "";
}
.l2-p8:after,
.l2-p8::after {
  clear: both;
}
.l2-p8:first-child {
  padding-top: 0;
}
.l2-p8 > .col:nth-child(1) {
  width: 25%;
}
.l2-p8 > .col:nth-child(2) {
  width: 75%;
}
.l2-p9 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l2-p9:before,
.l2-p9:after,
.l2-p9::before,
.l2-p9::after {
  display: table;
  line-height: 0;
  content: "";
}
.l2-p9:after,
.l2-p9::after {
  clear: both;
}
.l2-p9:first-child {
  padding-top: 0;
}
.l2-p9 > .col:nth-child(1) {
  width: 20%;
}
.l2-p9 > .col:nth-child(2) {
  width: 80%;
}
.l3-p1 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l3-p1:before,
.l3-p1:after,
.l3-p1::before,
.l3-p1::after {
  display: table;
  line-height: 0;
  content: "";
}
.l3-p1:after,
.l3-p1::after {
  clear: both;
}
.l3-p1:first-child {
  padding-top: 0;
}
.l3-p1 > .col:nth-child(1) {
  width: 60%;
}
.l3-p1 > .col:nth-child(2) {
  width: 20%;
}
.l3-p1 > .col:nth-child(3) {
  width: 20%;
}
.l3-p2 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l3-p2:before,
.l3-p2:after,
.l3-p2::before,
.l3-p2::after {
  display: table;
  line-height: 0;
  content: "";
}
.l3-p2:after,
.l3-p2::after {
  clear: both;
}
.l3-p2:first-child {
  padding-top: 0;
}
.l3-p2 > .col:nth-child(1) {
  width: 50%;
}
.l3-p2 > .col:nth-child(2) {
  width: 25%;
}
.l3-p2 > .col:nth-child(3) {
  width: 25%;
}
.l3-p3 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l3-p3:before,
.l3-p3:after,
.l3-p3::before,
.l3-p3::after {
  display: table;
  line-height: 0;
  content: "";
}
.l3-p3:after,
.l3-p3::after {
  clear: both;
}
.l3-p3:first-child {
  padding-top: 0;
}
.l3-p3 > .col:nth-child(1) {
  width: 40%;
}
.l3-p3 > .col:nth-child(2) {
  width: 40%;
}
.l3-p3 > .col:nth-child(3) {
  width: 20%;
}
.l3-p4 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l3-p4:before,
.l3-p4:after,
.l3-p4::before,
.l3-p4::after {
  display: table;
  line-height: 0;
  content: "";
}
.l3-p4:after,
.l3-p4::after {
  clear: both;
}
.l3-p4:first-child {
  padding-top: 0;
}
.l3-p4 > .col:nth-child(1) {
  width: 40%;
}
.l3-p4 > .col:nth-child(2) {
  width: 20%;
}
.l3-p4 > .col:nth-child(3) {
  width: 40%;
}
.l3-p5 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l3-p5:before,
.l3-p5:after,
.l3-p5::before,
.l3-p5::after {
  display: table;
  line-height: 0;
  content: "";
}
.l3-p5:after,
.l3-p5::after {
  clear: both;
}
.l3-p5:first-child {
  padding-top: 0;
}
.l3-p5 > .col:nth-child(1) {
  width: 33%;
}
.l3-p5 > .col:nth-child(2) {
  width: 33%;
}
.l3-p5 > .col:nth-child(3) {
  width: 33%;
}
.l3-p6 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l3-p6:before,
.l3-p6:after,
.l3-p6::before,
.l3-p6::after {
  display: table;
  line-height: 0;
  content: "";
}
.l3-p6:after,
.l3-p6::after {
  clear: both;
}
.l3-p6:first-child {
  padding-top: 0;
}
.l3-p6 > .col:nth-child(1) {
  width: 25%;
}
.l3-p6 > .col:nth-child(2) {
  width: 25%;
}
.l3-p6 > .col:nth-child(3) {
  width: 50%;
}
.l3-p7 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l3-p7:before,
.l3-p7:after,
.l3-p7::before,
.l3-p7::after {
  display: table;
  line-height: 0;
  content: "";
}
.l3-p7:after,
.l3-p7::after {
  clear: both;
}
.l3-p7:first-child {
  padding-top: 0;
}
.l3-p7 > .col:nth-child(1) {
  width: 25%;
}
.l3-p7 > .col:nth-child(2) {
  width: 50%;
}
.l3-p7 > .col:nth-child(3) {
  width: 25%;
}
.l3-p8 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l3-p8:before,
.l3-p8:after,
.l3-p8::before,
.l3-p8::after {
  display: table;
  line-height: 0;
  content: "";
}
.l3-p8:after,
.l3-p8::after {
  clear: both;
}
.l3-p8:first-child {
  padding-top: 0;
}
.l3-p8 > .col:nth-child(1) {
  width: 20%;
}
.l3-p8 > .col:nth-child(2) {
  width: 20%;
}
.l3-p8 > .col:nth-child(3) {
  width: 60%;
}
.l3-p9 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l3-p9:before,
.l3-p9:after,
.l3-p9::before,
.l3-p9::after {
  display: table;
  line-height: 0;
  content: "";
}
.l3-p9:after,
.l3-p9::after {
  clear: both;
}
.l3-p9:first-child {
  padding-top: 0;
}
.l3-p9 > .col:nth-child(1) {
  width: 20%;
}
.l3-p9 > .col:nth-child(2) {
  width: 60%;
}
.l3-p9 > .col:nth-child(3) {
  width: 20%;
}
.l4-p1 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l4-p1:before,
.l4-p1:after,
.l4-p1::before,
.l4-p1::after {
  display: table;
  line-height: 0;
  content: "";
}
.l4-p1:after,
.l4-p1::after {
  clear: both;
}
.l4-p1:first-child {
  padding-top: 0;
}
.l4-p1 > .col:nth-child(1) {
  width: 40%;
}
.l4-p1 > .col:nth-child(2) {
  width: 20%;
}
.l4-p1 > .col:nth-child(3) {
  width: 20%;
}
.l4-p1 > .col:nth-child(4) {
  width: 20%;
}
.l4-p2 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l4-p2:before,
.l4-p2:after,
.l4-p2::before,
.l4-p2::after {
  display: table;
  line-height: 0;
  content: "";
}
.l4-p2:after,
.l4-p2::after {
  clear: both;
}
.l4-p2:first-child {
  padding-top: 0;
}
.l4-p2 > .col:nth-child(1) {
  width: 25%;
}
.l4-p2 > .col:nth-child(2) {
  width: 25%;
}
.l4-p2 > .col:nth-child(3) {
  width: 25%;
}
.l4-p2 > .col:nth-child(4) {
  width: 25%;
}
.l4-p3 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l4-p3:before,
.l4-p3:after,
.l4-p3::before,
.l4-p3::after {
  display: table;
  line-height: 0;
  content: "";
}
.l4-p3:after,
.l4-p3::after {
  clear: both;
}
.l4-p3:first-child {
  padding-top: 0;
}
.l4-p3 > .col:nth-child(1) {
  width: 20%;
}
.l4-p3 > .col:nth-child(2) {
  width: 20%;
}
.l4-p3 > .col:nth-child(3) {
  width: 20%;
}
.l4-p3 > .col:nth-child(4) {
  width: 40%;
}
.l4-p4 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l4-p4:before,
.l4-p4:after,
.l4-p4::before,
.l4-p4::after {
  display: table;
  line-height: 0;
  content: "";
}
.l4-p4:after,
.l4-p4::after {
  clear: both;
}
.l4-p4:first-child {
  padding-top: 0;
}
.l4-p4 > .col:nth-child(1) {
  width: 20%;
}
.l4-p4 > .col:nth-child(2) {
  width: 20%;
}
.l4-p4 > .col:nth-child(3) {
  width: 40%;
}
.l4-p4 > .col:nth-child(4) {
  width: 20%;
}
.l4-p5 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l4-p5:before,
.l4-p5:after,
.l4-p5::before,
.l4-p5::after {
  display: table;
  line-height: 0;
  content: "";
}
.l4-p5:after,
.l4-p5::after {
  clear: both;
}
.l4-p5:first-child {
  padding-top: 0;
}
.l4-p5 > .col:nth-child(1) {
  width: 20%;
}
.l4-p5 > .col:nth-child(2) {
  width: 40%;
}
.l4-p5 > .col:nth-child(3) {
  width: 20%;
}
.l4-p5 > .col:nth-child(4) {
  width: 20%;
}
.l5-p1 {
  padding: 50px 25px 0 25px;
  *zoom: 1;
}
.l5-p1:before,
.l5-p1:after,
.l5-p1::before,
.l5-p1::after {
  display: table;
  line-height: 0;
  content: "";
}
.l5-p1:after,
.l5-p1::after {
  clear: both;
}
.l5-p1:first-child {
  padding-top: 0;
}
.l5-p1 > .col:nth-child(1) {
  width: 20%;
}
.l5-p1 > .col:nth-child(2) {
  width: 20%;
}
.l5-p1 > .col:nth-child(3) {
  width: 20%;
}
.l5-p1 > .col:nth-child(4) {
  width: 20%;
}
.l5-p1 > .col:nth-child(5) {
  width: 20%;
}
/* LISTS */
ul,
ol {
  padding: 0 0 1rem 1rem;
  margin: 0;
}
li > ul,
li > ol {
  padding: .5rem 0 .5rem 1rem;
}
dl {
  padding: 0 0 1rem;
  margin: 0;
}
dd {
  padding: 0 0 .125rem 2rem;
  margin: 0;
}
ul.base,
ol.base {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul.base > li,
ol.base > li {
  padding: 0;
  margin: 0;
}
.list {
  padding: 0;
  list-style-type: none;
}
.list .list-item {
  padding: 0 5px 5px 0;
}
.list.disc {
  margin-left: 16px;
  list-style: disc;
}
.list.circle {
  margin-left: 16px;
  list-style: circle;
}
.list.square {
  margin-left: 25px;
  list-style: square;
}
.list.decimal {
  margin-left: 25px;
  list-style: decimal;
}
.list.lower-alpha {
  margin-left: 25px;
  list-style: lower-alpha;
}
.list.upper-alpha {
  margin-left: 25px;
  list-style: upper-alpha;
}
.list.lower-roman {
  margin-left: 25px;
  list-style: lower-roman;
}
.list.upper-roman {
  margin-left: 25px;
  list-style: upper-roman;
}
.list.lines .list-item {
  padding: 5px;
  margin: 0;
  background-color: #d6d6d6;
}
.list.lines .list-item.odd,
.list.lines .list-item:nth-child(odd) {
  background-color: #efefef;
}
.list.inline .list-item {
  display: inline;
  padding: 0 10px;
  float: left;
  border-left: 1px solid #efefef;
}
.list.inline .list-item:first-child {
  border-left: 0 solid transparent;
}
.list.inline:after,
.list.inline::after {
  content: '';
  display: table;
  clear: both;
}
/* MESSAGING */
.msg {
  position: relative;
  width: 100%;
  min-height: 50px;
  padding: 15px;
  margin: 0 0 1em;
  color: #65192c;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.msg > .icon {
  margin-right: 15px;
  vertical-align: middle;
  background-image: url("buzzImages/msg-error.gif");
  background-repeat: no-repeat;
}
.msg .msg-txt {
  margin: 0 25px 0 0;
}
.msg > .close:after,
.msg > .close::after {
  position: absolute;
  right: 20px;
  color: #712b40;
  content: '✕';
}
.msg .msg-action {
  margin-left: 20px;
}
.msg .msg-action:after,
.msg .msg-action::after {
  display: inline-block;
  margin-left: 5px;
  content: '»';
}
.msg.msg-info {
  background-color: rgba(228, 241, 255, 0.1);
  border-color: rgba(177, 215, 255, 0.1);
}
.msg.msg-info .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(buzzImages/msg-error.gif);
  background-repeat: no-repeat;
}
.msg.msg-info > .txt {
  color: #e4f1ff;
}
.msg.msg-success {
  background-color: rgba(230, 250, 223, 0.1);
  border-color: rgba(196, 243, 179, 0.1);
}
.msg.msg-success .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(buzzImages/msg-error.gif);
  background-repeat: no-repeat;
}
.msg.msg-success > .txt {
  color: #e6fadf;
}
.msg.msg-note {
  background-color: #faf9b9;
  border-color: #fcc37c;
}
.msg.msg-note .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(buzzImages/msg-error.gif);
  background-repeat: no-repeat;
}
.msg.msg-note > .txt {
  color: #e7e7b1;
}
.msg.msg-alert {
  background-color: #fde3e3;
  border-color: #7c0303;
}
.msg.msg-alert .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(buzzImages/msg-error.gif);
  background-repeat: no-repeat;
}
.msg.msg-alert > .txt {
  color: #ae0404;
}
/* MODALS */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90000;
  width: 100%;
  height: 100%;
  background-color: #111111;
  background-image: url("http://smallcontent.ebsco-content.com/interfacefiles/14.1.0.78.1/ehost/ui-bg_black_75_100x100.png");
  background-position: 50% 50% repeat;
  background-repeat: repeat;
  opacity: .50;
  filter: alpha(opacity=50);
}
.modal {
  left: 50% !important;
  z-index: 100000 !important;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 25px;
}
.modal .ui-dialog-titlebar .ui-dialog-title {
  display: none;
}
.modal .ui-dialog-titlebar .ui-dialog-titlebar-close {
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
  float: right;
  width: 11px;
  height: 14px;
  padding: 0;
  background: none;
  border: none;
}
.modal .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon-closethick {
  display: block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  text-indent: -99999px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("http://smallcontent.ebsco-content.com/interfacefiles/14.1.0.78.1/layout2/modal-close.png");
  background-position: -2px -3px;
  background-repeat: no-repeat;
  border-radius: 2px;
}
.modal .ui-dialog-titlebar .ui-dialog-titlebar-close:hover .ui-icon-closethick {
  background-position: -2px -23px;
}
.modal .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-button-text {
  display: inline-block;
  font-size: 0;
  text-indent: -99999px;
}
.modal .modal-header > .heading {
  margin-bottom: 0;
  color: #65192c;
}
.modal .modal-content {
  margin-top: 25px;
}
.modal .modal-footer {
  margin-top: 25px;
  font-size: 12px;
  font-size: 1.2rem;
}
.modal .msg {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 13px;
  font-size: 1.3rem;
}
/* SEARCHBAR */
.searchbar-input .input-group .input-reset {
  width: 100%;
}
.searchbar-options {
  margin-top: 10px;
}
/* SELECTS */
.select {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  line-height: 28px;
  line-height: 2.8rem;
  outline: 0;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.select > .transport {
  vertical-align: middle;
}
.select-list {
  position: absolute;
  top: 32px;
  right: -1px;
  z-index: 10;
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  line-height: normal;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.25);
}
.select-list.active {
  display: inline-block;
}
.select-label {
  display: block;
  padding: 5px 15px;
  white-space: nowrap;
  cursor: pointer;
  text-align: left;
}
.select-label.active {
  background-color: #d0d0d0;
}
.select-label:hover {
  color: #ffffff;
  background-color: #b7b7b7;
}
.select-input {
  position: absolute;
  left: -9999px;
}
.select-input:checked + .dd-label {
  color: #535353;
  background-color: rgba(209, 209, 209, 0.05);
}
.select-input:checked + .dd-label:hover {
  background-color: rgba(234, 234, 234, 0.05);
}
/* TOOLBAR */
.toolbar {
  width: 100%;
  overflow: visible;
  font-family: Helvetica, Arial, sans-serif;
}
.toolbar .txt-link {
  font: inherit;
  color: #ffffff;
}
.toolbar .txt-link:hover,
.toolbar .txt-link:active,
.toolbar .txt-link:focus,
.toolbar .txt-link:visited {
  color: #ffffff;
}
.toolbar .personal-bar {
  width: 100%;
  background-color: #552030;
  *zoom: 1;
}
.toolbar .personal-bar:before,
.toolbar .personal-bar:after,
.toolbar .personal-bar::before,
.toolbar .personal-bar::after {
  display: table;
  line-height: 0;
  content: "";
}
.toolbar .personal-bar:after,
.toolbar .personal-bar::after {
  clear: both;
}
.toolbar .personal-bar .personal-nav {
  width: 100%;
  padding: 9px 10px;
  margin: 0;
  font-size: 12px;
  font-size: 1.2rem;
  text-align: right;
  list-style-type: none;
  *zoom: 1;
}
.toolbar .personal-bar .personal-nav:before,
.toolbar .personal-bar .personal-nav:after,
.toolbar .personal-bar .personal-nav::before,
.toolbar .personal-bar .personal-nav::after {
  display: table;
  line-height: 0;
  content: "";
}
.toolbar .personal-bar .personal-nav:after,
.toolbar .personal-bar .personal-nav::after {
  clear: both;
}
.toolbar .personal-bar .personal-nav-item {
  display: inline-block;
  padding: 0 0 0 10px;
  color: #ffffff;
  *zoom: 1;
}
.toolbar .personal-bar .personal-nav-item:before,
.toolbar .personal-bar .personal-nav-item:after,
.toolbar .personal-bar .personal-nav-item::before,
.toolbar .personal-bar .personal-nav-item::after {
  display: table;
  line-height: 0;
  content: "";
}
.toolbar .personal-bar .personal-nav-item:after,
.toolbar .personal-bar .personal-nav-item::after {
  clear: both;
}
.toolbar .personal-bar .txt-link {
  text-decoration: underline;
}
.toolbar .bar {
  position: relative;
  padding-bottom: 2px;
  overflow: hidden;
  background: #712b40 -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0.1)));
  background: #712b40 -moz-linear-gradient(center bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
  background: #712b40 -ms-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
  background: #712b40 -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#9a6978, endColorstr=#712b40);
}
.nav {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.nav .nav-item {
  display: inline-block;
  padding: 7px 8px 10px 12px;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}
.user-nav {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0;
}
.user-nav .user-nav-item {
  display: inline-block;
  float: left;
  width: auto;
  height: auto;
  padding: 8px 12px 11px;
  font-size: 12px;
  font-size: 1.2rem;
  vertical-align: top;
  cursor: pointer;
}
.user-nav .user-nav-item > .icon {
  overflow: hidden;
}
.user-nav .folder {
  padding: 8px 12px 11px 9px;
}
.user-nav .folder .txt-link {
  padding-left: 20px;
}
.user-nav .folder .txt-link .icon {
  position: absolute;
  left: 2px;
  width: 27px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("http://global.ebsco-content.com/interfacefiles/14.1.0.78/ehost/sprites/folder-sprite.png");
  background-position: 8px -1px;
  background-repeat: no-repeat;
}
.user-nav .folder.not-empty .icon {
  background-position: 0 -101px;
}
.user-nav .languages .user-nav {
  display: none;
}
.user-nav .languages .icon {
  width: 10px;
  height: 10px;
  margin: 0 0 0 5px;
  background: url("http://global.ebsco-content.com/interfacefiles/14.1.0.78/ehost/sprites/arrow-sprites.png") right -1750px no-repeat;
}
.user-nav .languages:hover {
  color: #333;
  background-color: #ffffff;
}
.user-nav .languages:hover .icon {
  background-position: right -1800px;
}
.nav-item,
.user-nav-item {
  position: relative;
  color: #ffffff;
}
.nav-item:hover,
.user-nav-item:hover {
  background-color: #5f2436;
}
.nav-item:hover .txt-link,
.user-nav-item:hover .txt-link {
  text-decoration: none;
}
/* TRANSPORT */
.transport {
  vertical-align: top;
  cursor: pointer;
}
.transport > .top,
.transport > .right,
.transport > .bottom,
.transport > .left {
  display: inline-block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
}
.transport > .top.inactive:after,
.transport > .right.inactive:after,
.transport > .bottom.inactive:after,
.transport > .left.inactive:after,
.transport > .top.inactive::after,
.transport > .right.inactive::after,
.transport > .bottom.inactive::after,
.transport > .left.inactive::after {
  color: #d5d5d5;
  cursor: default;
}
.transport > .top.inactive:after:hover,
.transport > .right.inactive:after:hover,
.transport > .bottom.inactive:after:hover,
.transport > .left.inactive:after:hover,
.transport > .top.inactive::after:hover,
.transport > .right.inactive::after:hover,
.transport > .bottom.inactive::after:hover,
.transport > .left.inactive::after:hover {
  color: #d5d5d5;
  cursor: default;
}
.transport > .top {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  border-top-width: 0;
  border-bottom-color: #535353;
  border-bottom-style: solid;
  border-bottom-width: 15px;
}
.transport > .right {
  margin-right: 7.5px;
  margin-left: 7.5px;
  border-right-width: 0;
  border-left-color: #535353;
  border-left-style: solid;
  border-left-width: 15px;
}
.transport > .bottom {
  margin-bottom: 7.5px;
  margin-top: 7.5px;
  border-bottom-width: 0;
  border-top-color: #535353;
  border-top-style: solid;
  border-top-width: 15px;
}
.transport > .left {
  margin-left: 7.5px;
  margin-right: 7.5px;
  border-left-width: 0;
  border-right-color: #535353;
  border-right-style: solid;
  border-right-width: 15px;
}
.transport.slim > .top,
.transport.slim > .right,
.transport.slim > .bottom,
.transport.slim > .left {
  text-align: center;
  line-height: 30px;
  width: 10px;
  height: 16px;
  padding: 0 0 0 3px;
  margin: 0;
  font-family: Arial, "Arial Unicode MS", sans-serif;
  font-size: 22.5px;
  font-size: 2.25rem;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0;
  outline: 0;
}
.transport.slim > .top:after,
.transport.slim > .right:after,
.transport.slim > .bottom:after,
.transport.slim > .left:after,
.transport.slim > .top::after,
.transport.slim > .right::after,
.transport.slim > .bottom::after,
.transport.slim > .left::after {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
}
.transport.slim > .top:focus:after,
.transport.slim > .right:focus:after,
.transport.slim > .bottom:focus:after,
.transport.slim > .left:focus:after,
.transport.slim > .top:focus::after,
.transport.slim > .right:focus::after,
.transport.slim > .bottom:focus::after,
.transport.slim > .left:focus::after {
  outline: auto 5px #98c1e9;
}
.transport.slim > .top:hover:after,
.transport.slim > .right:hover:after,
.transport.slim > .bottom:hover:after,
.transport.slim > .left:hover:after,
.transport.slim > .top:hover::after,
.transport.slim > .right:hover::after,
.transport.slim > .bottom:hover::after,
.transport.slim > .left:hover::after {
  color: #004493;
}
.transport.slim > .top.inactive:after,
.transport.slim > .right.inactive:after,
.transport.slim > .bottom.inactive:after,
.transport.slim > .left.inactive:after,
.transport.slim > .top.inactive::after,
.transport.slim > .right.inactive::after,
.transport.slim > .bottom.inactive::after,
.transport.slim > .left.inactive::after {
  color: #d5d5d5;
  cursor: default;
}
.transport.slim > .top.inactive:after:hover,
.transport.slim > .right.inactive:after:hover,
.transport.slim > .bottom.inactive:after:hover,
.transport.slim > .left.inactive:after:hover,
.transport.slim > .top.inactive::after:hover,
.transport.slim > .right.inactive::after:hover,
.transport.slim > .bottom.inactive::after:hover,
.transport.slim > .left.inactive::after:hover {
  color: #d5d5d5;
  cursor: default;
}
.transport.slim > .top {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-0.9);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.transport.slim > .top:after,
.transport.slim > .top::after {
  color: #005bc6;
  content: "›";
}
.transport.slim > .right:after,
.transport.slim > .right::after {
  color: #005bc6;
  content: "›";
}
.transport.slim > .bottom {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-0.9);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.transport.slim > .bottom:after,
.transport.slim > .bottom::after {
  color: #005bc6;
}
.transport.slim > .left:after,
.transport.slim > .left::after {
  color: #005bc6;
  content: "‹";
}
.carousel .transport {
  position: absolute;
  top: -47px;
  right: 10px;
}
.carousel .transport:nth-child(3),
.carousel .transport .last {
  right: 0;
}
.carousel .transport:nth-child(3) .right,
.carousel .transport .last .right {
  margin: 0 0 5px;
}
.dd .transport {
  display: inline-block;
}
.dd .transport > .top {
  margin-top: -2.5px;
  margin-bottom: 2.5px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 5px;
}
.dd .transport > .bottom {
  margin-top: -2.5px;
  margin-bottom: 2.5px;
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
}
.pagination .transport {
  display: inline-block;
  float: left;
}
.pagination .transport > .right,
.pagination .transport > .left {
  color: #333333;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}
.pagination .transport > .right {
  margin-right: 0;
  margin-left: 5px;
  border-left: 10px solid #333333;
}
.pagination .transport > .left {
  margin-right: 5px;
  margin-left: 0;
  border-right: 10px solid #333333;
}
.transport-top,
.transport-right,
.transport-bottom,
.transport-left {
  position: relative;
  top: 3px;
  left: 4px;
  display: inline-block;
  cursor: pointer;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
}
.transport-top.inactive:after,
.transport-right.inactive:after,
.transport-bottom.inactive:after,
.transport-left.inactive:after,
.transport-top.inactive::after,
.transport-right.inactive::after,
.transport-bottom.inactive::after,
.transport-left.inactive::after {
  color: #d5d5d5;
  cursor: default;
}
.transport-top {
  top: -3px;
  border-bottom: 5px solid #333333;
}
.transport-right {
  top: 0;
  left: 7px;
  border-left: 5px solid #333333;
}
.transport-bottom {
  border-top: 5px solid #333333;
}
.transport-left {
  top: 0;
  left: 2px;
  border-right: 5px solid #333333;
}
.treelist .list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.treelist .list .list {
  padding-left: 15px;
  list-style-type: none;
}
.treelist .list .list-item {
  padding: 5px;
  font-weight: bold;
}
.treelist .list .list-item > .txt-link {
  display: block;
  padding: 5px 5px 5px 10px;
  margin: -5px -5px -5px -10px;
  cursor: pointer;
  font-weight: normal;
}
.treelist .list .list-item.active {
  padding-left: 10px;
  margin-left: -10px;
  color: #ff0000;
  background-color: #efefef;
  border-left: 5px solid #008000;
}
/* TYPOGRAPHY */
html  {
  font-size: 62.5%;
}
body  {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  color: #535353;
}
p {
  margin: 0 0 20px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 18px;
  color: #262626;
}
p:last-child {
  margin-bottom: 0;
}
a {
  display: inline-block;
  color: #005bc6;
  text-decoration: none;
}
a.visited,
a:visited {
  color: #005bc6;
}
a.hover,
a:hover {
  color: #004493;
  text-decoration: underline;
}
a.focus,
a:focus {
  color: #004493;
  text-decoration: underline;
}
a.active,
a:active {
  color: #004493;
  text-decoration: underline;
}
b,
strong {
  color: #000000;
  font-weight: bold;
}
em {
  font-style: italic;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
blockquote {
  padding-left: .5rem;
  margin-left: 1.5rem;
  border-left: 0.25em solid #ffffff;
}
pre {
  margin: 0 0 1rem;
  font-family: monospace;
}
code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-weight: normal;
  color: #669966;
}
/* WIDTH */
.w {
  display: block;
  width: 100%;
  *zoom: 1;
}
.w:before,
.w:after,
.w::before,
.w::after {
  display: table;
  line-height: 0;
  content: "";
}
.w:after,
.w::after {
  clear: both;
}
.w > .w20 {
  float: left;
  padding: 0 47px 0 0;
  width: 20%;
}
[dir="rtl"] .w > .w20 {
  float: right;
}
.w > .w25 {
  float: left;
  padding: 0 47px 0 0;
  width: 25%;
}
[dir="rtl"] .w > .w25 {
  float: right;
}
.w > .w33 {
  float: left;
  padding: 0 47px 0 0;
  width: 33%;
}
[dir="rtl"] .w > .w33 {
  float: right;
}
.w > .w40 {
  float: left;
  padding: 0 47px 0 0;
  width: 40%;
}
[dir="rtl"] .w > .w40 {
  float: right;
}
.w > .w50 {
  float: left;
  padding: 0 47px 0 0;
  width: 50%;
}
[dir="rtl"] .w > .w50 {
  float: right;
}
.w > .w60 {
  float: left;
  padding: 0 47px 0 0;
  width: 60%;
}
[dir="rtl"] .w > .w60 {
  float: right;
}
.w > .w66 {
  float: left;
  padding: 0 47px 0 0;
  width: 66%;
}
[dir="rtl"] .w > .w66 {
  float: right;
}
.w > .w75 {
  float: left;
  padding: 0 47px 0 0;
  width: 75%;
}
[dir="rtl"] .w > .w75 {
  float: right;
}
.w > .w80 {
  float: left;
  padding: 0 47px 0 0;
  width: 80%;
}
[dir="rtl"] .w > .w80 {
  float: right;
}
/* UNIVERSAL STYLES */
.close {
  cursor: pointer;
}
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.cg-element {
  /* TAG */
}
.cg-element .tag {
  display: inline;
  padding: 2px 5px;
  margin: 0 10px;
  color: #333333;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #dddcdc;
  border-radius: 3px;
}
@media screen and (max-width: 599px) {
  [class*="l"][class*="-p"] .col {
    width: 100%;
  }
  [class*="l"][class*="-p"] .col + .col {
    padding-left: 0;
  }
}
@media screen and (max-width: 599px) {
  /* SLIDE PANELS */
  .mq-pnl {
    position: relative;
    overflow: hidden;
  }
  .mq-pnl .mq-pnl-static {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }
  .mq-pnl .mq-pnl-static,
  .mq-pnl .mq-pnl-t,
  .mq-pnl .mq-pnl-r,
  .mq-pnl .mq-pnl-b,
  .mq-pnl .mq-pnl-l {
    transition: .5s;
  }
  .mq-pnl .mq-pnl-t,
  .mq-pnl .mq-pnl-b,
  .mq-pnl .mq-pnl-r,
  .mq-pnl .mq-pnl-l {
    position: absolute;
    z-index: 2000;
  }
  .mq-pnl .mq-pnl-t,
  .mq-pnl .mq-pnl-b {
    width: 100%;
  }
  .mq-pnl .mq-pnl-r,
  .mq-pnl .mq-pnl-l {
    top: 0;
    height: 100%;
  }
  .mq-pnl .mq-pnl-t {
    height: 85px !important;
    top: -85px;
  }
  .mq-pnl.mq-pnl-open-t .mq-pnl-t {
    top: 0;
  }
  .mq-pnl.mq-pnl-open-t .mq-pnl-static {
    top: 85px;
  }
  .mq-pnl .mq-pnl-r {
    width: 150px !important;
    right: -150px;
  }
  .mq-pnl.mq-pnl-open-r .mq-pnl-r {
    right: 0;
  }
  .mq-pnl.mq-pnl-open-r .mq-pnl-static {
    right: 150px;
    left: -150px;
  }
  .mq-pnl .mq-pnl-b {
    height: 35px !important;
    bottom: -35px;
  }
  .mq-pnl.mq-pnl-open-b .mq-pnl-b {
    bottom: 0;
  }
  .mq-pnl.mq-pnl-open-b .mq-pnl-static {
    top: -35px;
  }
  .mq-pnl .mq-pnl-l {
    width: 150px !important;
    left: -150px;
  }
  .mq-pnl.mq-pnl-open-l .mq-pnl-l {
    left: 0;
  }
  .mq-pnl.mq-pnl-open-l .mq-pnl-static {
    left: 150px;
  }
}
@media screen and (min-width: 600px) and (max-width: 995px) {
  /* SLIDE PANELS */
  .mq-pnl {
    position: relative;
    overflow: hidden;
  }
  .mq-pnl .mq-pnl-static {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }
  .mq-pnl .mq-pnl-static,
  .mq-pnl .mq-pnl-t,
  .mq-pnl .mq-pnl-r,
  .mq-pnl .mq-pnl-b,
  .mq-pnl .mq-pnl-l {
    transition: .5s;
  }
  .mq-pnl .mq-pnl-t,
  .mq-pnl .mq-pnl-b,
  .mq-pnl .mq-pnl-r,
  .mq-pnl .mq-pnl-l {
    position: absolute;
    z-index: 2000;
  }
  .mq-pnl .mq-pnl-t,
  .mq-pnl .mq-pnl-b {
    width: 100%;
  }
  .mq-pnl .mq-pnl-r,
  .mq-pnl .mq-pnl-l {
    top: 0;
    height: 100%;
  }
  .mq-pnl .mq-pnl-t {
    height: 85px !important;
    top: -85px;
  }
  .mq-pnl.mq-pnl-open-t .mq-pnl-t {
    top: 0;
  }
  .mq-pnl.mq-pnl-open-t .mq-pnl-static {
    top: 85px;
  }
  .mq-pnl .mq-pnl-r {
    width: 150px !important;
    right: -150px;
  }
  .mq-pnl.mq-pnl-open-r .mq-pnl-r {
    right: 0;
  }
  .mq-pnl.mq-pnl-open-r .mq-pnl-static {
    right: 150px;
    left: -150px;
  }
  .mq-pnl .mq-pnl-b {
    height: 35px !important;
    bottom: -35px;
  }
  .mq-pnl.mq-pnl-open-b .mq-pnl-b {
    bottom: 0;
  }
  .mq-pnl.mq-pnl-open-b .mq-pnl-static {
    top: -35px;
  }
  .mq-pnl .mq-pnl-l {
    width: 150px !important;
    left: -150px;
  }
  .mq-pnl.mq-pnl-open-l .mq-pnl-l {
    left: 0;
  }
  .mq-pnl.mq-pnl-open-l .mq-pnl-static {
    left: 150px;
  }
}
/* STYLEGUIDE STYLES */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
.cg-head {
  color: #333;
  font-size: 36px;
  line-height: 48px;
  padding: 20px 0;
  margin: 0;
}
.cg-head-h1 {
  font-size: 36px;
  line-height: 48px;
}
.cg-head > a,
.cg-head > a:active,
.cg-head > a:visited,
.cg-head > a:hover {
  color: #666;
}
.treelist.cg-nav .list-item.cg-nav-side-item {
  background-color: #aaa;
  padding: 0;
}
.treelist.cg-nav .list-item.cg-nav-side-item > a {
  width: 100%;
  padding: 10px;
  margin: 0;
  background-color: #eee;
  color: #666;
}
.treelist.cg-nav .list-item.cg-nav-side-item:hover a {
  background-color: #ccc;
  text-decoration: none;
}
.treelist.cg-nav .list-item.cg-nav-side-item.active {
  border-left: 10px solid #aaa;
  padding-left: 0;
}
.treelist.cg-nav .list-item.cg-nav-side-item.active > a {
  background: #aaa;
  color: #fff;
}
.treelist.cg-nav .list-item.cg-nav-side-heading {
  margin-left: -25px;
  width: 100%;
  padding: 10px;
  background-color: #ddd;
  color: #333;
  outline: 0;
  border: none;
  cursor: default;
}
.l2-p9 {
  padding-top: 0;
}
.cg-heading {
  position: relative;
  padding: 10px 20px;
  margin-bottom: 0;
  background-color: #eee;
  color: #333;
}
.cg-heading-sub {
  background-color: rgba(0, 0, 0, 0);
  margin: 0 20px;
  color: inherit;
}
.cg-element {
  position: relative;
  padding: 20px 200px 20px 20px;
  border-top: 1px solid #eee;
  cursor: default;
}
.cg-element .modal {
  width: 100%;
}
.cg-element .cg-description {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.cg-element .cg-description:last-child {
  margin-bottom: 0;
}
.cg-list {
  padding-left: 20px;
  margin: 0;
  list-style-type: circle;
}
.cg-list > li {
  padding: 5px;
  background-color: #eee;
}
.cg-list > li:nth-child(odd) {
  background-color: #ddd;
}
.cg-list > li:last-child {
  margin-bottom: 0;
}
.cg-modifier-name {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 14px;
  background-color: #eee;
  padding: 5px 10px;
  margin-top: -14px;
  border: 1px solid #d5d5d5;
}
.cg-heading .cg-modifier-name {
  background-color: #fff;
  font-weight: normal;
  padding: 2px 10px;
}
.cg-section {
  min-height: 150px;
}
.cg-section .cg-description .alert {
  color: red;
}
.cg-nav-side-item {
  outline: 0;
}
.cg-code {
  background-color: #272822;
  border-radius: 5px;
  padding: 20px !important;
  overflow: scroll;
}
.cg-code.evt-toggled {
  height: 50px;
}
.cg-code > code {
  color: #ccc;
  display: block;
  white-space: pre;
}
.cg-code ol.linenums {
  padding: 0;
  margin-left: 30px;
}
.cg-layout {
  padding: 0;
}
.cg-layout .col {
  padding: 10px 0;
  background-color: #aca;
  border-right: 3px solid #fff;
}
.cg-layout .col:last-child {
  border-right-width: 0;
}
pre.prettyprint {
  white-space: pre !important;
  overflow: scroll;
  margin: 5px 20px 20px;
}
.cg-toggler {
  border: 1px solid black;
  border-width: 1px 1px 0 1px;
  background-color: #eee;
  display: inline-block;
  margin-left: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 4px;
  font-size: 12px;
  cursor: pointer;
}
.cg-toggler + .cg-code {
  margin-top: 0;
}
.cg-toggler + .cg-toggled.cg-code {
  height: auto;
}
.cg-layout .w20,
.cg-layout .w25,
.cg-layout .w33,
.cg-layout .w40,
.cg-layout .w50,
.cg-layout .w60,
.cg-layout .w66,
.cg-layout .w75,
.cg-layout .w80 {
  padding: 10px 0;
  background-color: #aca;
  border-right: 3px solid #fff;
}
.cg-layout .w20:last-child,
.cg-layout .w25:last-child,
.cg-layout .w33:last-child,
.cg-layout .w40:last-child,
.cg-layout .w50:last-child,
.cg-layout .w60:last-child,
.cg-layout .w66:last-child,
.cg-layout .w75:last-child,
.cg-layout .w80:last-child {
  border-right-width: 0;
}
@media screen and (max-width: 599px) {
  body {
    min-width: 320px;
  }
  .cg-element.mq-pnl {
    padding: 0;
  }
  .cg-element.mq-pnl .l1-p1 {
    padding: 0;
  }
  .cg-element.mq-pnl .l3-p7 {
    padding: 0 10px;
  }
  .cg-element.mq-pnl .col + .col {
    padding: 0;
  }
  .cg-element.mq-pnl .mq-pnl-r,
  .cg-element.mq-pnl .mq-pnl-b,
  .cg-element.mq-pnl .mq-pnl-l {
    background-color: #efefef;
  }
  .slide-nav .btn {
    margin: 0;
    font-size: 10px;
  }
}
@media screen and (min-width: 600px) and (max-width: 995px) {
  .cg-element.mq-pnl {
    padding: 0;
  }
  .cg-element.mq-pnl .l1-p1 {
    padding: 0;
  }
  .cg-element.mq-pnl .l3-p7 {
    padding: 0;
  }
  .cg-element.mq-pnl .l3-p7 > .col {
    width: 100%;
    padding: 0 10px;
  }
  .cg-element.mq-pnl .mq-pnl-r,
  .cg-element.mq-pnl .mq-pnl-b,
  .cg-element.mq-pnl .mq-pnl-l {
    background-color: #efefef;
  }
}
@media screen and (min-width: 996px) {
  .slide-nav {
    display: none;
  }
  .cg-element.mq-pnl {
    padding: 0;
  }
  .cg-element.mq-pnl .l1-p1 {
    padding: 0;
  }
  .cg-element.mq-pnl .l3-p7 {
    padding: 0;
  }
  .cg-element.mq-pnl .col + .col {
    padding: 0;
  }
  .cg-element.mq-pnl .mq-pnl-r,
  .cg-element.mq-pnl .mq-pnl-b,
  .cg-element.mq-pnl .mq-pnl-l {
    background-color: #efefef;
  }
}
