/* IMPORTS */
@import "../../less/_normalize.less";
@import (reference) "../../less/_variables.less";
@import (reference) "../../less/_mixins.less";
@import "../../less/_typography.less";
@import "../../less/_button.less";
@import "../../less/_button-group.less";
@import "../../less/_select";
@import "../../less/_layout.less";
@import "../../less/_input-group.less";
@import "../../less/_searchbar.less";
@import "../../less/_typography.less";
@import "../../less/_transport.less";
@import "../../less/_treelist.less";

/* STYLEGUIDE STYLES */

html {
    // Box-model
    .box(border);
    height: 100%;
}

*,
*:before,
*:after {
    // Box-model
    .box(inherit);
}

.cg-head {
    color: #333;
    font-size: 36px;
    line-height: 48px;
    padding: @sg-padding 0;
    margin: 0;

    &-h1 {
        font-size: 36px;
        line-height: 48px;
    }

    > a,
    > a:active,
    > a:visited,
    > a:hover {
        color: #666;
    }
}



.treelist.cg-nav {

    .list-item {
        &.cg-nav-side-item {
            background-color: #aaa;
            padding: 0;

            > a {
                width: 100%;
                padding: 10px;
                margin: 0;
                background-color: #eee;
                color: #666;
            }

            &:hover a {
                background-color: #ccc;
                text-decoration: none;
            }

            &.active {
                border-left: 10px solid #aaa;
                padding-left: 0;

                > a {
                    background: #aaa;
                    color: #fff;
                }
            }
        }

        &.cg-nav-side-heading {
            margin-left: -25px;
            width: 100%;
            padding: 10px;
            background-color: #ddd;
            color: #333;
            outline: 0;
            border: none;
            cursor: default;
        }
    }

}

@sg-padding: 20px;

.l2-p9 {
    padding-top: 0;
}

.cg-heading {
    position: relative;
    padding: (@sg-padding / 2) @sg-padding;
    margin-bottom: 0;
    background-color: #eee;
    color: #333;
    
    &-sub {
        background-color: rgba(0, 0, 0, 0);
        margin: 0 20px;
        color: inherit;
    }
}
.cg-element {
    position: relative;
    padding: @sg-padding 200px @sg-padding @sg-padding;
    border-top: 1px solid #eee;
    cursor: default;

    .cg-description {
        .fontsize(1.6);
        margin-bottom: @sg-padding;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.cg-list {
    padding-left: 20px;
    margin: 0;
    list-style-type: circle;

    > li {
        padding: 5px;
        background-color: #eee;

        &:nth-child(odd) {
            background-color: #ddd;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.cg-modifier-name {
    position: absolute;
    top: 50%;
    right: @sg-padding;
    font-size: 14px;
    background-color: #eee;
    padding: 5px 10px;
    margin-top: -14px;
    border: 1px solid darken(#eee, 10%);

    .cg-heading & {
        background-color: #fff;
        font-weight: normal;
        padding: 2px 10px;
    }
}
.cg-section {
    min-height: 150px;
}
.cg-nav-side-item {
    outline: 0;
}
.cg-code {
    background-color: #272822;
    border-radius: 5px;
    padding: 0 20px;
    overflow: scroll;

    > code {
        color: #ccc;
        display: block;
        white-space: pre;
    }
}
.cg-layout {
    padding: 0;
    .col {
        padding: 10px 0;
        background-color: #aca;
        border-right: 3px solid #fff;
        &:last-child {
            border-right-width: 0;
        }
    }
}
pre.prettyprint {
    white-space: pre !important;
    overflow: scroll;
    margin: 5px 20px 20px;
}