/* AUTOCOMPLETE */

.ui-helper-hidden-accessible {
	.hidden;
}

.ui-autocomplete {
	.fontfamily(sans);
	.fontsize(@ac-size);
	.radius(0);

	z-index: @index-1;

	padding: 0;

	color: @ac-color;
	list-style-type: none;

	background-color: @ac-bgcolor;
	background-image: none !important; // important needed to override jQuery UI image
	border: 1px solid @ac-bordercolor;
	.ui-menu-item {
		margin: 0;
		a {
			.truncate;

			display: block;
			padding: 6px 4px;

			line-height: 1.25em;
			color: @ac-result-color;
			cursor: pointer;
			> strong {
				color: @ac-result-color;
			}
			&.ui-state-focus,
			&.ui-state-active {
				margin: 0;

				color: @ac-result-color-hover;

				background-color: @ac-result-bgcolor-hover;
				> strong {
					color: @ac-result-color-hover;
				}
			}
		}
		&:hover a {
			color: @ac-result-color-hover;
			text-decoration: none;

			background-color: @ac-result-bgcolor-hover;
			> strong {
				color: @ac-result-color-hover;
			}
		}
		&:first-child {
			margin-top: 0;
			a {
				&.ui-state-focus,
				&.ui-state-active {
					margin-top: 0;
				}
			}
		}
		&:last-child {
			margin-bottom: 0;
			a {
				&.ui-state-focus,
				&.ui-state-active {
					margin-bottom: 0;
				}
			}
		}
	}
	.ui-corner-all {
		.radius(0);

		background-image: none;
		border-style: solid;
		border-width: 0;
	}
}
