/* BUTTON GROUP */

.btn-group {
    // Positioning
    position: relative;
    
    // Box-model
    display: inline;

    > .transport {
        display: inline-block;

        > .top,
        > .right,
        > .bottom,
        > .left {
            position: relative;
            right: -4px;
        }
        > .top {
            margin-top: 2.5px;
            margin-bottom: 2.5px;
            border-width: 5px;
            top: -2px;
        }
        > .right {
            margin-right: ;
            margin-left: 2.5px;
            border-width: 5px;
            border-right-width: 0;
            top: 1px;
        }
        > .bottom {
            margin-bottom: 2.5px;
            margin-top: 2.5px;
            border-width: 5px;
            top: 4px;
        }
        > .left {
            margin-left: 0;
            margin-right: 2.5px;
            border-width: 5px;
            border-left-width: 0;
       }
    }
}