/* BUTTONS */

button,
input[type="submit"],
input[type="reset"],
.btn {
    // Box-model
    display: inline-block;
    width: auto;
    height: 30px;
    padding: 0 15px;
    
    // Typography
    .fontsize(1.4);
    color: @btn-color;
    text-decoration: none;
    
    // Visual
    cursor: pointer;
    background-color: @btn-bgcolor;
    border: 1px solid @btn-bordercolor;
    -moz-border-radius: @radius;
         border-radius: @radius;
    
    &:hover {
        // Typography
        color: @btn-color-hover;
        
        // Visual
        background-color: @btn-bgcolor-hover;
        
    }

    // TEXT ONLY BUTTONS
    &.txt {
        // Typography
        color: @btn-color-txt;
        
        // Visual
        background-color: @btn-bgcolor-txt;
        border: @btn-bordercolor-txt;
        
        &:hover {
            // Typography
            color: @btn-bgcolor-txt-hover;
            text-decoration: underline;
        }
    }

    // LEFT MARGIN FOR BUTTON ROWS
    & + & {
        // Box-model
        margin-left: 10px;
    }

    // STATES
    &.action {
        // Typography
        color: @btn-action-color;
        
        // Visual
        background-color: @btn-action-bgcolor;
        border-color: @btn-action-bordercolor;

        &:hover {
            // Visual
            background-color: @btn-action-bgcolor-hover;
            border-color: @btn-action-bordercolor-hover;
        }
    }

    &.primary {
        // Typography
        color: @btn-primary-color;
        
        // Visual
        background-color: @btn-primary-bgcolor;
        border-color: @btn-primary-bordercolor;

        &:hover {
            // Visual
            background-color: @btn-primary-bgcolor-hover;
            border-color: @btn-primary-bordercolor-hover;
        }
    }

    &.cancel {
        // Typography
        color: @btn-cancel-color;
        
        // Visual
        background-color: @btn-cancel-bgcolor;
        border-color: @btn-cancel-bordercolor;

        &:hover {
            // Visual
            background-color: @btn-cancel-bgcolor-hover;
            border-color: @btn-cancel-bordercolor-hover;
        }
    }

    &.search {
        // Typography
        color: @btn-search-color;
        
        // Visual
        background-color: @btn-search-bgcolor;
        border-color: @btn-search-bordercolor;

        &:hover {
            // Visual
            background-color: @btn-search-bgcolor-hover;
            border-color: @btn-search-bordercolor-hover;
        }
    }

    &.disabled,
    button[disabled],
    input[type="submit"][disabled],
    input[type="reset"][disabled] {
        // Typography
        color: @btn-disabled-color;
        cursor: default;
        
        // Visual
        background-color: @btn-disabled-bgcolor;
        border-color: @btn-disabled-bordercolor;

        &:hover {
            // Visual
            background-color: @btn-disabled-bgcolor-hover;
        }
    }
}

// BUTTON GROUPS
.btn-group {
    // Box-model
    margin-bottom: 1em;

    .clearfix;
    .grp-btn,
    .grp-input,
    .grp-dropdown {
        // Box-model
        float: left;

        // Visual
        -moz-border-radius: @radius;
             border-radius: @radius;
        border-left-width: 0;
        
    }

    .grp-btn + .grp-btn {
        // Box-model
        margin-left: 0;
    }

    :last-child,
    .last { // IE support
        // Visual
        -moz-border-radius: 0 @radius @radius 0;
             border-radius: 0 @radius @radius 0;

    }
    
    :first-child,
    .first { //IE support
        // Visual
        -moz-border-radius: @radius 0 0 @radius;
             border-radius: @radius 0 0 @radius;
        border-left-width: 1px;
    }   
}

button {
    .transporthover; // what is this?
}