// Buttons
// 
// I am going to assume that you know what a button is.
// 
// Styleguide 2

// Basic Buttons
// 
// A majority of buttons in the site are built from the same base class.
// 
// Markup:
// <button class="{{modifier_class}}">Button Element</button>
// 
// .btngrade                 - Cursor hover state
// .btn.hover                - Cursor hover state
// 
// Styleguide 2.1

// Search Button
// 
// The basic search button. It lives on almost every page.
// 
// Markup:
// <button class="btn {{modifier_class}}">Button Element</button>
// 
// .search               - Used in search pattern
// .search.hover         - Used in search pattern
// 
// Styleguide 2.2

// Primary Button
// 
// This button mostly gets used on forms and modals.
// 
// Markup:
// <button class="btn {{modifier_class}}">Button Element</button>
// 
// .primary              - Primary button choice
// .primary.hover        - Primary button choice
// 
// Styleguide 2.3

// Cancel Button
// 
// This button mostly gets used on forms and modals.
// 
// Markup:
// <button class="btn {{modifier_class}}">Button Element</button>
// 
// .primary              - Cancel button choice
// .primary.hover        - Cancel button choice
// 
// Styleguide 2.4

// Disabled Button
// 
// A majority of buttons in the site are built from the same base class.
// 
// Markup:
// <button class="btn {{modifier_class}}">Button Element</button>
// 
// .disabled             - Disabled input state
// .disabled.hover       - Disabled input state
// 
// Styleguide 2.5

.btn {
	.fontsize(1.9);

	@btn-height: 40px;
	@color: #333;

	& + & {
		margin-left: 10px;
	}

	height: @btn-height;
	padding: 0 21px;
	border-width: 1px;
	border-style: solid;
	background-color: @btn-bg;
	border-color: @btn-border;
	&:hover {
		background-color: @btn-bg-hover;
		border-color: @btn-border-hover;
	}

	vertical-align: top;
	cursor: pointer;

	border-color: @btn-border;
	border-radius: 4px;
	.icon {
		display: none; // WHAT IS THIS DOING?
	}
	// button variations
	@list: primary, search, cancel, disabled;
	.loop(@arrayLength, @index: 1) when (@index =< @arrayLength) {
		@classVal: extract(@list, @index);

		&.@{classVal} {
			// change stuff for the searchbar buttons
			& when (@classVal = search) {
				background-color: ~'@{btn-@{classVal}-bg}';
				border-color: ~'@{btn-@{classVal}-border}';
				color: @colorS1;

				height: @searchbar-input-height;

				&:hover {
					background-color: ~'@{btn-@{classVal}-bg-hover}';
					border-color: ~'@{btn-@{classVal}-border-hover}';
				}
			}
			// change stuff for the primary buttons
			& when (@classVal = primary) {
				background-color: ~'@{btn-@{classVal}-bg}';
				border-color: ~'@{btn-@{classVal}-border}';
				color: @color;

				&:hover {
					background-color: ~'@{btn-@{classVal}-bg-hover}';
					border-color: ~'@{btn-@{classVal}-border-hover}';
				}
			}
			// light colored backgrounds require a darker font-color
			& when (@classVal = cancel) {
				background-color: ~'@{btn-@{classVal}-bg}';
				border-color: ~'@{btn-@{classVal}-border}';

				color: @color;
				// color: ~'@{btn-@{classVal}-color}';
				&:hover {
					background-color: ~'@{btn-@{classVal}-bg-hover}';
					border-color: ~'@{btn-@{classVal}-border-hover}';
				}
			}
			// disabled buttons are... disabled!
			& when (@classVal = disabled) {
				background-color: ~'@{btn-@{classVal}-bg}';
				border-color: ~'@{btn-@{classVal}-border}';

				color: ~'@{btn-@{classVal}-color}';
				&:hover {
					background-color: ~'@{btn-@{classVal}-bg}';
					border-color: ~'@{btn-@{classVal}-border}';
				}
			}
		}

		.loop(@arrayLength, (@index + 1));
	}
	.loop( length(@list) );
}