/* CAROUSEL */

// Carousel
// 
// Markup:
// <div class="msg {{modifier_class}}"></div>
// 
// .msg-alert			- alert messaging
// 
// Styleguide 4

.carousel {
	width: 100%;
	padding: 0;

	border: @carousel-border;

	.pos(relative);
	.carousel-img {
		width: 100%;

		border: 1px solid @carousel-img-border;
		> .img {
			display: block;
			width: 100%;

			border: none;
		}
	}
	.carousel-nav {
		width: 100%;
		height: 55px;
		margin: 15px 0 0;
		overflow: hidden;

		.clearfix;
		.pos(relative);
	}
	.carousel-inner {
		padding: 0;

		list-style-type: none;

		.pos(relative);
	}
	// CAROUSEL SPECIFIC STYLES
	.transport {
		top: -47px;
		right: 10px;

		.pos(absolute);
		&:nth-child(3),
		.last {
			right: 0;
			.right {
				margin: 0 0 5px;
			}
		}
	}
}
