/* CAROUSEL */

.carousel {
    // Positioning
    .pos(relative);
    
    // Box-model
    .box(border);
    width: 100%;
    padding: 0;
    
    // Visual
    border: @carousel-border;

    .carousel-img {
        // Box-model
        .box(border);
        width: 100%;
        
        // Visual
        border: 1px solid @carousel-img-border;

        > .img {
            // Box-model
            display: block;
            width: 100%;
            
            // Visual
            border: none;
        }
    }

    .carousel-nav {
        // Positioning
        .pos(relative);

        // Box-model
        width: 100%;
        height: 55px;
        margin: 15px 0 0;
        overflow: hidden;
        .clearfix;
    }

    .carousel-inner {
        // Positioning
        .pos(relative);
        
        // Box-model
        padding: 0;

        // Visual
        list-style-type: none;
    }
}