/* CONTENTBOX */

/* THIS IS OLD... DELETE? */

// Content
// 
// Markup:
// <div class="contentbox">
// 	<img class="contentbox-img" src="http://cl.ly/image/0k0v2L2q0W1a/jpeg.jpg" />
// 	<div class="contentbox-info">
// 		<div class="contentbox-heading">Heading</div>
// 		Some content here, for your enjoyment!
// 	</div>
// </div>
// 
// Styleguide 5

.contentbox {
	.contentbox-img {
		float: left;
		width: 15px;
	}
	.contentbox-info {
		margin-left: 165px;
		.contentbox-heading {
			margin-top: 10px;

			border-bottom: 1px solid @content-border;
			> a {
				text-decoration: none;
			}
		}
	}
}
