/* CONTENTBOX */

.contentbox {
	.contentbox-img {
		float: left;
		width: 15px;
	}
	.contentbox-info {
		margin-left: 165px;
		.contentbox-heading {
			margin-top: 10px;

			border-bottom: 1px solid @content-border;
			> a {
				text-decoration: none;
			}
		}
	}
}
