/* CONTENTBOX */

.contentbox {
    .contentbox-img {
        // Box-model
        float: left;
        width: 15px;
    }

    .contentbox-info {
        // Box-model
        margin-left: 165px;

        .contentbox-heading {
            // Box-model
            margin-top: 10px;
            
            // Visual
            border-bottom: 1px solid @content-border;
            
            > a {
                // Typography
                text-decoration: none;
            }
        }
    }
}