/* DROPDOWNS */
.dd {
    // Positioning
    position: relative;
    
    // Box-model
    display: inline-block;
    
    // Typography
    line-height: normal;
    
    // Visual
    -moz-border-radius: @radius;
         border-radius: @radius;

    .dd-list {
        // Positioning
        .pos(absolute);
        top: 28px;
        left: -1px;
        z-index: 10;
        
        // Box-model
        min-width: 100px;
        padding: 0;
        
        // Typography
        list-style-type: none;
        background-color:@dd-list-bgcolor;
        border: 1px solid @dd-list-bordercolor;
        -moz-border-radius: @radius;
             border-radius: @radius;
    }

    .dd-label {
        // Box-model
        display: block;
        padding: .25rem .5rem;
        
        // Typography
        white-space: nowrap;
        cursor: pointer;
        
        &:hover {
            // Typography
            color: @dd-label-color-hover;
            
            // Visual
            background-color: @dd-label-bgcolor-hover;
        }
    }

    .dd-input {
        // Positioning
        .pos(absolute);
        left: -9999px;
        
        &:checked + .dd-label {
            // Typography
            color: @dd-input-color;
            
            // Visual
            background-color: @dd-input-bgcolor;

            &:hover {
                // Visual
                background-color: @dd-input-bgcolor-hover;
            }
        }
    }

    .dd-active {
        // Box-model
        display: inline-block;
        padding: .25rem .5rem;
        
        // Typography
        color: @font-color;
        text-decoration: none;
        cursor: pointer;
        
        &.open {
            ~ .dd-list {
                // Box-model
                display: inline-block;
            }
        }
    }
}

// when a dropdown is in a button group
.btn-group {
    .dd {
        &:last-child,
        &.last {
            .dd-active {
                // Visual
                -moz-border-radius: 0 @radius @radius 0;
                     border-radius: 0 @radius @radius 0;
                border-left-width: 0;
                
            }
        }

        &:first-child,
        &.first {
            // Positioning
            float: left;

            .dd-active {
                // Visual
                -moz-border-radius: @radius 0 0 @radius;
                     border-radius: @radius 0 0 @radius;
                border-left-width: 1px;
            }
        }   
    }
}