// layout loop
@media @mq-md, @mq-lg, @mq-xl {
	.grid {
		// the items to loop through
		@list: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
		// get the length of @list
		@listLength: length(@list);

		// loop
		.loop(@arrayLength, @index: 1) when (@index =< @arrayLength) {
			// break out the value from the list
			@arrayVal: extract(@list, @index);
			// create the percent by dividing the arrayVal by the listLength
			@pcnt: percentage(@arrayVal / @listLength);
			// this declaration block gets output. once per key in the @list array 
			.col@{arrayVal} {
				display: block;
				float: left;
				width: @pcnt;
				padding: 0 15px;
			}
			// loop the loop
			.loop(@arrayLength, (@index + 1));
		}
		// do all the loop stuff
		.loop(@listLength);
	}
	// other CSS for the container of the new columns
	.grid {
		width: 100%;
		&:before,
		&:after {
			display: table;
			clear: both;

			content: '';
		}
	}
}