// Headings
// 
// These are inputs with something else attached to them, such as a button, or a select menu.
// 
// Styleguide 7

.headings(6); // will error if more than 6

.heading {
	color: @colorP2;
}

.subheading {
	font-weight: normal;
	color: @subheading-color;
}
