/* HEADING */

.headings(6); // will error if more than 6

.heading {
    // Typography
    color: @heading-color;
}

.subheading {
    // Typography
    color: @subheading-color;
    font-weight: normal;
}