// Headings
// 
// These are inputs with something else attached to them, such as a button, or a select menu.
// 
// Styleguide 7

// Headings 1-6
// 
// Markup:
// <{{modifier_class}}>Heading</{{modifier_class}}>
//
// h1                 - h1
// h2                 - h2
// h3                 - h3
// h4                 - h4
// h5                 - h5
// h6                 - h6
// 
// Styleguide 7.1

.headings(6); // will error if more than 6

.heading {
	color: @colorP2;
}

.subheading {
	font-weight: normal;
	color: @subheading-color;
}
