/* INPUTS */

// TEXT INPUTS
input {
    // Box-model
    width: 100%;
    height: @input-height; // same as @btn-height
    padding: 2.5px 23px 2.5px 5px;

    // Typography
    .fontsize(1.4);
    .fontfamily(lucida);
    color: @colorS4;
    
    // Visual
    border: 1px solid @input-bordercolor;
    -moz-border-radius: @radius;
         border-radius: @radius;

    &:disabled,
    &.disabled {
        border-color: @input-disabled-bordercolor;        
    }
}

.input-reset {
    position: relative;

    > input {

        + .reset {
            // Positioning
            position: absolute;
            top: 2px;
            right: 2px;

            // Box-model
            width: 25px;
            height: @input-height - 4; // take into account the border and border radius
            padding: 0;
            
            // Typography
            .fontsize(1.5);
            line-height: 1.5rem;
            color: @input-reset-color;

            // Visual
            background-color: @input-reset-bgcolor;
            border: @input-reset-bordercolor;
            border-radius: 0;

            &:hover {
                // Typography
                color: @input-reset-color-hover;
            }
        }
    }
}

// RADIO / CHECKBOXES
input[type="radio"],
input[type="checkbox"] {
    // Box-model
    margin: 5px;
}

label {
    // Box-model
    padding-right: 1px;
    
    &:active {
        // Typography
        text-decoration: underline;
    }
}