//
	// EDNA
//
/**********
	INPUTS
**********/

// TEXT INPUTS
input[type=text],
input[type=search],
textarea {
	width: 100%;
	padding: 2.5px 5px;
	border: 1px solid @search-border;
	.radius;
	.fontsize(1.4);
	color: @colorS4;
	.box(border);
}

// RADIO / CHECKBOXES
input[type=radio],
input[type=checkbox] {
	margin: 5px;
}
label {
	padding-right: 1px;
	&:active {
		text-decoration: underline;
	}	
}

// RADIO / CHECKBOXES
.cb-list {
	list-style: none;
	padding-left: 0;
}
.cb-inline li {
	display: inline;
	padding: 0 0 1px;
}