// Input
// 
// These are inputs, though some of them have a clear button.
// 
// Styleguide 8

// Basic Input
// 
// Markup:
// <input type="text" placeholder="placeholder text" tabindex="1" />
// 
// Styleguide 8.1


// Disabled
// 
// Markup:
// <input type="text" placeholder="placeholder text" disabled />
// 
// Styleguide 8.2


// Default with reset
// 
// Markup:
// <form class="input-reset">
//     <input type="text" placeholder="placeholder text" tabindex="1" />
//     <input class="reset" type="reset" value="X" tabindex="2" />
// </form>
// 
// Styleguide 8.3


// TEXT INPUTS
input {
	width: 100%;
	height: @input-height; // same as @btn-height
	padding: 2.5px 23px 2.5px 5px;

	color: @colorS4;

	border: 1px solid @input-bordercolor;
	-moz-border-radius: @radius;
	     border-radius: @radius;

	.fontfamily(lucida);
	.fontsize(1.4);
	&:disabled,
	&.disabled {
		border-color: @input-disabled-bordercolor;
	}
}

.input-reset {
	position: relative;
	> input {
		+ .reset {
			position: absolute;
			top: 2px;
			right: 2px;

			width: 25px;
			height: @input-height - 4; // take into account the border and border radius
			padding: 0;

			line-height: 1.5rem;
			color: @input-reset-color;

			background-color: @input-reset-bgcolor;
			border: @input-reset-bordercolor;
			border-radius: 0;

			.fontsize(1.5);
			&:hover {
				color: @input-reset-color-hover;
			}
		}
	}
}

// RADIO / CHECKBOXES
input[type='radio'],
input[type='checkbox'] {
	margin: 5px;
}

label {
	padding-right: 1px;
	&:active {
		text-decoration: underline;
	}
}
