/* INPUTS */
// TEXT INPUTS
input[type="text"],
input[type="search"],
textarea {
    // Box-model
    .box(border);
    width: 100%;
    padding: 2.5px 5px;
    
    // Typography
    .fontsize(1.4);
    color: @colorS4;
    
    // Visual
    border: 1px solid @input-bordercolor;
    -moz-border-radius: @radius;
         border-radius: @radius;
}

// RADIO / CHECKBOXES
input[type="radio"],
input[type="checkbox"] {
    // Box-model
    margin: 5px;
}

label {
    // Box-model
    padding-right: 1px;
    &:active {
        // Typography
        text-decoration: underline;
    }   
}

// RADIO / CHECKBOXES
.cb-list {
    // Box-model
    padding-left: 0;
    
    // Visual
    list-style: none; 
}

.cb-inline li {
    // Box-model
    display: inline;
    padding: 0 0 1px;
}