/* INPUT GROUP */

@import '../less/_input.less';

.input-group {
	display: table-row;
	> .btn {
		display: table-cell;

		vertical-align: top;
	}
	> input {
		display: table-cell;

		vertical-align: top;
	}
}
.input-group-btn {
	display: table-cell;
	padding-left: 10px;

	vertical-align: top;
}
.input-reset {
	display: table-cell;

	vertical-align: top;
	+ .btn {
		margin-left: 15px;
	}
}
