/* LAYOUT */

.col {
	.ie7 & {
		display: inline;
		float: left;
	}
}

.l1 {
	// IE7
	.ie7 & {
		&-p1 {
			clear: both;
			> .col {
				width: 100%;
			}
		}
	}
	// IE8
	.ie8 & {
		&-p1 {
			float: left;
			clear: both;
		}
	}
}

.l2 {
	// IE7
	.ie7 &,
	.ie8 & {
		// 80 20
		&-p1 {
			clear: both;
			> .col {
				width: 80%;
				+ .col {
					width: 20%;
				}
			}
		}
		// 75 25
		&-p2 {
			> .col {
				width: 75%;
				+ .col {
					width: 25%;
				}
			}
		}
		// 66 33
		&-p3 {
			> .col {
				width: 66%;
				+ .col {
					width: 33%;
				}
			}
		}
		// 60 40
		&-p4 {
			> .col {
				width: 60%;
				+ .col {
					width: 40%;
				}
			}
		}
		// 50 50
		&-p5 {
			> .col {
				width: 50%;
				+ .col {
					width: 50%;
				}
			}
		}
		// 40 60
		&-p6 {
			> .col {
				width: 40%;
				+ .col {
					width: 60%;
				}
			}
		}
		// 33 66
		&-p7 {
			> .col {
				width: 33%;
				+ .col {
					width: 50%;
				}
			}
		}
		// 25 75
		&-p8 {
			> .col {
				width: 25%;
				+ .col {
					width: 75%;
				}
			}
		}
		// 20 80
		&-p9 {
			> .col {
				width: 20%;
				+ .col {
					width: 80%;
				}
			}
		}
	}
}

.l3 {
	// IE7
	.ie7 &,
	.ie8 & {
		// 60 20 20
		&-p1 {
			clear: both;
			> .col {
				width: 60%;
				+ .col {
					width: 20%;
					+ .col {
						width: 20%;
					}
				}
			}
		}
		// 50 25 25
		&-p2 {
			> .col {
				width: 50%;
				+ .col {
					width: 25%;
					+ .col {
						width: 25%;
					}
				}
			}
		}
		// 40 40 20
		&-p3 {
			> .col {
				width: 40%;
				+ .col {
					width: 40%;
					+ .col {
						width: 20%;
					}
				}
			}
		}
		// 40 20 40
		&-p4 {
			> .col {
				width: 40%;
				+ .col {
					width: 20%;
					+ .col {
						width: 40%;
					}
				}
			}
		}
		// 33 33 33
		&-p5 {
			> .col {
				width: 33%;
				+ .col {
					width: 33%;
					+ .col {
						width: 33%;
					}
				}
			}
		}
		// 25 25 50
		&-p6 {
			> .col {
				width: 25%;
				+ .col {
					width: 25%;
					+ .col {
						width: 50%;
					}
				}
			}
		}
		// 25 50 25
		&-p7 {
			> .col {
				width: 25%;
				+ .col {
					width: 50%;
					+ .col {
						width: 25%;
					}
				}
			}
		}
		// 20 20 60
		&-p8 {
			> .col {
				width: 20%;
				+ .col {
					width: 20%;
					+ .col {
						width: 60%;
					}
				}
			}
		}
		// 20 60 20
		&-p9 {
			> .col {
				width: 20%;
				+ .col {
					width: 60%;
					+ .col {
						width: 20%;
					}
				}
			}
		}
	}
}

.l4 {
	// IE7
	.ie7 &,
	.ie8 & {
		// 40 20 20 20
		&-p1 {
			clear: both;
			> .col {
				width: 40%;
				+ .col {
					width: 20%;
					+ .col {
						width: 20%;
						+ .col {
							width: 20%;
						}
					}
				}
			}
		}
		// 25 25 25 25
		&-p2 {
			> .col {
				width: 25%;
				+ .col {
					width: 25%;
					+ .col {
						width: 25%;
						+ .col {
							width: 25%;
						}
					}
				}
			}
		}
		// 20 20 20 40
		&-p3 {
			> .col {
				width: 20%;
				+ .col {
					width: 20%;
					+ .col {
						width: 20%;
						+ .col {
							width: 40%;
						}
					}
				}
			}
		}
		// 20 20 40 20
		&-p4 {
			> .col {
				width: 20%;
				+ .col {
					width: 20%;
					+ .col {
						width: 40%;
						+ .col {
							width: 20%;
						}
					}
				}
			}
		}
		// 20 40 20 20
		&-p5 {
			> .col {
				width: 20%;
				+ .col {
					width: 40%;
					+ .col {
						width: 20%;
						+ .col {
							width: 20%;
						}
					}
				}
			}
		}
	}
}

.l5 {
	// IE7
	.ie7 &,
	.ie8 & {
		// 20 20 20 20 20
		&-p1 {
			clear: both;
			> .col {
				width: 20%;
				+ .col {
					width: 20%;
					+ .col {
						width: 20%;
						+ .col {
							width: 20%;
							+ .col {
								width: 20%;
							}
						}
					}
				}
			}
		}
	}
}
