/* LAYOUT - FIXED */

.fixed-l {

    .ie7 & {

        // styles here

    }

    // IE8
    .ie8 & {

        // styles here

    }

    // IE9
    .ie9 & {

        // styles here

    }

    // IE10
    .ie10 & {

        // styles here

    }

}

.fixed-r {

    .ie7 & {
        > .col {
            // Box-model
            width: 63%;
        }
    }

    // IE8
    .ie8 & {
        > .col {
            // Box-model
            width: 63%;
            
            &.fw425 {
                + .col {
                    // Box-model
                    width: 33%;
                }
            }
        }
    }

    // IE9
    .ie9 & {
        > .col:nth-child(1) {
            // Box-model
            width: 64%;
        }
    }

    // IE10
    .ie10 & {
        > .col:nth-child(1) {
            // Box-model
            width: 64%;
        }
    }

}