// SMALL
@media screen and ( e(@mq-sm) ) {
	[class*="l"][class*="-p"] {
		.col {
			display: table;
			width: 100%;

			+ .col {
				padding-left: 0;
			}
		}
	}
}
 
// MEDIUM
@media screen and ( e(@mq-md) ) {
	// here be Nicholas Cage
}
 
// LARGE
@media screen and ( e(@mq-lg) ) {
	// here be hooligans
}
 
// XLARGE
@media screen and ( e(@mq-xl) ) {
	// here be goblins
}