/* LISTS */

ul,
ol {
    // Box-model
    padding: 0 0 1rem 1rem;
    margin: 0;
}

// nested list - adjusts the spacing of a nested list
li {
    > ul,
    > ol {
        // Box-model
        padding: .5rem 0 .5rem 1rem;
    }
}

// DEFINITION List
dl {
    // Box-model
    padding: 0 0 1rem;
    margin: 0;
}

dd {
    // Box-model
    padding: 0 0 .125rem 2rem;
    margin: 0;
}

// RESET LIST
ul,
ol {
    &.base {
        // Box-model
        padding: 0;
        margin: 0;

        // Visual
        list-style-type: none;

        > li {
            // Box-model
            padding: 0;
            margin: 0;
        }   
    }
}

// UNORDERED LIST STYLE TYPES
.disc {
    // Visual
    list-style: disc;
}

.circle {
    // Visual
    list-style: circle
}

.square {
    // Visual
    list-style: square;
}

// ORDERED LIST STYLE TYPES
.decimal {
    // Visual
    list-style: decimal;    
}

.lower-alpha {
    // Visual
    list-style: lower-alpha;    
}

.upper-alpha {
    // Visual
    list-style: upper-alpha;    
}

.lower-roman {
    // Visual
    list-style: lower-roman;    
}

.upper-roman {
    // Visual
    list-style: upper-roman;    
}

// CITATION EXAMPLE
.citation {
    > dt {
        // Box-model
        float: left;
        padding: 5px 5px 5px 0;
        clear: left;
        
        // Typography
        font-weight: bold;
    }
    
    > dd {
        // Visual
        padding: 5px;
    }
}


// TREELIST EXAMPLE
.tree-list {
    // Box-model
    padding: 0;
    
    // Visual
    list-style-type: none;
    
    > .tree-list {
        // Box-model
        margin-left: 15px;
    }

    .list-item {
        // Box-model
        margin-bottom: 3px;

        a {
            // Typography
            text-decoration: none;
        }

        &:before,
        &::before {
            // Box-model
            display: inline-block;
            width: 5px;
            padding-right: 0;
            
            // Typography
            .fontsize(1);
            color: @treelist-before-color;
            
            // Visual
            content: '\25FC';
        }

        .before { // local mixin
            // Box-model
            height: 14px;
            
            // Typography
            .fontsize(1.6);
            color: @treelist-before-color;            
        }

        &.expand {
            &:before,
            &::before {
                .before;
                // Visual
                content: '\229E';
            }
        }

        &.collapse {
            &:before,
            &::before {
                .before;
                // Visual
                content: '\229F';
            }
        }
    }

    .more {
        // Box-model
        margin-left: 15px;

        &:after,
        &::after {
            // Box-model
            display: inline-block;
            margin-left: 5px;
            
            // Typography
            .fontsize(1.2);
            color: @treelist-more-color;
            
            // Visual
            content: '\25BC';
            
            &:hover {
                // Typography
                color: @treelist-more-color-hover;
            }
        }
        
        a {
            // Typography
            text-decoration: none;
        }
    }
}