/* LIST */

ul,
ol {
	padding: 0 0 1rem 1rem;
	margin: 0;
}

// nested list - adjusts the spacing of a nested list
li {
	> ul, > ol {
		padding: .5rem 0 .5rem 1rem;
	}
}

// DEFINITION List
dl {
	padding: 0 0 1rem;
	margin: 0;
}

dd {
	padding: 0 0 .125rem 2rem;
	margin: 0;
}

// RESET LIST
ul,
ol {
	&.base {
		padding: 0;
		margin: 0;

		list-style-type: none;
		> li {
			padding: 0;
			margin: 0;
		}
	}
}
.list {
	padding: 0;

	list-style-type: none;
}
