/* LOGO */
.logo {
    // Box-model
    .box(border);
    width: 100%;
    height: 100%;
    padding: 0 20px;
    
    > .img {
        // Positioning
        .pos(relative);
        top: 25%;
        left: 50%;
        
        // Visual
        -webkit-transform: translate(-52%, -7%);
           -moz-transform: translate(-50%, 30%);
            -ms-transform: translate(-50%, 50%);
             -o-transform: translate(-50%, 50%);
                transform: translate(-50%, 40%);
    }
}