/* MESSAGING */
.msg {
    // Positioning
    .pos(relative);
    
    // Box-model
    .box(border);
    width: 100%;
    min-height: 50px;
    padding: 15px;
    margin: 0 0 1em;
    
    // Typography
    color: @colorP2;
    
    // Visual
    background-color: @msg;
    border: 1px solid darken(@msg, (@pct * .2));
    -moz-border-radius: @radius;
         border-radius: @radius;

    > .icon {
        // Box-model
        display: inline-block;
        float: left;
        
        // Typography
        .fontsize(2.5);
        line-height: 1.5rem;

        // set a constant left padding to accommodate the icon
        ~ .msg-txt {
            // Box-model
            padding: 50px;
        }
        // show an icon
        &:after {
            // Visual
            content: '\2601';
        }
    }

    .msg-txt {
        // Box-model
        margin: 0;
    }

    > .close {
        // Typography
        cursor: pointer;

        &:after {
            // Positioning
            .pos(absolute);
            right: 20px;
            
            // Typography
            color: @colorP1;
            
            // Visual
            content: '✕';
        }
    }

    .msg-action {
        // Box-model
        margin-left: 20px;
        &:after {
            // Box-model
            display: inline-block;
            margin-left: 5px;
            
            // Visual
            content: '»';
        }
    }

    &.msg-info {
        // Visual
        background-color: @msg-info;
        border-color: darken(@msg-info, (@pct * .2));
    }

    &.msg-success {
        // Visual
        background-color: @msg-success;
        border-color: darken(@msg-success, (@pct * .2));
    }

    &.msg-note {
        // Visual
        background-color: @msg-note;
        border-color: darken(@msg-note, (@pct * .2));
    }

    &.msg-alert {
        // Visual
        background-color: @msg-alert;
        border-color: darken(@msg-alert, (@pct * .2));
    }

}