/* MESSAGING */

.msg {
	.radius(2);
	.msg(length(@list));
	// loop through array and create a message block for each item in it

	@list: info, success, note, alert;

	position: relative;

	width: 100%;
	min-height: 50px;
	padding: 15px;
	margin: 0 0 1em;

	color: @colorP2;

	background-color: @colorS2;
	border: 1px solid darken(@colorS2, 10%);
	> .icon {
		margin-right: 15px;

		vertical-align: middle;

		background-image: url(@msg-alert-icon);
		background-repeat: no-repeat;
	}
	.msg-txt {
		margin: 0 25px 0 0;
	}
	> .close {
		&:after,
		&::after {
			position: absolute;
			right: 20px;

			color: @colorP1;

			content: '✕';
		}
	}
	.msg-action {
		margin-left: 20px;
		&:after,
		&::after {
			display: inline-block;
			margin-left: 5px;

			content: '»';
		}
	}
}
