/* MESSAGING */

.msg {
	.pos(relative);	 
	width: 100%;
	min-height: 50px;
	padding: 15px;
	margin: 0 0 1em;
	 
	color: @msg-color;

	background-color: @msg-bgcolor;
	border: 1px solid @msg-bordercolor;
	-moz-border-radius: 2px;
		 border-radius: 2px;
	> .icon {
		margin-right: 15px;
		 
		vertical-align: middle;
		 
		background-image: url(@msg-alert-icon);
		background-repeat: no-repeat;
	}
	.msg-txt {
		margin: 0 25px 0 0;
	}
	> .close {
		&:after,
		&::after { 
			.pos(absolute);
			right: 20px;
			 
			color: @msg-close-color;

			content: '✕';
		}
	}
	.msg-action {
		margin-left: 20px;
		&:after,
		&::after {
			display: inline-block;
			margin-left: 5px;

			content: '»';
		}
	}
	// loop through array and create a message block for each item in it
	@list: info, success, note, alert;
	.msg(length(@list));
}
