/* MODALS */

// modal background screen
.ui-widget-overlay {
    // Positioning
    position: fixed;
    top: 0;
    left: 0;
    z-index: @index-9;
    
    // Box-model
    width: 100%;
    height: 100%;

    // Visual
    background-color: @ui-dialog-overlay-bgcolor;
    background-image: url(@ui-dialog-overlay-bgimage);
    background-position: 50% 50% repeat;
    background-repeat: repeat;
    opacity: .50;
    filter: Alpha(Opacity=50);
}

.modal {
    // Positioning
    left: 50% !important;
    z-index: @index-10 !important;
        
    // Box-model
    display: inline-block;
    overflow: hidden;
    
    // Visual
    background: @modal-bgcolor;
    border: 1px solid @modal-bordercolor;
    .radius(3);
    -webkit-background-clip: padding-box;

    box-shadow: @modal-dropshadow;
    padding: 25px;

    // JQUERY UI CLASSES
    .ui-dialog-titlebar {
        
        .ui-dialog-title {
            // Box-model
            display: none;
        }
    
        .ui-dialog-titlebar-close {
            // Positioning
            position: relative;
            top: 0;
            right: 0;
            z-index: 2;
            
            // Box-model
            float: right;
            width: 11px;
            height: 14px;
            padding: 0;
            
            // Visual
            background: none;
            border: none;
            
            .ui-icon-closethick {
                // Box-model
                display: block;
                width: 20px;
                height: 20px;
                overflow: hidden;
                
                // Typography
                text-indent: -99999px;

                // Visual
                background-color: @ui-dialog-close-bgcolor;
                background-image: url(@ui-dialog-close-bgimage);
                background-position: -2px -3px;
                background-repeat: no-repeat;
                border-radius: 2px;
            }
            &:hover .ui-icon-closethick {
                // Visual
                background-position: -2px -23px;
            }
            
            .ui-button-text {
                // Typography
                .off-page;
            }
        }
    }

    // CUSTOM CONTENT
    .modal-header {
            > .heading {
            margin-bottom:  0;

            // Typography
            color: @modal-heading-color;
        }
    }

    .modal-content {
        // Box-model
        margin-top:  25px;
    }

    .modal-footer {
        // Box-model
        margin-top:  25px;

        // Typography
        .fontsize(1.2);
    }

    .msg {
        // Box-model
        margin-top: 25px;
        margin-bottom: 0;

        // Typography
        .fontsize(1.3);
    }

}