/* MODALS */
.modal {
    // Visual
    background-color: @modal-bgcolor;
    border: 1px solid @modal-bordercolor;
    -moz-border-radius: @radius;
         border-radius: @radius;
    box-shadow: 0 0 @px rgba(0,0,0,.5);

    .modal-header,
    .modal-body,
    .modal-footer {
        // Box-model
        padding: 15px;
    }

    .modal-header {
        // Visual
        border-bottom: 1px solid @modal-header-border-color;

        .modal-title {
        // Box-model
            margin: 0;
        }

        > .btn.close {
            // Box-model
            float: right;
            padding: 10px 0;
            
            // Typography
            .fontsize(1.25);
            line-height: (@em * .625);
            color: @modal-close-color;
            vertical-align: middle;
            
            // Visual
            background-color: @modal-close-bgcolor;
            border: @modal-close-bordercolor;
            
            &:hover {
                // Typography
                color: @modal-close-color-hover;
            }
        }
    }

    .modal-footer {
        // Typography
        text-align: right;
        
        // Visual
        border-top: 1px solid @modal-footer-border-color;
    }
}