/* PAGINATION */

.pagination {
    // Box-model
    .clearfix;
    
    .pag-list {
        // Box-model
        display: inline-block;
        float: left;
        padding: 0;
        
        // Visual
        list-style-type: none;
        
        .pag-list-item {
            // Box-model
            display: inline-block;
            float: left;
            padding: 0 10px;
            
            // Typography
            color: @pg-list-item-color;
            cursor: pointer;
            
            // Visual
            border: 1px solid @pg-list-item-bordercolor;
            
            &:nth-last-child(1) {
                // Visual
                border-right: 0;
            }
            &:hover {
                // Typography
                color: @pg-list-item-color-hover;

                // Visual
                background-color: @pg-list-item-bgcolor-hover;
            }
            &.inactive {
                // Typography
                color: @pg-list-item-inactive-color;
                cursor: default;
                &:hover {
                    // Typography
                    color: @pg-list-item-inactive-color-hover;
                    
                    // Visual
                    background-color: @pg-list-item-inactive-bgcolor-hover;
                    
                }
            }
            &.active {
                // Typography
                color: @pg-list-item-active-color;
                cursor: default;
                
                // Visual
                background-color: @pg-list-item-active-bgcolor;
                
                &:hover {
                    // Typography
                    color: @pg-list-item-active-color-hover;
                    
                    // Visual
                    background-color: @pg-list-item-active-bgcolor-hover;
                    
                }
            }
        }
    }
}