/* PAGE */
html & {
    // Box-model
    height: 100%;
}

html &,
body & {
    // Typography
    .font-family(serif);
}

 //set padding for elements
.l1,
.l2,
.l3,
.l4,
.l5 {
    // Box-model
    .box(border);
    padding: 0 15px;
}

.l1,
.l2,
.l3,
.l4,
.l5 {
    // Box-model
    max-width: 100%;
    padding-bottom: 10px;
}

header {
    // Positioning
    position: relative;

    // Box-model
    margin-bottom: 33px;

    // Visual
    border-bottom: (@px * .1) solid @border1;

    &:after {
        // Positioning
        position: absolute;
        bottom: 0;
        
        // Box-model
        display: inline-block;
        width: 100%;
        height: 7px;
        
        // Visual
        background: #fff; /* Old browsers */
        background: -moz-linear-gradient(top,  #fff 0%, #fcfcfc 100%); /* FF3.6+ */

        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #fff 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #fff 0%,#fcfcfc 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #fff 0%,#fcfcfc 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #fff 0%,#fcfcfc 100%); /* W3C */
        content: '';
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
    }
}