/* PAGE */

html & {
	height: 100%;

	.box(border);
}

*,
*:before,
*:after {
	.box(inherit);
}

html &,
body & {
	.fontfamily(sans);
}

body {
	min-width: unit(@mediaquery-small, px);
}

.visible {
	display: inline-block;
}

//set padding for elements
.pg-dims {
	width: @pg-width;
	min-width: @pg-width-min;
	max-width: @pg-width-max;

	.clearfix;
}

.col {
	padding: @col-top-padding @col-right-padding @col-bottom-padding @col-left-padding;
	& + & {
		padding-left: 70px;
	}
}
