// Pagination
// 
// This is a navigation tool to shuffle you through pages, or something similar.
// 
// Styleguide 14

// Pagination
// 
// Markup:
// <div class="pagination">
// 	<div class="transport-left"></div>
// 	<ul class="pag-list">
// 		<li class="pag-list-item">1</li>
// 		<li class="pag-list-item">2</li>
// 		<li class="pag-list-item">3</li>
// 	</ul>
// 	<div class="transport-right"></div>
// </div>
// 
// .msg-alert			- alert messaging
// 
// Styleguide 14.1

.pagination {
	.clearfix;
	.pag-list {
		display: inline-block;
		float: left;
		padding: 0;

		list-style-type: none;
		.pag-list-item {
			display: inline-block;
			float: left;
			padding: 0 10px;

			color: @pg-list-item-color;
			cursor: pointer;

			border: 1px solid @pg-list-item-bordercolor;
			&:nth-last-child(1) {
				border-right: 0;
			}
			&:hover {
				color: @pg-list-item-color-hover;

				background-color: @pg-list-item-bgcolor-hover;
			}
			&.inactive {
				color: @pg-list-item-inactive-color;
				cursor: default;
				&:hover {
					color: @pg-list-item-inactive-color-hover;

					background-color: @pg-list-item-inactive-bgcolor-hover;
				}
			}
			&.active {
				color: @pg-list-item-active-color;
				cursor: default;

				background-color: @pg-list-item-active-bgcolor;
				&:hover {
					color: @pg-list-item-active-color-hover;

					background-color: @pg-list-item-active-bgcolor-hover;
				}
			}
		}
	}
	// PAGINATION SPECIFIC STYLES
	.transport {
		display: inline-block;
		float: left;

		@newPX: (@px * 1);
		&-right,
		&-left,
		> .right,
		> .left {
			color: @colorS4;

			border-top: (@newPX * .9) solid transparent;
			border-bottom: (@newPX * .9) solid transparent;
		}
		&-right,
		> .right {
			margin-right: 0;
			margin-left: (@newPX * .5);

			border-left: @newPX solid @colorS4;
		}
		&-left,
		> .left {
			margin-right: (@newPX * .5);
			margin-left: 0;

			border-right: @newPX solid @colorS4;
		}
	}
}
