/* PIN */

.pin {
	// Positioning
	position: relative;

	.clearfix;

	&.fixed {
		// Positioning
		position: fixed;
		top: 0;

		// Box-model
		width: 250px; // this needs to go, but for now it's what I have
	}
    
}