/* RESULTITEM */
.resultitem {
    // Box-model
    .box(border);
    overflow: hidden;
    
    .heading {
        a {
            // Typography
            font-weight: normal;
        }
    }

    button {
        // Box-model
        margin-top: 18px;

        // Typography
        .fontsize(1.2);
    }

    .img {
        // Box-model
        float: left;
        width: 150px;
    }
}