// Result Item
// 
// This kind of takes the place of the content stylesheet because we use this more. This displays one result in a search, usually in a result list.
// 
// Styleguide 15

// Result Item
// 
// Markup:
// <div class="result-item">
// 	<h2 class="heading">Heading</h2>
// 	<img class="result-item-img" src="http://cl.ly/image/0k0v2L2q0W1a/jpeg.jpg" />
// <div class="result-item-content">
// 	<p>Some awesome content goes in here! To the left is an awesome image that I created by going to <a href="https://imgflip.com/memegenerator/Futurama-Fry" target="_blank">imgflip.com</a>. You can create your own if you go there. Do it. It will be fun. I dare you...</p>
// 	<p>Have you done it yet?</p>
// </div>
// </div>
// 
// Styleguide 15.1

.result-item {
	overflow: hidden;
	.heading {
		a {
			font-weight: normal;
		}
	}
	button {
		margin-top: 18px;

		.fontsize(1.2);
	}
	.result-item-img {
		display: inline-block;
		float: left;
		width: @result-item-img-width;
		margin-top: 5px;
		.img {
			width: 100%;

			border: 1px solid @result-item-img-bordercolor;
		}
	}
	.result-item-content {
		margin-left: @result-item-content-margin;
	}
}
