/* RESULTITEM */
.resultitem {
    // Box-model
    .box(border);
    overflow: hidden;
    
    .heading {
        a {
            // Typography
            font-weight: normal;
        }
    }

    button {
        // Box-model
        margin-top: 18px;

        // Typography
        .fontsize(1.2);
    }

    .resultitem-img {
        // Box-model
        display: inline-block;
        .box(border);
        float: left;
        width: @resultitem-img-width;
        margin-top: 5px;

        > .img {
            // Box-model
            width: 100%;
            // Visual
            border: 1px solid @resultitem-img-bordercolor;
        }
    }

    .resultitem-content {
        // Box-model
        .box(border);
        margin-left: @resultitem-content-margin;
    }

}