/* SEARCHBAR */

.searchbar {

    &-input {
        // Box-model
        margin-top: 20px;

        .input-group {
            .input-reset {
                // Box-model
                width: 100%;
            }
        }
    }

    &-options {
        // Box-model
        margin-top: 10px;
    }
    
}