/* SEARCHBAR */

.searchbar {

    // IE7
    .ie7 & {

        .searchbar-wrap {
            
            > input[type="text"] {
                // Box-model
                padding-right: 0;
                margin-right: -7px;
            }

            > .reset {
                // Positioning
                right: 5px;
            }
        }

        .btn {
            &.search {
                // Box-model
                margin-left: 20px;
                
            }
        }

    }

    //IE8
    .ie8 & {

        // styles here

    }

    //IE9
    .ie9 & {

        // styles here
        
    }

    //IE10
    .ie10 & {

        // styles here
        
    }

}