// Spinner
//
// This is our loading image.
// 
// Styleguide 18

// Spinner
//
// Markup:
// <div class="spinner"></div>
// 
// Styleguide 18.1

.spinner {
	.off-page;

	width: 100%;
	min-height: 100px;

	background-image: url(@spinner-img);
	background-position: center center;
	background-repeat: no-repeat;
}
