/* SPINNER */
.spinner {
    // Box-model
    width: 100%;
    min-height: 100px;
    
    // Typography
    .off-page;
    
    // Visual
    background-image: url(@spinner-img);
    background-position: center center;
    background-repeat: no-repeat;
}