/* TABLES */

table {
	border: 1px solid @table-bordercolor;
	border-collapse: separate;
	border-spacing: 0;
	-moz-border-radius: @radius;
	     border-radius: @radius;
}

thead tr {
	background-color: @table-thead-bgcolor;
	-moz-border-radius: @radius @radius 0 0;
	     border-radius: @radius @radius 0 0;
}

th {
	padding: 10px 20px;

	font-weight: bold;
	text-align: left;

	border-left: 1px solid @table-th-bordercolor;
}

td {
	padding: 10px 20px;

	border-left: 1px solid @table-td-bordercolor;
}

th,
td {
	&:first-child {
		border-left: none;
	}
}
