/* TAG */

// Tag
// 
// Markup:
// <h2>Heading<span class="tag">Level 2</span></h2>
// 
// Styleguide 15

.tag {
	display: inline;
	padding: 2px 5px;
	margin: 0 10px;

	font-weight: bold;
	color: @tag-color;

	background-color: @tag-bgcolor;
	border-radius: 3px;

	.fontsize(1.2);
}
