/* TOOLBAR */
.toolbar {
    // Box-model
    width: 100%;
    overflow: visible;
    
    // Typography
    .fontfamily(tahoma);
    
    // Visual
    background-color: @tbar-color;
    
    .txt-link {
        // Typography
        font: inherit;
        color: @usernav-item-color;
        &:hover,
        &:active,
        &:focus,
        &:visited {
            // Typography
            color: @usernav-item-color;
        }
    }
    
    .bar {
        // Positioning
        .pos(relative);

        // Box-model
        overflow: hidden;

        // Visual
        @color: #fff;
        @top: fadeout(@color, 70%);
        @bottom: fadeout(@color, 100%);
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, @bottom), color-stop(1, @top));
        background: -moz-linear-gradient(center bottom, @bottom 0%, @top 100%);
        background:  -ms-linear-gradient(bottom, @bottom, @top);
        background:   -o-linear-gradient(@top, @bottom);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }    
}

.nav {
    // Box-model
    display: inline-block;
    padding: 0;
    margin: 0;

    .nav-item {
        // Box-model
        display: inline-block;
        padding: 7px 8px 10px 12px;
        
        // Typography
        .fontsize(1.3);
        font-weight: bold;
        letter-spacing: 1px;
        cursor: pointer;
    }
}

.user-nav {
    // Box-model
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0;

    // Visual
    background-color: @tbar-color;
    
    .user-nav-item {
        // Box-model
        display: inline-block;
        float: left;
        width: auto;
        height: auto;
        padding: 8px 12px 11px;

        // Typography
        .fontsize(1.2);
        vertical-align: top;      
        cursor: pointer;

        // Visual
        background-color: @usernav-item-bgcolor;
    
        > .icon {
            // Box-model
            display: inline-block;
            overflow: hidden;   
        }
    }
    
    .folder {
        padding: 8px 12px 11px 9px;
        .txt-link {
            // Box-model
            padding-left: 20px;
    
            .icon {
                // Positioning
                position: absolute;
                left: 2px;
                
                // Box-model
                width: 27px;
                height: 15px;
                
                // Visual
                background-color: @usernav-item-folder-bgcolor;
                background-image: url(@usernav-item-folder-icon);
                background-position: 8px -1px;
                background-repeat: no-repeat;
            }
        }
    
        &.not-empty {
            .icon {
                // Visual
                background-position: 0 -101px;
            }
        }
    }
    
    .languages {
        // a usernav inside a usernav
        .user-nav {
            // Box-model
            display: none;
        }
        
        .icon {
            // Box-model
            width: 10px;
            height: 10px;
            margin: 0 0 0 5px;
            
            // Visual
            background: url(@usernav-item-language-icon) right -1750px no-repeat;
        }
    
        &:hover {
            // Typography
            color: #333;
            
            // Visual
            background-color: @usernav-item-language-bgcolor-hover;
    
            .icon {
                // Visual
                background-position: right -1800px;                
            }
        }   
    }
}

.nav-item,
.user-nav-item {
    // Positioning
    position: relative;
    
    // Typography
    color: @usernav-item-color;

    &:hover {
        // Visual
        background-color: @usernav-item-bgcolor-hover;
        .txt-link {
            // Typography
            text-decoration: none;
        }
    }
}