// Toolbar
// 
// The toolbar is a few groups of navigation all rolled into one. 
// 
// Styleguide 23

// Toolbar
// 
// Markup:
// <div class="toolbar">
//     <div class="personal-bar">
//         <ul class="personal-nav">
//             <li class="personal-nav-item">
//                 <a href="#" class="txt-link">Item One</a>
//             </li>
//             <li class="personal-nav-item">
//                 <a href="#" class="txt-link">Item Two</a>
//             </li>
//         </ul>
//     </div>
//     <div class="bar">
//         <ul class="user-nav">
//             <li class="user-nav-item">
//                 <a href="#" class="txt-link">Item One</a>
//             </li>
//             <li class="user-nav-item">
//                 <a href="#" class="txt-link">Item Two</a>
//             </li>
//         </ul>
//         <ul class="nav">
//             <li class="nav-item">
//                 <a href="#" class="txt-link">Item One</a>
//             </li>
//             <li class="nav-item">
//                 <a href="#" class="txt-link">Item Two</a>
//             </li>
//         </ul>
//     </div>
// </div>
// 
// Styleguide 23.1

.toolbar {
	width: 100%;
	overflow: visible;
	 
	.fontfamily(sans);
	.txt-link {
		font: inherit;
		color: @usernav-item-color;
		&:hover,
		&:active,
		&:focus,
		&:visited {
			color: @usernav-item-color;
		}
	}
	.personal-bar {
		width: 100%;
	 
		background-color: @tbar-personal-bgcolor;
	 
		.clearfix;
		.personal-nav {
			width: 100%;
			padding: 9px 10px;
			margin: 0;
			 
			.fontsize(1.2);
			text-align: right;
			 
			list-style-type: none;

			.clearfix;
		}
		.personal-nav-item {
			display: inline-block;
			padding: 0 0 0 10px;
			 
			color: @colorS2;
			 
			.clearfix;
		}
		.txt-link {
			text-decoration: underline;
		}
	}
	.bar {
		.pos(relative);
		 
		padding-bottom: 2px;
		overflow: hidden;
		 
		// background-color: @tbar-bgcolor;
		@color: @colorS2;
		@top: fadeout(@color, 90%);
		@bottom: fadeout(@color, 100%);
		background: @tbar-bgcolor -webkit-gradient(linear, left bottom, left top, color-stop(0, @bottom), color-stop(1, @top));
		background: @tbar-bgcolor -moz-linear-gradient(center bottom, @bottom 0%, @top 100%);
		background: @tbar-bgcolor  -ms-linear-gradient(bottom, @bottom, @top);
		background: @tbar-bgcolor   -o-linear-gradient(@top, @bottom);
		filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0,startColorstr=#9a6978, endColorstr=#712b40);
	}
}
.nav {	 
	display: inline-block;
	padding: 0;
	margin: 0;
	.nav-item {
		display: inline-block;
		padding: 7px 8px 10px 12px;
		 
		.fontsize(1.3);
		font-weight: bold;
		cursor: pointer;
	}
}
.user-nav {
	display: inline-block;
	float: right;
	padding: 0;
	margin: 0;
	.user-nav-item {
		display: inline-block;
		float: left;
		width: auto;
		height: auto;
		padding: 8px 12px 11px;

		.fontsize(1.2);
		vertical-align: top;
		cursor: pointer;
		> .icon {
			overflow: hidden;
		}
	}
	.folder {
		padding: 8px 12px 11px 9px;
		.txt-link {
			padding-left: 20px;
			.icon {
				position: absolute;
				left: 2px;

				width: 27px;
				height: 15px;

				background-color: @usernav-item-folder-bgcolor;
				background-image: url(@usernav-item-folder-icon);
				background-position: 8px -1px;
				background-repeat: no-repeat;
			}
		}
		&.not-empty {
			.icon {
				background-position: 0 -101px;
			}
		}
	}
	.languages {
		// a usernav inside a usernav
		.user-nav {
			display: none;
		}
		.icon {
			width: 10px;
			height: 10px;
			margin: 0 0 0 5px;

			background: url(@usernav-item-language-icon) right -1750px no-repeat;
		}
		&:hover {
			color: #333;			 

			background-color: @usernav-item-language-bgcolor-hover;
			.icon {				 
				background-position: right -1800px;
			}
		}
	}
}
.nav-item,
.user-nav-item {
	position: relative;

	color: @usernav-item-color;
	&:hover {		 
		background-color: @usernav-item-bgcolor-hover;
		.txt-link {			 
			text-decoration: none;
		}
	}
}
