/* TOOLBAR */
.toolbar {
    // Box-model
    width: 100%;
    overflow: visible;
    
    // Typography
    .fontsize(1.2);
    
    // Visual
    background-color: @bgcolor;
    
    a {
        // Typography
        font: inherit;
        color: inherit;
    }
    
    .bar {
        // Positioning
        .pos(relative);
    }
    
    .nav-item,
    .user-nav-item {
        // Positioning
        position: relative;
        
        // Box-model
        padding: 10px;
        
        // Typography
        color: #FFF;
        
        // Visual
        background-color: @nav-item-bg;
    
        &:hover {
            // Visual
            background-color: @nav-item-bg-hover;
            a {
                // Typography
                text-decoration: none;
            }
        }
    }
    
    .nav {
        // Box-model
        display: inline-block;
        padding: 0;
        margin: 0;
    
        .nav-item {
            // Box-model
            display: inline-block;
            
            // Typography
            cursor: pointer;            
        }
    }
}

.user-nav {
    // Box-model
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0;
    
    .user-nav-item {
        // Box-model
        display: inline-block;
        float: left;
        width: auto;
        height: auto;
        
        // Typography
        vertical-align: top;      
        cursor: pointer;

        a {
            > .icon {
                // Box-model
                display: inline-block;
                overflow: hidden;   
            }
        }
    
        &:hover {
            // Visual
            background-color: @nav-item-bg-hover;
        }
    }
    
    .user-nav {
        // Box-model
        display: none;
    }
    
    .folder {
        a {
            // Box-model
            padding-left: 20px;
    
            .icon {
                // Positioning
                position: absolute;
                left: 2px;
                
                // Box-model
                width: 27px;
                height: 15px;
                
                // Visual
                background: rgba(0, 0, 0, 0) url('http://global.ebsco-content.com/interfacefiles/14.1.0.78/ehost/sprites/folder-sprite.png') 8px -1px no-repeat;
            }
        }
    
        &.not-empty {
            .icon {
                // Visual
                background-position: 0 -101px;
            }
        }
    }
    
    .languages {
        .icon {
            // Box-model
            width: 10px;
            height: 10px;
            margin: 0 0 0 5px;
            
            // Visual
            background: url('http://global.ebsco-content.com/interfacefiles/14.1.0.78/ehost/sprites/arrow-sprites.png') right -1750px no-repeat;
        }
    
        &:hover {
            // Typography
            color: #333;
            
            // Visual
            background-color: #fff;
    
            .icon {
                // Visual
                background-position: right -1800px;                
            }
        }   
    }
}
