/* TRANSPORT */
.transport {
    > .top,
    > .right,
    > .bottom,
    > .left {
        // Box-model
        display: inline-block;
        width: 0;
        height: 0;
        
        // Typography
        cursor: pointer;

        // Visual
        border-top: @transport-width solid transparent;
        border-right: @transport-width solid transparent;
        border-bottom: @transport-width solid transparent;
        border-left: @transport-width solid transparent;
    }
    
    > .top {
        // Box-model
        margin-top: (@transport-width * .5);
        margin-bottom: (@transport-width * .5);

        // Visual
        border-top-width: 0;
        border-bottom-color: @transport-color;
        border-bottom-style: solid;
        border-bottom-width: @transport-width;
    }
    
    > .right {
        // Box-model
        margin-right: (@transport-width * .5);
        margin-left: (@transport-width * .5);

        // Visual
        border-right-width: 0;
        border-left-color: @transport-color;
        border-left-style: solid;
        border-left-width: @transport-width;
    }
    
    > .bottom {
        // Box-model
        margin-bottom: (@transport-width * .5);
        margin-left: (@transport-width * .5);

        // Visual
        border-top-color: @transport-color;
        border-top-style: solid;
        border-top-width: @transport-width;
        border-bottom-width: 0;
    }
    
    > .left {
        // Box-model
        margin-right: (@transport-width * .5);
        margin-left: (@transport-width * .5);

        // Visual
        border-right-color: @transport-color;
        border-right-style: solid;
        border-right-width: @transport-width;
        border-left-width: 0;
    }

    &.inactive {
        > .top {
            // Typography
            cursor: default;
            
            // Visual
            border-bottom-color: @transport-inactive;

            &:hover {
                // Visual
                border-bottom-color: @transport-inactive;
            }
        }

        > .right {
            // Typography
            cursor: default;

            // Visual
            border-left-color: @transport-inactive;
            
            &:hover {
                // Visual
                border-left-color: @transport-inactive;
            }
        }

        > .bottom {
            // Typography
            cursor: default;

            // Visual
            border-top-color: @transport-inactive;
            
            &:hover {
                // Visual
                border-top-color: @transport-inactive;
            }
        }

        > .left {
            // Typography
            cursor: default;

            // Visual
            border-right-color: @transport-inactive;
           
            &:hover {
                // Visual
                border-right-color: @transport-inactive;
            }
        }
    }


    &.slim {
        > .top,
        > .right,
        > .bottom,
        > .left {
            // Box-model
            width: 10px;
            height: 16px;
            padding: 0 0 0 3px;
            margin: 0;
            
            // Visual
            border-color: rgba(0, 0, 0, 0);           
            border-width: 0;
           
            &:after {
                // Box-model
                display: inline-block;
            }
            &:hover {
                &:after {
                    // Typography
                    color: darken(#ccc, 20%);
                }
            }
        }

        > .top {
            // Visual
            .rotate(-90);

            &:after {
                // Typography
                color: #ccc;

                // Visual
                content: '❯';
            }
        }

        > .right {
            &:after {
                // Typography
                color: #ccc;

                // Visual
                content: '❯';
            }
        }

        > .bottom {
            // Visual
            .rotate(-90);

            &:after {
                // Typography
                color: #ccc;

                // Visual
                content: '❮';
            }
        }

        > .left {
            &:after {
                // Typography
                color: #ccc;

                // Visual
                content: '❮';
            }
        }
    }
}