/* TREELIST */

.treelist {
	// Positioning
	// position: fixed; // This will want to be added at some point, but for now, it lives here
	
	// Box-model
	width: inherit;

	.list {
		// Box-model
		padding: 0 0 0 10px;
		margin-bottom: 5px;
		
		// Visual
		list-style-type: none;
	
		.list {
			// Box-model
			padding-left: 15px;
			
			// Visual
			list-style-type: none;
		}

		.list-item {
			// Box-model
			padding: 5px;
			margin-bottom: 5px;
			
			// Typography
			font-weight: bold;

			> .txt-link {
				// Box-model
				display: block;
				padding: 5px;
				margin: -5px;
				
				// Typography
				color: @treelist-color;
				.fontsize(1.4);
				font-weight: normal;
				
				// Visual
				cursor: pointer;
			}

			&.active {
				// Box-model
				padding-left: @treelist-padding-left;
				margin-left: @treelist-margin-left;
				
				// Visual
				background-color: @treelist-bgcolor;
				border-left: @treelist-borderwidth solid @treelist-bordercolor;
			}
		}
	}
	
	.hidden {
		// Box-model
		display: none;
	}
}