// TREELIST

.treelist {
    .list {
        // Box-model
        padding: 0;
        margin: 0;
        
        // Visual
        list-style-type: none;

        & .list {
            // Box-model
            padding-left: 15px;
            
            // Visual
            list-style-type: none;
        }

        .list-item {
            // Box-model
            padding: 5px;
            
            // Typography
            font-weight: bold;

            > .txt-link {
                // Box-model
                display: block;
                padding: 5px 5px 5px 10px;
                margin: -5px -5px -5px -10px;

                
                // Visual
                cursor: pointer;
                font-weight: normal;
            }

            &.active {
                // Box-model
                padding-left: 10px;
                margin-left: -10px;
                
                // Typography
                color: @treelist-color;
                
                // Visual
                background-color: @treelist-bgcolor;
                border-left: 5px solid @treelist-bordercolor;
            }
        }
    }
}