/* TYPOGRAPHY */

html & {
    font-size: @font-size; // set base font to 10
}

body & {
    // Typography
    .fontfamily(sans);
    .fontsize(1.6);
    color: @font-color;
}

// import the tag stylesheet because it's formatting text
@import (once) '_heading.less';

p {
    // Box-model
    margin: 0 0 20px;

    // Typography
    .fontsize(@p-size);
    line-height: @p-line-height;
    color: @p-color;

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    // Box Model
    display: inline-block;
    
    // Typography
    color: @link-color;
    text-decoration: none;

    &.visited,
    &:visited {
        // Typography
        color: @link-color-visited;
    }

    &.hover,
    &:hover {
        // Typography
        color: @link-color-hover;
        text-decoration: @link-decoration-hover;
    }

    &.focus,
    &:focus {
        // Typography
        color: @link-color-focus;
        text-decoration: @link-decoration-focus;
    }

    &.active,
    &:active {
        // Typography
        color: @link-color-active;
        text-decoration: @link-decoration-active;
    }
}

b,
strong {
    // Typography
    color: @font-color-strong;
    font-weight: bold;
}

em {
    // Typography
    font-style: italic;
}

sup {
    // Positioning
    top: -(@em * .5);
}

sub {
    // Positioning
    bottom: -(@em * .25);
}

blockquote {
    // Box-model
    padding-left: .5rem;
    margin-left: 1.5rem;

    // Visual
    border-left: .25em solid @blockquote-border-color;
}

pre {
    // Box-model
    margin: 0 0 1rem;

    // Typography
    .fontfamily(mono);
}

code {
    // Typography
    .fontfamily(code);
    font-weight: normal;
    color: @code-color;
}

// import the tag stylesheet because it's formatting text
@import (once) '_tag.less';