/* UNIVERSAL STYLES */

// styles that are universal 

.close {
    // Visual
    cursor: pointer;
}


.icon {
    // Box-model
    display: inline-block;
    width: 25px;
    height: 25px;

    background-position: top center;
}
