// VARIABLES

// **************
// BASE VARIABLES
// **************


// MEASURMENTS
@rem: 1rem;
@em: 1em;
@px: 10px;
@pct: 100%;


// MEDIA QUERY DIMENSIONS
@mediaquery-small: 768px;
@mediaquery-medium: 768px;
@mediaquerys-large: 1200px;


// BACKGROUND COLORS
@bg1: #eaeaea;
@bg2: fade(@bg1,5%);
@bg3: fade(@bg1,5%);


// BORDER COLOR
@border1: #d5d5d5;
@border2: tint(@border1, 45);
@border3: tint(@border1, 66);
@border4: tint(@border1, 85);


// BORDER RADIUS
@radius: 3px;


// Z-INDEX
@index-10: 100000;
@index-9: 90000;
@index-8: 80000;
@index-7: 70000;
@index-6: 60000;
@index-5: 50000;
@index-4: 40000;
@index-3: 30000;
@index-2: 20000;
@index-1: 10000;


// *******
// WIDGETS
// *******

// AUTOCOMPLETE
@ac-color: #222;
@ac-size: 1.3;
@ac-bgcolor: #fff;
@ac-bordercolor: #aaa;
@ac-result-color: #000;
@ac-result-color-hover: #fff;
@ac-result-bgcolor-hover: #0080ff;


// BUTTONS
@btn-action: #f5dd6a;
@btn-primary: #007f00;
@btn-cancel: @colorS4;
@btn-search: #1a7a85;
@btn-search-border: #106175;

@btn-color: @colorS1;
@btn-color-hover: darken(@colorP3, 5);
@btn-bgcolor: @colorP3;
@btn-bgcolor-hover: fade(#b2a89b,50%);
@btn-bordercolor: darken(@colorP3, 10%);
// text buttons
@btn-color-txt: @link-color;
@btn-bgcolor-txt: transparent;
@btn-bgcolor-txt-hover: @link-color-active;
@btn-bordercolor-txt: none;
// action button
@btn-action-color: @colorP2;
@btn-action-color-hover: @colorP2;
@btn-action-bgcolor: #f5dd6a;
@btn-action-bgcolor-hover: darken(@btn-action-bgcolor, (@pct * .2));
@btn-action-bordercolor: darken(@btn-action-bgcolor, (@pct * .2));
@btn-action-bordercolor-hover: darken(@btn-action-bgcolor, (@pct * .3));
// primary button
@btn-primary-color: #e6e6e6;
@btn-primary-color-hover: @btn-primary-color;
@btn-primary-bgcolor: #007f00;
@btn-primary-bgcolor-hover: darken(#007f00, (@pct * .07));
@btn-primary-bordercolor: darken(#007f00, (@pct * .05));
@btn-primary-bordercolor-hover: darken(#007f00, (@pct * .06));
// cancel button
@btn-cancel-color: @colorP2;
@btn-cancel-color-hover: @btn-cancel-color;
@btn-cancel-bgcolor: #e6e6e6;
@btn-cancel-bgcolor-hover: #ccc;
@btn-cancel-bordercolor: #b3b3b3;
@btn-cancel-bordercolor-hover: #999;
// search button
@btn-search-color: @colorS2;
@btn-search-color-hover: @btn-search-color;
@btn-search-bgcolor: #1a7a85;
@btn-search-bgcolor-hover: #12535a;
@btn-search-bordercolor: #106175;
@btn-search-bordercolor-hover: #0a3c48;
// disabled
@btn-disabled-color: @colorS4;
@btn-disabled-color-hover: @btn-disabled-color;
@btn-disabled-bgcolor: @colorS3;
@btn-disabled-bgcolor-hover: @colorS3;
@btn-disabled-bordercolor:  @colorS4;
@btn-disabled-bordercolor-hover: @btn-disabled-bordercolor;


// CAROUSEL
@carousel-border: none;
@carousel-img: "buzzImages/video-js.png";
@carousel-img-border: @border1;


// CONTENT-STYLES


// CONTENT
@content-border: @border1;


// DROPDOWN
@dd-bgcolor: @bg1;
@dd-list-bgcolor: #fff;
@dd-list-bordercolor: @border3;
// labels
@dd-label-color: @colorS1;
@dd-label-color-hover: @colorS1;
@dd-label-bgcolor: @bg1;
@dd-label-bgcolor-hover: darken(@bg1, 20);
// inputs
@dd-input-color: @font-color;
@dd-input-bgcolor: darken(@bg2, 10%);
@dd-input-bgcolor-hover: @bg3;
@dd-active-color: @font-color;


// FORMS


// INPUTS
@input-bordercolor: #aaa8a8;
@placeholder-color: #aaa8a8;


//LAYOUT
@lay-top-padding: (@px * 5);
@lay-right-padding: (@px * 2.5);
@lay-bottom-padding: 0;
@lay-left-padding: (@px * 2.5);
// columns
@col-top-padding: 0;
@col-right-padding: 0;
@col-bottom-padding: 0;
@col-left-padding: 0;


//LAYOUT - FIXED
@p: 70; // will be converted to pixels


// LIST
@treelist-before-color: @colorS4;
@treelist-more-color: @link-color;
@treelist-more-color-hover: @link-color-active;


// LOGO
@logo-padding-side: 20px;
@logo-position-top: 16px;


// MEDIABLOCK


// MESSAGING
@msg-color: @colorP2;
@msg-bgcolor: @colorS2;
@msg-bordercolor: darken(@msg-bgcolor, 10%);
@msg-close-color: @colorP1;
// info
@msg-info-color: #e4f1ff;
@msg-info-bgcolor: fade(@msg-info-color, 10%);
@msg-info-bordercolor: darken(@msg-info-bgcolor, 10%);
@msg-info-icon: "buzzImages/msg-error.gif";
//success
@msg-success-color: #e6fadf;
@msg-success-bgcolor: fade(@msg-success-color, 10%);
@msg-success-bordercolor: darken(@msg-success-bgcolor, 10%);
@msg-success-icon: "buzzImages/msg-error.gif";
// note
@msg-note-color: #e7e7b1;
@msg-note-bgcolor: #faf9b9;
@msg-note-bordercolor: #fcc37c;
@msg-note-icon: "buzzImages/msg-error.gif";
// alert
@msg-alert-color: #ae0404;
@msg-alert-bgcolor: #fde3e3;//fade(@msg-alert-color, 10%);
@msg-alert-bordercolor: darken(@msg-alert-color, 10%);
@msg-alert-icon: "buzzImages/msg-error.gif";


// MIXINS


// MODALS
@ui-dialog-width: 615px !important;
@ui-dialog-bgcolor: #fff;
@ui-dialog-bordercolor: #ccc;
@ui-dialog-close-bgcolor: rgba(0, 0, 0, 0);
@ui-dialog-close-bgimage: "http://smallcontent.ebsco-content.com/interfacefiles/14.1.0.78.1/layout2/modal-close.png";
@ui-dialog-header-bgimage: "http://smallcontent.ebsco-content.com/interfacefiles/14.1.0.78.1/ehost/modal-gradient.png";
@ui-dialog-note-bordercolor: #fcc37c;
@ui-dialog-note-bgcolor: #faf9b9; 
@ui-dialog-content-input-color: #6f6f6f; 
@ui-dialog-content-error-color: #f00;
@ui-dialog-overlay-bgcolor: #111;
@ui-dialog-overlay-bgimage: "http://smallcontent.ebsco-content.com/interfacefiles/14.1.0.78.1/ehost/ui-bg_black_75_100x100.png";
@modal-bgcolor: #fff;
@modal-bordercolor: #ccc;
@modal-dropshadow: 2px 2px 4px rgba(0,0,0,.25);
@modal-heading-color: @colorP2;
@modal-txt-color: @colorS4;
@modal-txt-link-color: @colorP4;


// PAGE
@pg-width: 100%;
@pg-width-min: 1000px;
@pg-width-max: 1200px;
@header-border-color: @border1;
@header-border-gradient-bgcolor: #fff;
@header-border-gradient-startcolor: #fcfcfc;
@header-border-gradient-stopcolor: #fff;


// PAGINATION
@pg-list-item-color: lighten(@font-color, 20%);
@pg-list-item-color-hover: @font-color;
@pg-list-item-bgcolor-hover: @bg2;
@pg-list-item-bordercolor: @colorS4;
// active
@pg-list-item-active-color: @font-color;
@pg-list-item-active-color-hover: @font-color;
@pg-list-item-active-bgcolor: @colorS4;
@pg-list-item-active-bgcolor-hover: @colorS4;
// inactive
@pg-list-item-inactive-color: lighten(@font-color, 20%);
@pg-list-item-inactive-color-hover: lighten(@font-color, 20%);
@pg-list-item-inactive-bgcolor-hover: transparent;


// RESULTITEM
@resultitem-img-width: 125px;
@resultitem-img-padding: 15px;
@resultitem-content-margin: @resultitem-img-width + @resultitem-img-padding;
@resultitem-img-bordercolor: #c4c4c4;


// RTL


// SEARCHBAR
@searchbar-btnWidth: 95px;
@searchbar-input-bordercolor: @input-bordercolor;
@searchbar-reset-color: #ccc;
@searchbar-reset-color-hover: darken(@searchbar-reset-color,10);
@searchbar-reset-bgcolor: transparent;
@searchbar-reset-bgcolor-hover: @searchbar-reset-bgcolor;
@searchbar-reset-bordercolor: none;
@searchbar-reset-bordercolor-hover: @searchbar-reset-bordercolor;


// SPINNER
@spinner-sm: "buzzImages/spinner-circles.gif";
@spinner-md: "buzzImages/spinner-circles.gif";
@spinner-lg: "buzzImages/spinner-circles.gif";
@spinner-img: @spinner-md;


// TABLES
@table-bgcolor: #000;
@table-bordercolor: @border1;
@table-thead-bgcolor: @colorS2;
@table-th-bordercolor: @border1;
@table-td-bordercolor: @border1;


// TABS
@tab-color: @font-color;
@tab-color-selected: #fff;
@tab-bgcolor: rgba(178, 168, 155, 0.25);
@tab-bgcolor-hover: fade(@tab-bgcolor, 50%);
@tab-bgcolor-selected: #1a7a85;
@tab-bordercolor: @border1;
@tab-bordercolor-hover: @tab-bordercolor;
// active tabs
@tab-active-bgcolor: @colorS1;
@tab-active-bgcolor-hover: @colorS1;
@tab-active-bordercolor: @border1;
@tab-active-bordercolor-hover: @tab-active-bordercolor;
// tab content
@tab-content-bordercolor: @border1;
@tab-active-content-bgcolor: @colorS1;


// TOGGLES
@tog-bgcolor: @colorS1;
@tog-bordercolor: @border1;
@tog-tab-bgcolor: @colorS1;
@tog-tab-bordercolor: @border1;
@tog-tab-icon-bordercolor: @border1;


// TOOLBAR
@tbar-bgcolor: @colorP1;
@tbar-personal-bgcolor: overlay(@colorP1, rgba(0,0,0,.25));
// user navigation
@usernav-item-color: #fff;
@usernav-item-bgcolor: @tbar-bgcolor;
@usernav-item-bgcolor-hover: darken(@tbar-bgcolor, 5);
// user navigation icons
@usernav-item-folder-bgcolor: rgba(0, 0, 0, 0);
@usernav-item-folder-icon: "http://global.ebsco-content.com/interfacefiles/14.1.0.78/ehost/sprites/folder-sprite.png";
@usernav-item-language-icon: "http://global.ebsco-content.com/interfacefiles/14.1.0.78/ehost/sprites/arrow-sprites.png";
@usernav-item-language-bgcolor-hover: #fff;


// TRANSPORT
@transport-width: 15px;
@transport-width-short: (@transport-width * .5);
@transport-color: #535353;
@transport-color-hover: darken(#535353, 10);
@transport-inactive: @border1;
// slim
@transport-slim-fontfamily: Arial, "Arial Unicode MS", sans-serif;
@transport-slim-fontsize: 2.25;
@transport-slim-arrow-top: "›";
@transport-slim-arrow-right: "›";
@transport-slim-arrow-bottom: "‹";
@transport-slim-arrow-left: "‹";
@transport-slim-color: #ccc;
@transport-slim-color-hover: darken(#ccc, 20%);
@transport-slim-bordercolor: rgba(0, 0, 0, 0);
@transport-slim-color-disabled: #9b9b9b;
@transport-slim-color-enabled: @link-color;
@transport-slim-color-enabled-hover: darken(@transport-slim-color-enabled, 10);


// TYPOGRAPHY
@font-color: #535353;
@font-color-strong: #000;
@font-size: 62.5%;
//placeholder
@placeholder-color: tint(@font-color, 70);
// headings
@h1-size: 1.8;
@h1-line-height: 30px;
@h2-size: 1.8;
@h2-line-height: 22px;
@h3-size: 1.7;
@h3-line-height: 22px;
@h4-size: 1.5;
@h4-line-height: 1.25em;
@h5-size: 1.4;
@h5-line-height: 1.25em;
@h6-size: 1.2;
@h6-line-height: 1.25em;
@heading-color: @colorP1;
@subheading-color: #262626;
// text
@p-color: #262626;
@p-size: 1.2;
@p-line-height: 18px;
// links
@link-color: #005bc6;
@link-decoration: none;
@link-color-visited: @link-color;
@link-decoration-visited: underline;
@link-color-hover: darken(@link-color, 10%);
@link-decoration-hover: underline;
@link-color-focus: darken(@link-color, 10%);
@link-decoration-focus: underline;
@link-color-active: darken(@link-color, 10%);
@link-decoration-active: underline;
// blockquote
@blockquote-border-color: @colorS3;
//code
@code-color: #696;


// WIDTH
@widget-padding: 47px;