/* WIDTH */

// make the classes!
.w {
    // Box-model
    display: block;
    width: 100%;
    
    // Misc
    .clearfix;
    
    > .w20 {
        // Box-model
        width: 20%;
    }
    
    > .w25 {
        // Box-model
        width: 25%;
    }
    
    > .w33 {
        // Box-model
        width: 33%;
    }
    
    > .w40 {
        // Box-model
        width: 40%;
    }
    
    > .w50 {
        // Box-model
        width: 50%;
    }
    
    > .w60 {
        // Box-model
        width: 60%;
    }
    
    > .w66 {
        // Box-model
        width: 66%;
    }
    
    > .w75 {
        // Box-model
        width: 75%;
    }

    > .w80 {
        // Box-model
        width: 80%;
    }

    // add padding between
    > .w20,
    > .w25,
    > .w33,
    > .w40,
    > .w50,
    > .w60,
    > .w66,
    > .w75,
    > .w80 {
        // Box-model
        float: left;
        padding: 0;
    }

    // remove padding on first
    > .w20,
    > .w25,
    > .w33,
    > .w40,
    > .w50,
    > .w60,
    > .w66,
    > .w75,
    > .w80 {
        // Box-model
        padding-right: @widget-padding;
    }
}

.w20,
.w25,
.w33,
.w40,
.w50,
.w60,
.w66,
.w75,
.w80 {
    // rtl stuff
    [dir="rtl"] & {
        // Box-model
        float: right;
    }
}