/* WIDTH */

// make the classes!
.w {
    // Box-model
    display: block;
    width: 100%;
    
    // Misc
    .clearfix;
    
    @list: 20, 25, 33, 40, 50, 60, 66, 75, 80;
    @listLength: length(@list);

    .loop(@arrayLength, @index: 1) when (@index =< @arrayLength) {
        @arrayVal: extract(@list, @index);
        @pcnt: percentage(@arrayVal / 100);

        > .w@{arrayVal} {
            // Box model
            float: left;
            padding: 0 @widget-padding 0 0;
            width: @pcnt;

            // rtl stuff
            [dir="rtl"] & {
                // Box-model
                float: right;
            }
        }
        .loop(@arrayLength, (@index + 1));
    }

    .loop(@listLength);
}