/* WIDTH */

// make the classes!
.w {

    // IE7
    .ie7 & {
        // Box-model
        display: block;
        width: 100%;
        // Misc
        .clearfix;
        
        > .w20 {
            // Box-model
            width: 20%;
        }
        
        > .w25 {
            // Box-model
            width: 25%;
        }
        
        > .w33 {
            // Box-model
            width: 29%;
        }
        
        > .w40 {
            // Box-model
            width: 40%;
        }
        
        > .w50 {
            // Box-model
            width: 45%;
        }
        
        > .w60 {
            // Box-model
            width: 60%;
        }
        
        > .w66 {
            // Box-model
            width: 66%;
        }
        
        > .w75 {
            // Box-model
            width: 75%;
        }

        > .w80 {
            // Box-model
            width: 80%;
        }
    }
    
    // IE8
    .ie8 & {

        // styles here
        
    }

}