/* WIDTH */

// Grid
// 
// Styleguide 8

// Grid - 20/80
// 
// Markup:
// <div class="w">
//     <div class="w20"></div>
//     <div class="w80"></div>
// </div>
// 
// Styleguide 8.1

// Grid - 25/75
// 
// Markup:
// <div class="w">
//     <div class="w25"></div>
//     <div class="w75"></div>
// </div>
// 
// Styleguide 8.2

// Grid - 33/66
// 
// Markup:
// <div class="w">
//     <div class="w33"></div>
//     <div class="w66"></div>
// </div>
// 
// Styleguide 8.3

// Grid - 40/60
// 
// Markup:
// <div class="w">
//     <div class="w40"></div>
//     <div class="w60"></div>
// </div>
// 
// Styleguide 8.4

// Grid - 50/50
// 
// Markup:
// <div class="w">
//     <div class="w50"></div>
//     <div class="w50"></div>
// </div>
// 
// Styleguide 8.5

// Grid - 60/40
// 
// Markup:
// <div class="w">
//     <div class="w60"></div>
//     <div class="w40"></div>
// </div>
// 
// Styleguide 8.6

// Grid - 66/33
// 
// Markup:
// <div class="w">
//     <div class="w66"></div>
//     <div class="w33"></div>
// </div>
// 
// Styleguide 8.7

// Grid - 75/25
// 
// Markup:
// <div class="w">
//     <div class="w75"></div>
//     <div class="w25"></div>
// </div>
// 
// Styleguide 8.8

// Grid - 80/20
// 
// Markup:
// <div class="w">
//     <div class="w80"></div>
//     <div class="w20"></div>
// </div>
// 
// Styleguide 8.9

// make the classes!
.w {
	 
	display: block;
	width: 100%;
	
	 
	.clearfix;
	
	@list: 20, 25, 33, 40, 50, 60, 66, 75, 80;
	@listLength: length(@list);

	.loop(@arrayLength, @index: 1) when (@index =< @arrayLength) {
		@arrayVal: extract(@list, @index);
		@pcnt: percentage(@arrayVal / 100);

		> .w@{arrayVal} {
			 
			float: left;
			padding: 0 @widget-padding 0 0;
			width: @pcnt;

			// rtl stuff
			[dir="rtl"] & {
				 
				float: right;
			}
		}
		.loop(@arrayLength, (@index + 1));
	}

	.loop(@listLength);
}