# DIRECTORIES *
node_modules/
codeguide/bower/
.sass-cache/

# FILES
.bower.json
.DS_Store
*.css
*.map
*.png
grunticon/js
grunticon/*.html
!codeguide/styles/sons-of-obsidian.css
build.properties.json
