// vars
@colorP1: #F00;
@colorP2: #F00;
@colorP3: #F00;
@colorP4: #F00;

@colorS1: #F00;
@colorS2: #F00;
@colorS3: #F00;
@colorS4: #F00;


@g: 12;
@gWidth: 100%;

@pgWidth: 1024px;
@pgWidth: 500px;

// BASE (TEXT COLOR)
@color: #F00;


// FONT SIZES
@base-font: .938em;

// GRAYS
@lt-gray1: #f1f1f1;
@lt-gray2: #e9e9e9;

@med-gray1: #ccc;
@med-gray2: #aaa;

@dk-gray1: #555;
@dk-gray2: #111;




// BORDER RADIUS
@radius-sm: 3px;
@radius-med: 5px;
@radius-lg: 20px;
