/****************
    Edna - IE - v0.1.0
****************/
.off-page {
  display: inline-block;
  font-size: 0;
  text-indent: -99999px;
}
.userselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.transporthover:hover .transport .top {
  border-bottom-color: #3a3a3a;
}
.transporthover:hover .transport .right {
  border-left-color: #3a3a3a;
}
.transporthover:hover .transport .bottom {
  border-top-color: #3a3a3a;
}
.transporthover:hover .transport .left {
  border-right-color: #3a3a3a;
}
/* INPUTS */
.ie7 input[type="text"].placeholdersjs,
.ie7 input[type="search"].placeholdersjs,
.ie7 textarea.placeholdersjs {
  color: #cbcbcb !important;
}
.ie8 input[type="text"].placeholdersjs,
.ie8 input[type="search"].placeholdersjs,
.ie8 textarea.placeholdersjs {
  color: #cbcbcb !important;
}
.ie9 input[type="text"].placeholdersjs,
.ie9 input[type="search"].placeholdersjs,
.ie9 textarea.placeholdersjs {
  color: #cbcbcb !important;
}
.ie10 input[type="text"]:-ms-input-placeholder,
.ie10 input[type="search"]:-ms-input-placeholder,
.ie10 textarea:-ms-input-placeholder {
  color: #cbcbcb !important;
}
/* LAYOUT */
.ie7 .l1.p1 {
  clear: both;
}
.ie7 .l1.p1 > .col {
  width: 100%;
}
.ie8 .l1.p1 {
  clear: both;
}
.ie7 .l2.p1 {
  clear: both;
}
.ie7 .l2.p1 > .col {
  width: 80%;
}
.ie7 .l2.p1 > .col + .col {
  width: 20%;
}
.ie7 .l2.p2 > .col {
  width: 75%;
}
.ie7 .l2.p2 > .col + .col {
  width: 25%;
}
.ie7 .l2.p3 > .col {
  width: 66%;
}
.ie7 .l2.p3 > .col + .col {
  width: 33%;
}
.ie7 .l2.p4 > .col {
  width: 60%;
}
.ie7 .l2.p4 > .col + .col {
  width: 40%;
}
.ie7 .l2.p5 > .col {
  width: 50%;
}
.ie7 .l2.p5 > .col + .col {
  width: 50%;
}
.ie7 .l2.p6 > .col {
  width: 40%;
}
.ie7 .l2.p6 > .col + .col {
  width: 60%;
}
.ie7 .l2.p7 > .col {
  width: 33%;
}
.ie7 .l2.p7 > .col + .col {
  width: 50%;
}
.ie7 .l2.p8 > .col {
  width: 25%;
}
.ie7 .l2.p8 > .col + .col {
  width: 75%;
}
.ie7 .l2.p9 > .col {
  width: 20%;
}
.ie7 .l2.p9 > .col + .col {
  width: 80%;
}
.ie7 .l3.p1 {
  clear: both;
}
.ie7 .l3.p1 > .col {
  width: 60%;
}
.ie7 .l3.p1 > .col + .col {
  width: 20%;
}
.ie7 .l3.p1 > .col + .col + .col {
  width: 20%;
}
.ie7 .l3.p2 > .col {
  width: 50%;
}
.ie7 .l3.p2 > .col + .col {
  width: 25%;
}
.ie7 .l3.p2 > .col + .col + .col {
  width: 25%;
}
.ie7 .l3.p3 > .col {
  width: 40%;
}
.ie7 .l3.p3 > .col + .col {
  width: 40%;
}
.ie7 .l3.p3 > .col + .col + .col {
  width: 20%;
}
.ie7 .l3.p4 > .col {
  width: 40%;
}
.ie7 .l3.p4 > .col + .col {
  width: 20%;
}
.ie7 .l3.p4 > .col + .col + .col {
  width: 40%;
}
.ie7 .l3.p5 > .col {
  width: 33%;
}
.ie7 .l3.p5 > .col + .col {
  width: 33%;
}
.ie7 .l3.p5 > .col + .col + .col {
  width: 33%;
}
.ie7 .l3.p6 > .col {
  width: 25%;
}
.ie7 .l3.p6 > .col + .col {
  width: 25%;
}
.ie7 .l3.p6 > .col + .col + .col {
  width: 50%;
}
.ie7 .l3.p7 > .col {
  width: 25%;
}
.ie7 .l3.p7 > .col + .col {
  width: 50%;
}
.ie7 .l3.p7 > .col + .col + .col {
  width: 25%;
}
.ie7 .l3.p8 > .col {
  width: 20%;
}
.ie7 .l3.p8 > .col + .col {
  width: 20%;
}
.ie7 .l3.p8 > .col + .col + .col {
  width: 60%;
}
.ie7 .l3.p9 > .col {
  width: 20%;
}
.ie7 .l3.p9 > .col + .col {
  width: 60%;
}
.ie7 .l3.p9 > .col + .col + .col {
  width: 20%;
}
.ie7 .l4.p1 {
  clear: both;
}
.ie7 .l4.p1 > .col {
  width: 40%;
}
.ie7 .l4.p1 > .col + .col {
  width: 20%;
}
.ie7 .l4.p1 > .col + .col + .col {
  width: 20%;
}
.ie7 .l4.p1 > .col + .col + .col + .col {
  width: 20%;
}
.ie7 .l4.p2 > .col {
  width: 25%;
}
.ie7 .l4.p2 > .col + .col {
  width: 25%;
}
.ie7 .l4.p2 > .col + .col + .col {
  width: 25%;
}
.ie7 .l4.p2 > .col + .col + .col + .col {
  width: 25%;
}
.ie7 .l4.p3 > .col {
  width: 20%;
}
.ie7 .l4.p3 > .col + .col {
  width: 20%;
}
.ie7 .l4.p3 > .col + .col + .col {
  width: 20%;
}
.ie7 .l4.p3 > .col + .col + .col + .col {
  width: 40%;
}
.ie7 .l4.p4 > .col {
  width: 20%;
}
.ie7 .l4.p4 > .col + .col {
  width: 20%;
}
.ie7 .l4.p4 > .col + .col + .col {
  width: 40%;
}
.ie7 .l4.p4 > .col + .col + .col + .col {
  width: 20%;
}
.ie7 .l4.p5 > .col {
  width: 20%;
}
.ie7 .l4.p5 > .col + .col {
  width: 40%;
}
.ie7 .l4.p5 > .col + .col + .col {
  width: 20%;
}
.ie7 .l4.p5 > .col + .col + .col + .col {
  width: 20%;
}
.ie7 .l5.p1 {
  clear: both;
}
.ie7 .l5.p1 > .col {
  width: 20%;
}
.ie7 .l5.p1 > .col + .col {
  width: 20%;
}
.ie7 .l5.p1 > .col + .col + .col {
  width: 20%;
}
.ie7 .l5.p1 > .col + .col + .col + .col {
  width: 20%;
}
.ie7 .l5.p1 > .col + .col + .col + .col + .col {
  width: 20%;
}
/* LAYOUT - FIXED */
.ie7 .l2.p7.fixed-l > .fw425 {
  width: 425px;
}
.ie7 .l2.p7.fixed-l > .fw425 + .col {
  width: 100%;
  padding-left: 495px;
  margin-right: -495px;
}
.ie9 .l2.p3.fixed-r > .col:nth-child(1) {
  width: 64%;
}
.ie9 .l2.p3.fixed-r > .fw350 {
  width: 420px;
}
.ie10 .l2.p3.fixed-r > .col:nth-child(1) {
  width: 64%;
}
.ie10 .l2.p3.fixed-r > .fw350 {
  width: 420px;
}
/* MEDIA FLOAT / MEDIA BLOCK  */
.ie7 .media-block .media-cell {
  display: inline;
  float: left;
}
/* SEARCHBAR */
.ie7 .searchbar .searchbar-wrap > input[type="text"] {
  padding-right: 0;
  margin-right: -7px;
}
.ie7 .searchbar .searchbar-wrap > .reset {
  right: 5px;
}
.ie7 .searchbar .btn.search {
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 20px;
}
/* TOOLBAR */
.ie7 .toolbar .personal-bar {
  width: 100%;
}
.ie7 .toolbar .personal-bar .personal-nav {
  width: auto;
  float: right;
}
.ie7 .toolbar .personal-bar .personal-nav .personal-nav-item {
  display: inline;
  float: left;
  text-align: right;
}
.ie7 .toolbar .bar {
  width: 100%;
}
.ie8 .toolbar .personal-bar {
  height: 32px;
}
.ie8 .toolbar .bar {
  width: 100%;
}
/* WIDTH */
.ie7 .w > .w33 {
  width: 29%;
}
.ie7 .w > .w50 {
  width: 45%;
}
