@import "edna.less";

html, body { padding: 1em; background-color: #EFEFEF; }
.rtl, .rtl * { direction: rtl; unicode-bidi: bidi-override; }
h1 a { text-decoration: none; }

/*		.layouts .header { border-bottom: 1px solid #999; margin-bottom: 1.5em; }
.layouts .header h1 { font-weight: bold; }
.layouts .col { box-sizing: border-box; padding: 0 1em 1em; }
.layouts .col:first-child { padding-left: 0; }
.layouts .dis > pre { margin-top: 15px; }
*/
.nav-list { padding: 0 0 1em; margin: 0; list-style: none; }
.nav-item > .nav-list { padding: 0; }
.nav-list .nav-heading { margin: 0 0 0 .5em; color: #666; }
.nav-list .nav-list { margin: 0 0 0 1em; }
.nav-heading, .nav-item { padding: .25em 5px; margin: 0;}
.nav-heading { font-size: 1em; font-weight: bold;}
.nav-item { padding: 0 5px; color: #aaa; cursor: pointer; }
.nav-item:hover { background-color: #efefef; }
.nav-item:active { color: #333; }
.soon { padding: .25em 5px; color: #999; }
.soon:hover { background-color: transparent; cursor: default; }
/*for the layouts section*/ 

.layouts .header, .layouts .col, .layouts .footer { box-sizing: border-box; text-align: center; font-weight: bold; background-color: #FFAB5C; border: 1px solid #FFF; padding: .25em; }
.layouts .col {  }
.layouts .header > p, .layouts .col > p, .layouts .footer > p { margin: 0; }
.layouts .col:nth-child(1) { background-color: #EE5500; }
.layouts .col:nth-child(2) { background-color: #EE5500; }
.layouts .col:nth-child(3) { background-color: #EE5500; }
.layouts .col:last-child { border-right: none; }
.layouts .dis > pre { margin-top: 15px; }

/* DISPLAY STYLES */
.dis { background-color: #FFF; border: 1px solid #E0E0E0; padding: 10px; border-radius: 5px; }
.dis + .dis, .dis + p { margin-top: 15px; }
.dis .dis-text {  }
.dis .dis-code {
	background-color: #E0E0E0;
	display: block;
	margin: 0 -10px -10px;
	padding: 10px;
	border-top: 1px solid #FFF;
	box-shadow: 0 -1px 0px #CCC;
	font-size: .8em;
}
.dis > pre { margin: 0; font-size: 1em; }
