.btn,
.btn-mini {
    position:relative;
    display:inline-block;
    font-size:13px;
    font-weight:700;
    color:#333;
    text-shadow:0 1px 0 rgba(255,255,255,0.9);
    white-space:nowrap;
    vertical-align:middle;
    cursor:pointer;
    background-color:#eee;
    background-image:linear-gradient(#fcfcfc,#eee);
    background-repeat:repeat-x;
    border:1px solid #d5d5d5;
    border-radius:3px;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-appearance:none;
    padding:7px 12px;

    i {
        font-style:normal;
        font-weight:500;
        opacity:.6;
    }

    &:focus {
        text-decoration:none;
        outline:none;
        box-shadow:0 0 5px rgba(81,167,232,0.5);
        border-color:#51a7e8;
    }

    &:hover,
    &:active,
    &.zeroclipboard-is-hover,
    &.zeroclipboard-is-active {
        text-decoration:none;
        background-color:#ddd;
        background-image:linear-gradient(#eee,#ddd);
        background-repeat:repeat-x;
        border-color:#ccc;
    }

    &:active,
    &.selected,
    &.selected:hover,
    &.zeroclipboard-is-active {
        background-color:#dcdcdc;
        background-image:none;
        box-shadow:inset 0 2px 4px rgba(0,0,0,0.15);
        border-color:#b5b5b5;
    }

    &:disabled,
    &:disabled:hover,
    &.disabled {
        color:rgba(102,102,102,0.5);
        text-shadow:0 1px 0 rgba(255,255,255,0.9);
        cursor:default;
        background-color:rgba(229,229,229,0.5);
        background-image:none;
        box-shadow:none;
        border-color:rgba(197,197,197,0.5);
    }

    &.primary {
        color:#fff;
        text-shadow:0 -1px 0 rgba(0,0,0,0.25);
        background-color:#60b044;
        background-image:linear-gradient(#8add6d,#60b044);
        background-repeat:repeat-x;
        border-color:#5ca941;
        
        &:hover {
            color:#fff;
            background-color:#569e3d;
            background-image:linear-gradient(#79d858,#569e3d);
            background-repeat:repeat-x;
            border-color:#4a993e;
        }

        &:active,
        &.selected {
            background-color:#569e3d;
            background-image:none;
            border-color:#418737;
        }
        
        &:disabled,
        &:disabled:hover,
        &.disabled,
        &.disabled:hover {
            color:#fefefe;
            text-shadow:0 -1px 0 rgba(39,39,39,0.25);
            background-color:#add39f;
            background-image:linear-gradient(#c3ecb4,#add39f);
            background-repeat:repeat-x;
            border-color:#b9dcac #b9dcac #a7c89b;
        }
        &.danger {
            &:hover,
            &:hover {
                color:#fff;
                text-shadow:0 -1px 0 rgba(0,0,0,0.3);
                background-color:#b33630;
                background-image:linear-gradient(#dc5f59,#b33630);
                background-repeat:repeat-x;
                border-color:#cd504a;
            }

            &:active,
            &.selected {
                color:#fff;
                background-color:#b33630;
                background-image:none;
                border-color:#9f312c;
            }

            &:disabled,
            &:disabled:hover,
            &.disabled,
            &.disabled:hover {
                color:#cb7f7f;
                text-shadow:0 1px 0 rgba(255,255,255,0.9);
                background-color:#efefef;
                background-image:linear-gradient(#fefefe,#efefef);
                background-repeat:repeat-x;
                border-color:#e1e1e1;
            }
        }
    }
    &.with-count {
        float:left;
        border-top-right-radius:0;
        border-bottom-right-radius:0;
    }
}

.btn-mini {
    line-height:24px;
    padding:0 10px;
    
    > .octicon-arrow-right {
        margin-top:4px;
    }
}