//
	// EDNA
//
/**********
	BUTTONS
**********/

button,
input[type=submit],
input[type=reset],
.btn {
	padding: 0 15px;
	width: auto;
	color: @colorS1;
	background-color: @colorP3;
	border: 1px solid darken(@colorP3, 10%);
	.radius;
	.fontsize(1.4);
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	// HOVER STATES
	&:hover {
		background-color: fade(#b2a89b,50%);
		color: darken(@colorP3, 5);
	}

	// TEXT ONLY BUTTONS
	&.txt {
		border: none;
		background-color: transparent;
		color: @link-color;
		&:hover {
			color: @link-color-active;
			text-decoration: underline;
		}
	}

	// LEFT MARGIN FOR BUTTON ROWS
	+ button,
	+ input[type=submit],
	+ input[type=reset],
	+ .btn {
		margin-left: 10px;
	}

	// STATES
	&.action {
		color: @colorP2;
		background-color: @btn-action;
		border-color: darken(@btn-action, (@pct * .2));
		&:hover {
			background-color: darken(@btn-action, (@pct * .2));
			border-color: darken(@btn-action, (@pct * .3));
		}
	}
	&.primary {
		color: @colorS2;
		background-color: @btn-primary;
		border-color: darken(@btn-primary, (@pct * .05));
		&:hover {
			background-color: darken(@btn-primary, (@pct * .07));
			border-color: darken(@btn-primary, (@pct * .06));
		}
	}
	&.cancel {
		color: @colorP2;
		background-color: @btn-cancel;
		border-color: darken(@btn-cancel, (@pct * .2));
		&:hover {
			background-color: darken(@btn-cancel, (@pct * .1));
			border-color: darken(@btn-cancel, (@pct * .3));
		}
	}
	&.search {
		.box(border);
		color: @colorS2;
		background-color: @btn-search;
		border-color: @btn-search-border;
		&:hover {
			background-color: darken(@btn-search, (@pct * .1));
			border-color: darken(@btn-search-border, (@pct * .1));
		}
	}
	&.disabled,
	button[disabled],
	input[type=submit][disabled],
	input[type=reset][disabled] {
		color: @colorS4;
		background-color: @colorS3;
		border-color: @colorS4;
		cursor: default;
		&:hover {
			background-color: @colorS3;
		}
	}
}

// BUTTON GROUPS
.btn-group {
	margin-bottom: 1em;
	.clearfix;
	.grp-btn,
	.grp-input,
	.grp-dropdown {
		float: left;
		.radius;
		.bor-l-w;
	}
	.grp-btn + .grp-btn {
		margin-left: 0;
	}
	:last-child,
	.last //IE support
	{
		.radius-all(0; @radius; @radius; 0);
	}
	:first-child,
	.first //IE support 
	{
		.bor-l-w(1);
		.radius-all(@radius; 0; 0; @radius);
	}	
}

button {
	.transporthover;
}