//
	// EDNA
//
/**********
	INPUTS
**********/

// TEXT INPUTS
input[type=text],
input[type=search],
textarea {
	.pad-2(2.5;5);
	color: @placeholder-color;
	.bor(1;solid;#CCC);
	.radius;
	.fontsize(1.6);
	color: @colorS4;
	.box(border);
	.radius;
}

// RADIO / CHECKBOXES
input[type=radio],
input[type=checkbox] {
	.mar-r(5;px);
}
label {
	.pad-r(1);
	&:active {
		text-decoration: underline;
	}	
}

// RADIO / CHECKBOXES
.cb-list {
	list-style: none;
	.pad-l;
}
.cb-inline li {
	display: inline;
	.pad-3(0; 0; 1);
}