//
	// EDNA
//
/**********
	LISTS
**********/
ul,
ol {
	margin: 0;
	padding: 0 0 1rem 1rem;
}
// nested list - adjusts the spacing of a nested list
li > ul,
li > ol {
	padding: .5rem 0 .5rem 1rem;
}
// DEFINITION List
dl {
	margin: 0;
	padding: 0 0 1rem;
}
dt {

}
dd {
	margin: 0;
	padding: 0 0 .125rem 2rem;
}