//
	// EDNA
//
/**********
	PAGE
**********/

html {
	.ht(100;pct);
}
html, body {
	.font-family(serif);
}
 //set padding for elements
.l1, .l2, .l3, .l4, .l5 {
	.pad-2(0;1.5);
	.box(border);
}
.l1, .l2, .l3, .l4, .l5 {
	.max-wid(100;pct); // main content blocks width
	.pad-b(10);
}
header {
	.mar-b(33);
	border-bottom: (@px * .1) solid @border1;
	position: relative;
	&:after {
		position: absolute;
		bottom: 0;
		height: 7px;
		width: 100%;
		display: inline-block;
		content: '';
		background: #FFFFFF; /* Old browsers */
		background: -moz-linear-gradient(top,  #FFFFFF 0%, #fcfcfc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #FFFFFF 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #FFFFFF 0%,#fcfcfc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #FFFFFF 0%,#fcfcfc 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #FFFFFF 0%,#fcfcfc 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
	}
}