//
	// EDNA
//
/**********
	TYPOGRAPHY
**********/

// BASE FONT SIZE
html {
	font-size: @font-size; /* set base font to 10 */
}
body {
	.fontsize(1.6);
	.font-family(sans);
	color: @font-color;
}
// HEADING LEVELS
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 20px;
	line-height: 1.25em;
	font-weight: bold;
	color: @colorP2;
	> a {
		color: @link-color;
		text-decoration: none;
	}
}
h1 {
	line-height: 1;
	margin: 0 0 .636rem;
	.fontsize(@h1-size);
}
h2 {
	.fontsize(@h2-size);
	line-height: 22px;
}
h3 {
	.fontsize(@h3-size);
	margin: 0 0 14px 0;
}
h4 {
	.fontsize(@h4-size);
}
h5 {
	.fontsize(@h5-size);
	font-weight: bold;
}
h6 {
	.fontsize(@h6-size);
	font-weight: bold;
	font-style: italic;
}
// PARAGRAPH STYLES
p {
	margin: 0;
	line-height: 19px;
	.fontsize(1.2);
	color: @strong-font-color;
}
// LINK STYLES
a {
	color: @link-color;
	&:visited {
		color: desaturate(@link-color, (@pct * .75));
	}
	&:hover {
		color: darken(@link-color, (@pct * .1));
		text-decoration: underline;
	}
	&:focus {
		color: darken(@link-color, (@pct * .1));
		text-decoration: underline;
	}
	&:active {
		color: @link-color-active;
		text-decoration: underline;
	}
}
b,
strong {
	color: @strong-font-color;
}
// STRONG
strong {
	font-weight: bold;
}
// EM
em {
	font-style: italic;
}
// SUP
sup {
  top: -(@em * .5);
}
// SUB
sub {
  bottom: -(@em * .25);
}
// BLOCKQUOTES
blockquote {
	margin-left: 1.5rem;
	border-left: .25em solid @colorS3;
	padding-left: .5rem;
}
// PRE
pre {
	margin: 0 0 1rem;
	.font-family(mono);
}
// CODE
code {
	.font-family(code);
	color: #696;
	font-weight: normal;
}