//
	// EDNA
//
/**********
	BUTTONS
**********/


button,
input[type=submit],
input[type=reset],
.btn {
	.pad-2(10;10;px);
	color: @colorP1;
	background-color: @colorS2;
	border: solid (@px * .1) @colorS4;
	.border();
	.radius;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	.fontsize(1.6);
	
	// HOVER STATES
	&:hover {
		background-color: darken(@colorS2, (@pct * .1));
		color: @colorP1;
	}

	// TEXT ONLY BUTTONS
	&.txt {
		border: none;
		background-color: transparent;
		color: @link-color;
		&:hover {
			color: @link-color-active;
			text-decoration: underline;
		}
	}

	// LEFT MARGIN FOR BUTTON ROWS
	+ button,
	+ input[type=submit],
	+ input[type=reset],
	+ .btn {
		.mar-l(10);
	}

	// STATES
	&.action {
		color: @colorP2;
		background-color: @btn-action;
		border-color: darken(@btn-action, (@pct * .2));
		&:hover {
			background-color: darken(@btn-action, (@pct * .2));
			border-color: darken(@btn-action, (@pct * .3));
		}
	}
	&.primary {
		color: @colorS2;
		background-color: @btn-primary;
		border-color: darken(@btn-primary, (@pct * .05));
		&:hover {
			background-color: darken(@btn-primary, (@pct * .07));
			border-color: darken(@btn-primary, (@pct * .06));
		}
	}
	&.cancel {
		color: @colorP2;
		background-color: @btn-cancel;
		border-color: darken(@btn-cancel, (@pct * .2));
		&:hover {
			background-color: darken(@btn-cancel, (@pct * .1));
			border-color: darken(@btn-cancel, (@pct * .2));
		}
	}
	&.search {
		color: @colorS2;
		background-color: @btn-search;
		border-color: darken(@btn-search, (@pct * .1));
		&:hover {
			background-color: darken(@btn-search, (@pct * .1));
			border-color: darken(@btn-search, (@pct * .2));
		}
	}
	&.disabled,
	button[disabled],
	input[type=submit][disabled],
	input[type=reset][disabled] {
		color: @colorS4;
		background-color: @colorS3;
		border-color: @colorS4;
		cursor: default;
		&:hover {
			background-color: @colorS3;
		}
	}
}

// BUTTON GROUPS
.btn-group {
	.mar-b(1;em);
	.clearfix;
	.grp-btn,
	.grp-input,
	.grp-dropdown {
		float: left;
		.radius;
		border-left-width: 0;
	}
	.grp-btn + .grp-btn {
		.mar-l;
	}
	:last-child,
	.last //IE support
	{
		.radius-all(0; @radius; @radius; 0);
	}
	:first-child,
	.first //IE support 
	{
		border-left-width: (@px * .1);
		.radius-all(@radius; 0; 0; @radius);
	}	
}