//
	// EDNA
//
/**********
	BUTTONS
**********/

button,
input[type=submit],
input[type=reset],
.btn {
	padding: (@em * .25) (@em * .5);
	color: @colorP1;
	background-color: @colorS2;
	border: solid (@px / 10) @colorP4;
	border-radius: @radius;
	cursor: pointer;
}

// STATES
.primary-action {
	color: @colorP2;
	background-color: #f4d007;
}
.disabled,
button[disabled],
input[type=submit][disabled],
input[type=reset][disabled] {
	color: @colorP3;
	background-color: @colorS3;
	border-color: @colorP3;
	cursor: pointer;
}

// BUTTON GROUPS
.btn-group {
	margin-bottom: @em;
	.clearfix;
	.grp-btn,
	.grp-input,
	.grp-dropdown {
		float: left;
		border-radius: 0;
		border-left-width: 0;
	}

	:last-child,
	.last //IE support
	{
		border-radius: 0 @radius @radius 0;
	}

	:first-child,
	.first //IE support 
	{
		border-left-width: (@px / 10);
		border-radius: @radius 0 0 @radius;
	}	
}