//
	// EDNA
//
/**********
	DROPDOWNS
**********/
.dd {
	position: relative;
	background-color: @colorS2;
	.radius(@radius);
	display: inline-block;
	line-height: normal;

	.dd-list {
		display: none;
		position: absolute;
		top: (@px * 2.8);
		left: -(@px * .1);
		border: solid (@px * .1) @colorP2;
		background-color: #FFF;
		.radius(@radius);
		list-style-type: none;
		padding: 0;
		z-index: 10;
		min-width: (@px * 10);
	}
	.dd-label {
		display: block;
		padding: (@em * .25) (@em * .5);
		cursor: pointer;
		white-space: nowrap;
		&:hover {
			background-color: @colorS2;
			color: darken(@font-color, 10%);
		}
	}
	.dd-input {
		position: absolute;
		left: -9999px;
		&:checked + .dd-label {
			background-color: darken(@colorS2, 10%);
			color: @font-color;
			&:hover {
				background-color: @colorS2;
			}
		}
	}
	.dd-active {
		color: @font-color;
		cursor: pointer;
		text-decoration: none;
		cursor: pointer;
		padding: (@em * .25) (@em * .5);
		display: inline-block;
		&.open {
			~ .dd-list {
				display: inline-block;
			}
		}
	}
	.transport {
		display: inline-block;
		> .top {
			.transport-top( (@px * .5) );
			margin-bottom: (@px * .5);
		}
		> .bottom {
			.transport-bottom( (@px * .5) );
			border-top-color: @colorP4;
		}
	}
}

// when a dropdown is in a button group
.btn-group {
	.dd {
		&:last-child,
		&.last {
			.dd-active {
				border-left-width: 0;
				.radius-all(0; @radius; @radius; 0);
			}
		}

		&:first-child,
		&.first {
			float: left;
			.dd-active {
				border-left-width: (@px * .1);
				.radius-all(@radius; 0; 0; @radius);
			}
		}	
	}
}