//
	//DNA
//
/**********
	DROPDOWNS
**********/
.dd {
	position: relative;
	background-color: @lt-gray2;
	border-radius: @radius-sm;
	display: inline-block;
	line-height: normal;
	margin-bottom: 1em;


	.dd-list {
		display: none;
		position: absolute;
		top: 28px;
		left: -1px;
		border: solid 1px @med-gray2;
		background-color: #FFF;
		border-radius: 3px;
		list-style-type: none;
		padding: 0;
		z-index: 10;
		min-width: 100px;
	}
	.dd-label {
		display: block;
		padding: .25em .5em;
		cursor: pointer;
		white-space: nowrap;
		&:hover {
			background-color: @lt-gray2;
			color: darken(@color, 10%);
		}
	}
	.dd-input {
		position: absolute;
		left: -9999px;
		&:checked + .dd-label {
			background-color: darken(@lt-gray2, 10%);
			color: @color;
			&:hover {
				background-color: @lt-gray2;
			}
		}
	}
	.dd-active {
		color: @color;
		cursor: pointer;
		text-decoration: none;
		cursor: pointer;
		padding: .25em .5em;
		display: inline-block;
		&.open {
			~ .dd-list {
				display: inline-block;
			}
		}
	}
	.transport {
		display: inline-block;
		> .top {
			.transport-top(5px);
			margin-bottom: 5px;
		}
		> .bottom {
			.transport-bottom(5px);
		}
	}
}

// when a dropdown is in a button group
.btn-group {
	.dd {
		&:last-child,
		&.last {
			.dd-active {
				border-left-width: 0;
				border-radius: 0 @radius-sm @radius-sm 0;
			}
		}

		&:first-child,
		&.first {
			float: left;
			.dd-active {
				border-left-width: 1px;
				border-radius: @radius-sm 0 0 @radius-sm;
			}
		}	
	}
}