//
	// EDNA
//
/**********
	INPUTS
**********/

// TEXT INPUTS
input[type=text],
input[type=search],
textarea {
	.pad-2(.25; .5);
	color: @font-color;
	border: solid (@px * .1) @colorS4;
	.radius(@radius);
	.fontsize(1.6);
}

// RADIO / CHECKBOXES
input[type=radio],
input[type=checkbox] {
	.mar-r(5;px);
}
label {
	.pad-r(1);
}

// RADIO / CHECKBOXES
.cb-list {
	list-style: none;
	.pad-l(0);
}
.cb-inline li {
	display: inline;
	.pad-3(0; 0; 1);
}