//
	//EDNA
//
/**********
	INPUTS
**********/
hr 
{
	margin: @em 0;
}

// TEXT INPUTS
input[type=text],
input[type=search],
textarea {
	padding: (@em * .25) (@em * .5);
	color: @font-color;
	border: solid (@px * .1) @colorP2;
	border-radius: @radius;	
}

// RADIO / CHECKBOXES
input[type=radio],
input[type=checkbox] {
	margin-right: (@px * .5);
}
label {
	padding-right: @em;
}

// RADIO / CHECKBOXES
.cb-list {
	list-style: none;
	padding-left: 0;
}
.cb-inline li {
	display: inline;
	padding: 0 0 @em;
}