//
	// EDNA
//
/**********
	LAYOUT
**********/

// Layouts are made up of regions. Regions will have widgets in them.

// Set up the basic layout region
.col {
	.box(border);
	float: left;
	width: @pct;
}
// Set default styles for all P1s
.l1, .l2, .l3, .l4 {
	width: @pct;
}
.l1 {
	.clearfix;
	&.p1 {
		> .col {
			width: @pct;
		}
	}
}
.l2 {
	.clearfix;
	&.p1 {
		> .col {
			width: (@pct * .5);
		}
	}
}
.l3 {
	.clearfix;
	&.p1 {
		> .col {
			width: (@pct * .33);
		}
	}
}
.l4 {
	.clearfix;
	&.p1 {
		> .col {
			width: (@pct * .25);
		}
	}
}
// Divide the patterns into two master classes that go in the body tag
.alpha {
	.l2 {
		&.p2 {
			> .col:nth-child(1) {
				width: (@pct * .4);
			}
			> .col:nth-child(2) {
				width: (@pct * .6);
			}
		}
		&.p3 {
			> .col:nth-child(1) {
				width: (@pct * .3);
			}
			> .col:nth-child(2) {
				width: (@pct * .7);
			}
		}
		&.p4 {
			> .col:nth-child(1) {
				width: (@pct * .2);
			}
			> .col:nth-child(2) {
				width: (@pct * .8);
			}
		}
	}
	.l3 {
		&.p2 {
			> .col:nth-child(1) {
				width: (@pct * .2);
			}
			> .col:nth-child(2) {
				width: (@pct * .2);
			}
			> .col:nth-child(3) {
				width: (@pct * .6);
			}
		}
		&.p3 {
			> .col:nth-child(1) {
				width: (@pct * .2);
			}
			> .col:nth-child(2) {
				width: (@pct * .6);
			}
			> .col:nth-child(3) {
				width: (@pct * .2);
			}
		}
	}
}
// the second master class for the body tag
.beta {
	.l2 {
		&.p2 {
			> .col:nth-child(1) {
				width: (@pct * .6);
			}
			> .col:nth-child(2) {
				width: (@pct * .4);
			}
		}
		&.p3 {
			> .col:nth-child(1) {
				width: (@pct * .7);
			}
			> .col:nth-child(2) {
				width: (@pct * .3);
			}
		}
		&.p4 {
			> .col:nth-child(1) {
				width: (@pct * .8);
			}
			> .col:nth-child(2) {
				width: (@pct * .2);
			}
		}
	}
	.l3 {
		&.p2 {
			> .col:nth-child(1) {
				width: (@pct * .6);
			}
			> .col:nth-child(2) {
				width: (@pct * .2);
			}
			> .col:nth-child(3) {
				width: (@pct * .2);
			}
		}
		&.p3 { // yes, this pattern is the same as .alpha .l3.p3, don't worry about it
			> .col:nth-child(1) {
				width: (@pct * .2);
			}
			> .col:nth-child(2) {
				width: (@pct * .6);
			}
			> .col:nth-child(3) {
				width: (@pct * .2);
			}
		}
	}
}