//
	//DNA
//
/**********
	LISTS
**********/
ul,
ol
{
	margin: 0;
	padding: 0 0 1em 1em;
}
// UNORDERED LISTS
.disc
{
	list-style: disc;
}
.circle
{
	list-style: circle
}
.square
{
	list-style: square;
}

// ORDERED LISTS
.decimal
{
	list-style: decimal;	
}
.lower-alpha
{
	list-style: lower-alpha;	
}
.upper-alpha
{
	list-style: upper-alpha;	
}
.lower-roman
{
	list-style: lower-roman;	
}
.upper-roman
{
	list-style: upper-roman;	
}

// DEFINITION List
dl
{
	margin: 0;
	padding: 0 0 1em;
}
dt
{}
dd
{
	padding: 0 0 .125em 2em;
	margin: 0;
}