//
	// EDNA
//
/**********
	LISTS
**********/
ul,
ol {
	margin: 0;
	padding: 0 0 @em @em;
}
// nested list
li > ul,
li > ol {
	padding: (@em * .5) 0 (@em * .5) @em;
}
// DEFINITION List
dl {
	margin: 0;
	padding: 0 0 @em;
}
dt {

}
dd {
	padding: 0 0 (@em * .125) (@em * 2);
	margin: 0;
}

