@import "variables.less";
//
	// EDNA
//

// MIXINS

// Mixins need to have parenthesis after them
// in order to be ignored upon compiling.

.font-family() {
	font-family: Helvetica, Arial, sans-serif;
}
.code-font-family() {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.monospace-font-family() {
	font-family: monospace;
}
.font-color() {
	color: @font-color;
}
.fontsize(@sizeValue) {
	@remValue: @sizeValue;
	@pxValue: (@sizeValue * 10);
	font-size: ~"@{pxValue}px"; // fallback for IE8
	font-size: ~"@{remValue}rem"; // REMs for awesome browsers
}

// CLEAR 
.clear() {
  clear: both;
}

// CLEARFIX 
// IE7
.clearfix() {
  *zoom: 1;

	&:before,
	&:after {
	  display: table;
	  line-height: 0;
	  content: "";
	}
	&:after {
	  clear: both;
	}
}


// HIDING THINGS
// DO NOT DISPLAY (inaccessible by screen readers)
.display-none() {
	display: none;
}
// HIDDEN (accessible by screen readers)
.hidden() {
	position: absolute !important;
	height: (@px * .1); width: (@px * .1); 
	overflow: hidden;
	clip: rect((@px * .1) (@px * .1) (@px * .1) (@px * .1)); /* IE6, IE7 */
	clip: rect((@px * .1), (@px * .1), (@px * .1), (@px * .1));
}

// TRANSPORT
.transport-top(@w: (@px * .5)) {
	border-right-width: @w;
	border-bottom-width: @w;
	border-left-width: @w;
	margin-bottom: (@w / 2);
	margin-top: -(@w / 2);
}
.transport-right(@w: (@px * .5)) {
	border-top-width: @w;
	border-bottom-width: @w;
	border-left-width: @w;
	margin-left: (@w / 2);
	margin-right: -(@w / 2);
}
.transport-bottom(@w: (@px * .5)) {
	border-top-width: @w;
	border-right-width: @w;
	border-left-width: @w;
	margin-bottom: (@w / 2);
	margin-top: -(@w / 2);
}
.transport-left(@w: (@px * .5)) {
	border-top-width: @w;
	border-right-width: @w;
	border-bottom-width: @w;
	margin-left: (@w / 2);
	margin-right: -(@w / 2);
}


// ROTATION
.rotate(@num) {
	@div: 100;
	@IE8rot: @num/@div;

	// USING THIS BIT OF LESS
	// unit(@dimension, [@unit: ""]);
	// remove or change the unit of a dimension

	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=@IE8rot); // IE8 and lower
	-ms-transform: rotate( unit(@num, deg) ); // IE 9 and higher
	-o-transform: rotate( unit(@num, deg) ); // Opera
	-moz-transform: rotate( unit(@num, deg) ); // Mozilla
	-webkit-transform: rotate(unit(@num, deg)); // Safari
	transform: rotate( unit(@num, deg) );
}


// BOX-SIZING
.box(@sizing) {
	// should take either CONTENT or BORDER
	-webkit-box-sizing: escape("@{sizing}-box"); /* Safari/Chrome, other WebKit */
	-moz-box-sizing: escape("@{sizing}-box");    /* Firefox, other Gecko */
	box-sizing: escape("@{sizing}-box");         /* Opera/IE 8+ */
}


//----- MARGIN ----------------------------------------//

.margin(@mar: @m) {
	margin: @mar;
}
.margin-t(@mar: @m) {
	margin-top: @mar;
}
.margin-r(@mar: @m) {
	margin-right: @mar;
}
.margin-b(@mar: @m) {
	margin-bottom: @mar;
}
.margin-l(@mar: @m) {
	margin-left: @mar;
}


//----- PADDING ----------------------------------------//

.padding(@pad: @m) {
	padding: @pad;
}
.padding-t(@pad: @m) {
	padding-top: @pad;
}
.padding-r(@pad: @m) {
	padding-right: @pad;
}
.padding-b(@pad: @m) {
	padding-bottom: @pad;
}
.padding-l(@pad: @m) {
	padding-left: @pad;
}


//----- FONTS ----------------------------------------//

.font-family() {
	font-family: Helvetica, Arial, sans-serif;
}
.font-size(@fs: (@em * .625) ) {
	font-size: @fs;
}

//----- BORDERS ----------------------------------------//

.border-width(@widthT: (@px * .1), @widthR: (@px * .1), @widthB: (@px * .1), @widthL: (@px * .1)) {
	border-width: @widthT @widthR @widthB @widthL;
}
.border-style(@style: solid) {
	border-style: @style;	
}
.border-color(@color: @colorS3) {
	border-color: @colorP1;
}
//.border(@width: (@px * .1), @style: solid, @color: @colorS3) {
.border(@widthT: (@px * .1), @widthR: (@px * .1), @widthB: (@px * .1), @widthL: (@px * .1), @style: solid, @color: @colorS3) {
	border-width: @widthT @widthR @widthB @widthL;
	border-style: @style;
	border-color: @colorP1;
}

//----- BORDER RADIUS ----------------------------------------//

.radius(@rad: @m) {
	-moz-border-radius: @rad;
	border-radius: @rad;
}
.radius-tl(@rad: @m) {
	-moz-border-radius-topleft: @rad;
	border-top-left-radius: @rad;
}
.radius-tr(@rad: @m) {
	-moz-border-radius-topright: @rad;
	border-top-right-radius: @rad;
}
.radius-br(@rad: @m) {
	-moz-border-radius-bottomright: @rad;
	border-bottom-right-radius: @rad;
}
.radius-bl(@rad: @m) {
	-moz-border-radius-bottomleft: @rad;
	border-bottom-left-radius: @rad;
}
.radius-all(@radT: @t, @radR: @r, @radB: @b, @radL: @l) {
	-moz-border-radius: @radT @radR @radB @radL;
	border-radius: @radT @radR @radB @radL;
}


//----- LIGHTEN & DARKEN ----------------------------------------//

// TEXT
.lightTxt1(@color) { color: lighten(@color, (@pct * .1) ); }
.darkTxt1(@color) { color: darken(@color, (@pct * .1) ); }
.lightTxt2(@color) { color: lighten(@color, (@pct * .2) ); }
.darkTxt2(@color) { color: darken(@color, (@pct * .2) ); }
.lightTxt3(@color) { color: lighten(@color, (@pct * .2) ); }
.darkTxt3(@color) { color: darken(@color, (@pct * .2) ); }

// BACKGROUND
.lightBg1(@color) { background-color: lighten(@color, (@pct * .1) ); }
.darkBg1(@color) { background-color: darken(@color, (@pct * .1) ); }
.lightBg2(@color) { background-color: lighten(@color, (@pct * .2) ); }
.darkBg2(@color) { background-color: darken(@color, (@pct * .2) ); }
.lightBg3(@color) { background-color: lighten(@color, (@pct * .2) ); }
.darkBg3(@color) { background-color: darken(@color, (@pct * .2) ); }

// BORDER
.lightBorder1(@color) { border-color: lighten(@color, (@pct * .1) ); }
.darkBorder1(@color) { border-color: darken(@color, (@pct * .1) ); }
.lightBorder2(@color) { border-color: lighten(@color, (@pct * .2) ); }
.darkBorder2(@color) { border-color: darken(@color, (@pct * .2) ); }
.lightBorder3(@color) { border-color: lighten(@color, (@pct * .2) ); }
.darkBorder3(@color) { border-color: darken(@color, (@pct * .2) ); }


//----- GRADIENTS ----------------------------------------//

.gradient(@stop: #EFEFEF) {
	@start: lighten(@stop, (@pct * .1) );

	background: @start;
	background: -moz-linear-gradient(top,  @start 0%, @stop @pct);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(@pct,@stop));
	background: -webkit-linear-gradient(top,  @start 0%,@stop @pct);
	background: -o-linear-gradient(top,  @start 0%,@stop @pct);
	background: -ms-linear-gradient(top,  @start 0%,@stop @pct);
	background: linear-gradient(to bottom,  @start 0%,@stop @pct);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@start', endColorstr='@stop',GradientType=0 );
}


//----- TRUNCATE ----------------------------------------//

.truncate() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}