//
	//EDNA
//

// CSS helpers


// CLEAR 
.clear {
  clear: both;
}

// CLEARFIX 
// IE7
.clearfix {
  *zoom: 1;

	&:before,
	&:after {
	  display: table;
	  line-height: 0;
	  content: "";
	}
	&:after {
	  clear: both;
	}
}


// HIDING THINGS
// DO NOT DISPLAY (inaccessible by screen readers)
.display-none {
	display: none;
}
// HIDDEN (accessible by screen readers)
.hidden {
	position: absolute !important;
	height: 1px; width: 1px; 
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

// MIXINS
.rounded {
	border-radius: 3px;
}

.transport-top(@w: 5px) {
	border-right-width: @w;
	border-bottom-width: @w;
	border-left-width: @w;

	margin-bottom: (@w / 2);
	margin-top: -(@w / 2);
}
.transport-right(@w: 5px) {
	border-top-width: @w;
	border-bottom-width: @w;
	border-left-width: @w;

	margin-left: (@w / 2);
	margin-right: -(@w / 2);
}
.transport-bottom(@w: 5px) {
	border-top-width: @w;
	border-right-width: @w;
	border-left-width: @w;

	margin-bottom: (@w / 2);
	margin-top: -(@w / 2);
}
.transport-left(@w: 5px) {
	border-top-width: @w;
	border-right-width: @w;
	border-bottom-width: @w;

	margin-left: (@w / 2);
	margin-right: -(@w / 2);
}