//
	// EDNA
//
/**********
	PAGE
**********/

html {
	height: @pct;
}
body {
	min-width: (@px * 60);
	max-width: (@px * 160);
	height: @pct;
	margin: auto;
}
.l1, .l2, .l3, .l4 {
	padding: 0 (@px * 1.5);
	box-sizing: border-box;
}
header, .l1, .l2, .l3, .l4, footer {
	max-width: @pct;
}