//
	//DNA
//
/**********
	TABLES
**********/

table {
	border-collapse: collapse;
	border-spacing: 0;
	color: @color;
	thead {
		tr {
			th {
				background-color: @lt-bg;
				border: 1px solid @lt-border;
				font-weight: bold;
				padding: 10px 20px;
				text-align: left;
			}
		}
	}
	tbody {
		tr {
			td {
				border: 1px solid @lt-border;
				padding: 10px 20px;
			}
		}
	}
}