//
	// EDNA
//
/**********
	TABLES
**********/

table {
	border-collapse: separate;
	border-spacing: 0;
	border: (@px * .1) solid @colorP2;
	border-radius: @radius;
}
thead tr {
	background-color: @colorS2;
	border-radius: @radius  @radius 0 0;
}
th {
	font-weight: bold;
	padding: @px (@px * 2);
	text-align: left;
	border-left: (@px * .1) solid @colorP2;
}
td {
	padding: @px (@px * 2);
	border-left: (@px * .1) solid @colorP2;
}
th:first-child,
td:first-child {
	border-left: none;
}
