//
	//DNA
//
/**********
	TYPOGRAPHY
**********/

body {
	//font-size: .938em;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: .25em 0 1em;
	margin: .5em 0 .75em;
	line-height: 1.25;
}
h1 {
	font-size: 2.75em;
	line-height: 1;
	margin: 0 0 .636em;
}
h2 {
	font-size: 2.25em;
}
h3 {
	font-size: 1.625em;
}
h4 {
	font-size: 1.375em;
	font-style: italic;
}
h5 {
	font-size: 1.125em;
	font-weight: bold;
}
h6 {
	font-size: 1em;
	font-weight: bold;
	font-style: italic;
}
p {
	margin: 0 0 1em;
}
.lead
{
	font-size: 1.375em;
	margin-bottom: .725em;
}
a {
	color: #08C;
	&:hover {
		color: darken(#08C, 10%);
	}
}

// BLOCKQUOTES
blockquote {
	margin-left: 1.5rem;
	border-left: .25em solid #CCC;
	padding-left: .5rem;
	margin-bottom: 1em;
}

// PRE
pre {

}

// CODE
code {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	color: #696;
	font-weight: normal;
}

// STRONG
strong {
	font-weight: bold;
}