//
	// EDNA
//
/**********
	TYPOGRAPHY
**********/

// HEADING LEVELS
h1, h2, h3, h4, h5, h6 {
	margin: (@em * .75) 0 (@em * .5);
	line-height: 1.25;
	font-weight: normal;
}
h1 {
	font-size: (@em * 2.75);
	line-height: 1;
	margin: 0 0 (@em * .636);
}
h2 {
	font-size: (@em * 2.25);
}
h3 {
	font-size: (@em * 1.625);
}
h4 {
	font-size: (@em * 1.375);
	font-style: italic;
}
h5 {
	font-size: (@em * 1.125);
	font-weight: bold;
}
h6 {
	font-size: @em;
	font-weight: bold;
	font-style: italic;
}
// PARAGRAPH STYLES
p {
	margin: 0 0 @em;
	&.lead {
		font-size: (@em * 1.375);
		margin-bottom: (@em * .725);
	}
}
// LINK STYLES
a {
	color: @link-color;
	&:visited {
		color: desaturate(@link-color, (@pct * .75));
	}
	&:hover,
	&:focus {
		color: darken(@link-color, (@pct * .1));
	}
	&:focus {
		text-decoration: underline;
	}
	&:active {
		color: @link-color-active;
	}
}
a:active {
	
}
// STRONG
strong {
	font-weight: bold;
}
// EM
em {
	font-style: italic;
}
// SUP
sup {
  top: -(@em * .5);
}
// SUB
sub {
  bottom: -(@em * .25);
}
// BLOCKQUOTES
blockquote {
	margin-left: 1.5rem;
	border-left: (@em * .25) solid @colorS3;
	padding-left: .5rem;
	margin-bottom: @em;
}
// PRE
pre {
	margin: 0 0 @em;
	.monospace-font-family;
	font-size: (@font-size * 1.4);
}
// CODE
code {
	.code-font-family;
	color: #696;
	font-weight: normal;
}