//
	//EDNA
//
	//VARIABLES
//

@colorP1: #333;
@colorP2: #333;
@colorP3: #333;
@colorP4: #333;

@colorS1: #333;
@colorS2: #333;
@colorS3: #333;
@colorS4: #333;


@g: 12;
@gWidth: 100%;

@pgWidth: 1024px;
@pgWidth: 500px;

// BASE (TEXT COLOR)
@color: #333;


// FONT SIZES
@base-font: .938em;

// GRAYS
@lt-gray1: #f1f1f1;
@lt-gray2: #e9e9e9;

@med-gray1: #ccc;
@med-gray2: #aaa;

@dk-gray1: #555;
@dk-gray2: #111;




// BORDER RADIUS
@radius-sm: 3px;
@radius-med: 5px;
@radius-lg: 20px;