//
	// EDNA
//

// VARIABLES

// MEASURMENTS
@rem: 1rem;
@em: 1em;
@px: 10px;
@pct: 100%;


// COLORS
@colorP1: #333333;
@colorP2: lighten(@colorP1, 10%);
@colorP3: lighten(@colorP1, 20%);
@colorP4: lighten(@colorP1, 30%);

@colorS1: #FFFFFF;
@colorS2: darken(@colorS1, 10%);
@colorS3: darken(@colorS1, 10%);
@colorS4: darken(@colorS1, 10%);


// FONTS
@font-color: #333;
@font-size: 62.5%;


// LINKS
@link-color: #1C71CF;
@link-color-active: darken(@link-color, 10%);


// BACKGROUND COLORS
@bg1: #EAEAEA;
@bg2: fade(@bg1,5%);
@bg3: fade(@bg1,5%);


// BORDER COLOR
@border1: #AAA8A8;
@border2: fade(@border1, 5%);
@border3: fade(@border1, 10%);
@border4: fade(@border1, 15%);


// BORDER RADIUS
@radius: 3px;


// BUTTON COLORS
@btn-action: #F5DD6A;
@btn-primary: #007F00;
@btn-cancel: @colorS4;
@btn-search: #428BCA;


// MESSAGING COLORS
@msg: @colorS2;
@msg-info: #e4f1ff;
@msg-success: #e6fadf;
@msg-note: #e7e7b1;
@msg-alert: #edbdb6;