//
	// EDNA
//

// VARIABLES

// COLORS
@base: #343434;
@Sbase: spin(@base, 360);
// primary colors
@colorP1: lighten(spin(@base, 5), 20%);
@colorP2: lighten(spin(@base, 10), 10%);
@colorP3: darken(spin(@base, -5), 10%);
@colorP4: darken(spin(@base, -10), 20%);
// secondary colors
@colorS1: spin(@Sbase, 180);
@colorS2: darken(spin(@Sbase, 180), 20%);
@colorS3: lighten(@Sbase, 40%);
@colorS4: lighten(@Sbase, 60%);


// FONTS
@font-size: 62.5%;
@font-color: #333;
@link-color: #08C;
@link-color-active: darken(@link-color, 10%);


// MEASURMENTS
@rem: 1rem;
@em: 1em;
@px: 10px;
@pct: 100%;


// BACKGROUND COLORS
@bg1: #EAEAEA;
@bg2: #D6D6D6;
@bg3: #C1C1C1;


// BORDER RADIUS
@radius: 3px;

// BUTTON COLORS
@btn-action: #F5DD6A;
@btn-primary: #007F00;
@btn-cancel: @colorS4;
@btn-search: #428BCA;

// MESSAGING COLORS
@msg: @colorS2;
@msg-info: #e4f1ff;
@msg-success: #e6fadf;
@msg-note: #e7e7b1;
@msg-alert: #edbdb6;