//
	//PLUS
//
/**********
	CAROUSEL
**********/

.carousel {
	.bor(1;solid;@border1);
	.pad(15;px);
	.wid(100;pct);
	background-color: @colorS1;
	.carousel-img {
		.box(border);
		.wid(100;pct);
		.bor(1;solid;@border1);
		> .img {
			display: block;
			.bor;
			.wid(100;pct);
		}
	}
	.carousel-nav {
		.clearfix;
		.wid(100;pct);
		.mar-3(15;0;0;px);
		overflow: hidden;
		.ht(55);
		.pos(relative);
	}
	.transport {
		.pos(absolute);
		&:nth-child(1),
		&.first {
			.pos-l;
			.left {
				.mar-3(0;0;1;px);
			}			
		}
		&:nth-child(3),
		.last {
			.pos-r;
			.right {
				.mar-3(0;0;5;px);
			}
		}
	}
	.carousel-thumbs {
		display: inline-block;
		float: left;
		overflow: hidden;
		.ht(53);
		.pos(absolute);
		.pos-l(20);
		.pos-r(20);
		.carousel-list {
			list-style-type: none;
			.mar;
			.pad(0);
			.wid(1000);
			.pos(relative);
			.carousel-list-item {
				float: left;
				.mar-4(0;5;0;0;px);
				.pad(0);
				display: inline-block;
				cursor: pointer;
				.bor(1;solid;@border1);
				.wid(67);
				.box(border);
				.img {
					display: block;
					.bor;
					.wid(100;pct);
				}
			}
		}
	}
}