//
	//PLUS
//
/**********
	RESULTITEM
**********/

.resultitem {
	overflow: hidden;
	.box(border);

	.heading {
		a {
			font-weight: normal;
		}
	}
	button {
		margin-top: 18px;
		.fontsize(1.2);
	}
	.img {
		width: 150px;
		float: left;
	}
}