//
	//PLUS
//
/**********
	SEARCHBAR
**********/

.searchbar {
	.pos(relative);

	.searchbar-wrap {
		.pos(relative);
		display: inline;
		> .reset,
		> input[type="reset"] {
			.pos(absolute);
			.pos-t;
			.pos-r(5);
			.fontsize(2);
			.lh(2.3;rem);
			color: #CCC;
			background-color: transparent;
			.bor;
			&:hover {
				color: darken(#CCC,10);
			}
		}
	}
	.searchbar-extras {
		display: inline-block;
	}
	.btn.search {
		.mar-l(-5;px);
	}
}