//
	//PLUS
//
/**********
	TOOLBAR
**********/

.toolbar {
	width: 100%;
	overflow: visible;
	background-color: @bgcolor;
	.fontsize(1.2);
	a {
		color: inherit;
		font: inherit;
		text-decoration: inherit;
	}
	.bar {
		.pos(relative);
	}
	.nav-item,
	.user-nav-item {
		padding: 10px;
		color: #FFF;
		position: relative;
		background-color: @nav-item-bg;
	}
	.nav {
		padding: 0;
		margin: 0;
		display: inline-block;
		.nav-item {
			display: inline-block;
			cursor: pointer;
			&:hover {
				background-color: @nav-item-bg-hover;
			}
		}
	}
}

.user-nav {
	display: inline-block;
	padding: 0;
	margin: 0;
	float: right;
	.user-nav-item {
		width: auto;
		height: auto;
		display: inline-block;
		float: left;
		cursor: pointer;
		vertical-align: top;

		a {
			> .icon {
				display: inline-block;
				overflow: hidden;	
			}
		}
		&:hover {
			background-color: @nav-item-bg-hover;
		}
	}
	.user-nav {
		display: none;
	}
	.folder {
		a {
			padding-left: 20px;
			.icon {
				background: rgba(0, 0, 0, 0) url('http://global.ebsco-content.com/interfacefiles/14.1.0.78/ehost/sprites/folder-sprite.png') 8px -1px no-repeat;
				width: 27px;
				height: 15px;
				position: absolute;
				left: 2px;
			}
		}
		&.not-empty {
			.icon {
				background-position-y: -101px;
			}
		}
	}
	.languages {
		.icon {
			height: 10px;
			width: 10px;
			margin: 0 0 0 5px;
			background: url('http://global.ebsco-content.com/interfacefiles/14.1.0.78/ehost/sprites/arrow-sprites.png') right -1750px no-repeat;
		}
		&:hover {
			color: #333;
			background-color: #fff;
			.icon {
				background-position: right -1800px;
			}
		}	
	}
}
