//
	//PLUS
//
/**********
	TRANSPORT
**********/

.transport {
	> .top,
	> .right,
	> .bottom,
	> .left {
		cursor: pointer;
		.wid;
		.ht;
		display: inline-block;

		.bor-t(@transport-width;solid;transparent);
		.bor-r(@transport-width;solid;transparent);
		.bor-b(@transport-width;solid;transparent);
		.bor-l(@transport-width;solid;transparent);
	}
	> .top {
		.bor-b-w(@transport-width);
		.bor-b-s(solid);
		.bor-b-c(@transport-color);
		.bor-t-w;
		.mar-b(@transport-width * .5; px);
		.mar-t(-@transport-width * .5; px);
		// &:hover {
		// 	.bor-b-c(@border2);
		// }
	}
	> .right {
		.bor-l-w(@transport-width);
		.bor-l-s(solid);
		.bor-l-c(@transport-color);
		.bor-r-w;
		.mar-l(@transport-width * .5; px);
		.mar-r(-@transport-width * .5; px);
		// &:hover {
		// 	.bor-l-c(@border2);
		// }
	}
	> .bottom {
		.bor-t-w(@transport-width);
		.bor-t-s(solid);
		.bor-t-c(@transport-color);
		.bor-b-w;
		.mar-b(@transport-width * .5; px);
		.mar-t(-@transport-width * .5; px);
		// &:hover {
		// 	.bor-t-c(@border2);
		// }
	}
	> .left {
		.bor-r-w(@transport-width);
		.bor-r-s(solid);
		.bor-r-c(@transport-color);
		.bor-l-w;
		.mar-l(@transport-width * .5; px);
		.mar-r(-@transport-width * .5; px);
		// &:hover {
		// 	.bor-r-c(@border2);
		// }
	}

	&.inactive {
		> .top {
			.bor-b-c(@transport-inactive);
			cursor: default;
			&:hover {
				.bor-b-c(@transport-inactive);
			}
		}
		> .right {
			.bor-l-c(@transport-inactive);
			cursor: default;
			&:hover {
				.bor-l-c(@transport-inactive);
			}
		}
		> .bottom {
			.bor-t-c(@transport-inactive);
			cursor: default;
			&:hover {
				.bor-t-c(@transport-inactive);
			}
		}
		> .left {
			.bor-r-c(@transport-inactive);
			cursor: default;
			&:hover {
				.bor-r-c(@transport-inactive);
			}
		}
	}


	&.slim {
		> .top,
		> .right,
		> .bottom,
		> .left {
			border-width: 0;
			.wid(10);
			.ht(16);
			border-color: rgba(0, 0, 0, 0);
			.mar;
			.pad-4(0;0;0;3;px);
			&:after {
				display: inline-block;
			}
			&:hover {
				&:after {
					color: darken(#CCC, 20%);
				}
			}
		}
		> .top {
			.rotate(-90);
			&:after {
				color: #CCC;
				content: '❯';
			}
		}
		> .right {
			&:after {
				color: #CCC;
				content: '❯';
			}
		}
		> .bottom {
			.rotate(-90);
			&:after {
				color: #CCC;
				content: '❮';
			}
		}
		> .left {
			&:after {
				content: '❮';
				color: #CCC;
			}
		}
	}
}