//
	//PLUS
//
/**********
	CAROUSEL
**********/
.carousel {
	border: (@px * .1) solid @colorS4;
	.pad(15;px);
	.wid(100;pct);
	background-color: @colorS1;
	.carousel-img {
		.box(border);
		.wid(100;pct);
		border: (@px * .1) solid @colorS4;
		> .img {
			display: block;
			border: none;
			.wid(100;pct);
		}
	}
	.carousel-nav {
		.clearfix;
		.wid(100;pct);
		.mar-3(15;0;0;px);
		overflow: hidden;
		.ht(55);
		position: relative;
	}
	.transport {
		position: absolute;
		&:nth-child(1),
		&.first {
			left: 0;
			.left {
				.mar-3(0;0;1;px);
			}			
		}
		&:nth-child(3),
		.last {
			right: 0;
			.right {
				.mar-3(0;0;5;px);
			}
		}
	}
	.carousel-thumbs {
		display: inline-block;
		float: left;
		overflow: hidden;
		.ht(53);
		position: absolute;
		left: (@px * 2);
		right: (@px * 2);
		.carousel-list {
			list-style-type: none;
			.mar;
			.pad(0);
			.wid(1000);
			position: relative;
			.carousel-list-item {
				float: left;
				.mar-4(0;5;0;0;px);
				.pad(0);
				display: inline-block;
				cursor: pointer;
				border: (@px * .1) solid @colorS4;
				.wid(67);
				.box(border);
				.img {
					display: block;
					border: none;
					.wid(100;pct);
				}
			}
		}
	}
}