//
	//PLUS
//
/**********
	CAROUSEL
**********/
.carousel {
	border: (@px * .1) solid @colorS4;
	padding: (@px * 1.5);
	width: @pct;
	background-color: @colorS1;
	.carousel-img {
		moz-box-sizing: border-box;
		box-sizing: border-box;
		width: @pct;
		border: (@px * .1) solid @colorS4;
		> .img {
			display: block;
			border: none;
			width: @pct;
		}
	}
	.carousel-nav {
		.clearfix;
		width: @pct;
		margin: (@px * 1.5) 0 0;
		overflow: hidden;
		height: (@px * 5.5);
		position: relative;
	}
	.transport {
		position: absolute;
		&:nth-child(1),
		&.first {
			left: 0;
			.left {
				margin: @px 0 0 (@px * .1);
			}			
		}
		&:nth-child(3),
		.last {
			right: 0;
			.right {
				margin: @px 0 0 (@px * .5);
			}
		}
	}
	.carousel-thumbs {
		display: inline-block;
		float: left;
		overflow: hidden;
		height: (@px * 5.3);
		position: absolute;
		left: (@px * 2);
		right: (@px * 2);
		.carousel-list {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: (@px * 100);
			position: relative;
			.carousel-list-item {
				float: left;
				margin: 0 (@px * .5) 0 0;
				padding: 0;
				display: inline-block;
				cursor: pointer;
				border: (@px * .1) solid @colorS4;
				width: (@px * 6.7);
				moz-box-sizing: border-box;
				box-sizing: border-box;
				.img {
					display: block;
					border: none;
					width: @pct;
				}
			}
		}
	}
}