.contentbox {
	.contentbox-img {
		width: (@px * 15);
		float: left;
	}
	.contentbox-info {
		.contentbox-heading {
			margin-top: 0;
			> a {
				text-decoration: none;
			}
		}
		.contentbox-text {
			/* styles here */
		}
	}
}