.contentbox {
	.contentbox-img {
		width: (@px * 15);
		float: left;
	}
	.contentbox-info {
		margin-left: (@px * 16.5);
		.contentbox-heading {
			border-bottom: (@px * .1) solid @colorS4;
			margin-top: 0;
			> a {
				text-decoration: none;
			}
		}
		.contentbox-text {
			/* styles here */
		}
	}
}