//
	//DNA
//
/**********
	FORM WIDGETS
**********/

// BUTTONS GROUPS
.btn-group 
{
	margin-bottom: 1em;
	.clearfix;
	.grp-btn,
	.grp-input,
	.grp-dropdown
	{
		float: left;
		border-radius: 0;
		border-left-width: 0;
	}
}

.btn-group :last-child,
.btn-group .last //IE support
{
	border-radius: 0 @radius-sm @radius-sm 0;
}

.btn-group :first-child,
.btn-group .first //IE support
{
	border-left-width: 1px;
	border-radius: @radius-sm 0 0 @radius-sm;
}

.dd {
	position: relative;
	.dd-list {
		display: none;
		position: absolute;
		top: 27px;
		left: 0;
		border: 1px solid #AAA;
		background-color: #FFF;
		border-radius: 3px;
		list-style-type: none;
		margin: 0;
		padding: 0;
		min-width: 100px;
		z-index: 10;
	}
	.dd-input {
		position: absolute;
		left: -9999px;
		&:checked + .dd-label {
			background-color: lighten(#089, 10%);
			color: white;
			&:hover {
				background-color: #089;
			}
		}
	}
	.dd-label {
		display: block;
		padding: .25em .5em;
		border-radius: 0 !important;
		cursor: pointer;
		&:hover {
			background-color: #089;
			color: white;
		}
	}
	.dd-active {
		display: inline-block;
		float: left;
		border: 1px solid #AAA;
		padding: .06em .5em;
		background-color: #E9E9E9;
		text-decoration: none;
		color: inherit;
		cursor: pointer;
		&.open {
			~ .dd-list {
				display: inline-block;
			}
		}
	}

}