//
	//PLUS
//
/**********
	LISTS
**********/
.list {
	padding-right: 20px;

	+ .list {
		margin-top: 25px;
	}

	> .list {
		margin: 13px 0 13px 30px;
		padding-right: 0;
	}

	// CONFIGURATION 1
	&.conA {
		display: inline-block;
		.list-item {
			// line-height: 1.5rem;
			&:before {
				display: inline-block;
				content: '\25FC';
				width: 9px;
				height: 9px;
				padding-right: 10px;
				color: #CCC;
				margin-bottom: 3px;
				position: relative;
				top: -5px;
			}
			a {
				cursor: pointer;
			}
			&.expand {
				&:before {
					content: '+';
					margin-bottom: 2px;
					margin-left: 2px;
				}
				a {
					text-decoration: underline;
				}
			}
			&.collapse {
				&:before {
					content: '-';
					margin-bottom: 2px;
					margin-left: 2px;
				}
				a {
					text-decoration: underline;
				}
			}
			+ li {
				margin-top: 13px;
			}
		}
		.more {
			// font-weight: bold;
			&:after {
				display: inline-block;
				content: '\25BC';
				// font-size: .8rem;
				margin-left: 5px;
				// color: @colorP1;
			}
		}
	}
	// END CONFIGURATION 1


	// CONFIGURATION 2
	&.conB {
		height: 70px;
		display: inline-block;
		h2 {
			// font-size: 1.8rem;
		}
		.img-wrap {
			width: 80px;
			height: 65px;
			float: left;
			margin-right: 15px;
		}
	}
	// END CONFIGURATION 2


	// CONFIGURATION 3
	&.conC {
		display: inline-block;
		h2 {
			// font-size: 2.4rem;
		}
		h3 {
			// font-size: 1.8rem;
			margin: 0;
		}
		.transport {
			float: right;
			.up,
			.down {
				width: 15px;
				height: 15px;
				background-position: -5px -155px;
			}

			.up {
				background-position-y: -155px;
			}
			.down {
				background-position-y: -180px;
			}
		}
	}
	// END CONFIGURATION 2

}

