// DONT EDIT THIS IMPORT //
 	@import "../dna/list.less";
// YOU CAN EDIT BELOW HERE //
//
	//PLUS
//
/**********
	LISTS
**********/

// RESET LIST
ul,ol {
	&.base {
		margin: 0;
		padding: 0;
		list-style-type: none;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		-webkit-padding-start: 0;
		> li {
			margin: 0;
			padding: 0;
		}	
	}
}

// UNORDERED LIST STYLE TYPES
.disc {
	list-style: disc;
}
.circle {
	list-style: circle
}
.square {
	list-style: square;
}

// ORDERED LIST STYLE TYPES
.decimal {
	list-style: decimal;	
}
.lower-alpha {
	list-style: lower-alpha;	
}
.upper-alpha {
	list-style: upper-alpha;	
}
.lower-roman {
	list-style: lower-roman;	
}
.upper-roman {
	list-style: upper-roman;	
}

// CITATION EXAMPLE
.citation > dt {
	padding: (@em * .5);
	padding-left: 0;
	float: left;
	font-weight: bold;
	clear: left;
}

.citation > dd {
	padding: (@em * .5);
}

// TREELIST EXAMPLE
.tree-list {
	list-style-type: none;
	padding:  0;
	> .tree-list {
		margin-left:  (@px * 1.5);
	}
	.list-item {
		margin-bottom: (@px * .3);
		a {
			text-decoration: none;
		}
		&:before {
			display: inline-block;
			content: '\25FC';
			width: (@px * .5);
			padding-right: @px;
			color: @colorS4;
			font-size: @px;
		}
		.before { // local mixin
			font-size: (@px * 1.6);
			color: @colorS4;
			height: (@px * 1.4);
		}
		&.expand {
			&:before {
				content: '\229E';
				.before;
			}
		}
		&.collapse {
			&:before {
				content: '\229F';
				.before;
			}
		}
	}
	.more {
		margin-left: (@px * 1.5);
		&:after {
			display: inline-block;
			content: '\25BC';
			margin-left: (@px * .5);
			color: @link-color;
			font-size: (@px * 1.2);
			&:hover {
				color: @link-color-active;
			}
		}
		a {
			text-decoration: none;
		}
	}
}