//
	//Plus
//
/**********
	MESSAGING
**********/
.msg {
	color: @colorP2;
	padding: (@px * 1.5);
	margin: 0 0 @em;
	border: solid (@px * .1) darken(@msg, (@pct * .2));
	background-color: @msg;
	.radius(@radius);
	position: relative;
	min-height: (@px * 5);
	.box(border);
	> .icon {
		display: inline-block;
		float: left;
		.fontsize(2.5);
		line-height: 1.5rem;
		// set a constant left padding to accommodate the icon
		~ .msg-txt {
			padding-left: (@px * 5);
		}
		// show an icon
		&:after {
			content: '\2601';
		}
	} // end icon
	.msg-txt {
		margin: 0;
	}
	> .close {
		cursor: pointer;
		&:after {
			color: @colorP1;
			content: '✕';
			position: absolute;
			right: (@px * 2);
		}
	} // end close
	.msg-action {
		margin-left: (@px * 2);
		&:after {
			content: '»';
			display: inline-block;
			margin-left: (@px * .5);
		}
	} // end msg-action
	&.msg-info {
		background-color: @msg-info;
		border-color: darken(@msg-info, (@pct * .2));
	} // end info
	&.msg-success {
		background-color: @msg-success;
		border-color: darken(@msg-success, (@pct * .2));
	} // end success
	&.msg-note {
		background-color: @msg-note;
		border-color: darken(@msg-note, (@pct * .2));
	} // end note
	&.msg-alert {
		background-color: @msg-alert;
		border-color: darken(@msg-alert, (@pct * .2));
	} // end alert

}