//
	//PLUS
//
/**********
	MODALS
**********/

.modal {
	border: (@px * .1) solid @colorS3;
	.radius(@radius);
	box-shadow: 0 0 @px rgba(0,0,0,.5);
	background-color: @colorS1;
	.modal-header,
	.modal-body,
	.modal-footer {
		padding: (@px * 1.5);
	}
	.modal-header {
		border-bottom: (@px * .1) solid @colorS3;
		.modal-title {
			margin: 0;
		}
		> .btn.close {
			float: right;
			.fontsize(1.25);
			line-height: (@em * .625);
			color: @colorS3;
			vertical-align: middle;
			padding: @px 0;
			border: none;
			background-color: transparent;
			&:hover {
				color: @colorS4;
			}
		}
	}
	.modal-footer {
		border-top: (@px * .1) solid @colorS3;
		text-align: right;
	}
}