//
	//PLUS
//
/**********
	MODALS
**********/

.modal {
	.bor(1;solid;@colorS3);
	.radius(@radius);
	box-shadow: 0 0 @px rgba(0,0,0,.5);
	background-color: @colorS1;
	.modal-header,
	.modal-body,
	.modal-footer {
		.pad(15;px);
	}
	.modal-header {
		.bor-b(1;solid;@colorS3);
		.modal-title {
			.mar;
		}
		> .btn.close {
			float: right;
			.fontsize(1.25);
			line-height: (@em * .625);
			color: @colorS3;
			vertical-align: middle;
			.pad-2(10;0;px);
			.bor;
			background-color: transparent;
			&:hover {
				color: @colorS4;
			}
		}
	}
	.modal-footer {
		.bor-t(1;solid;@colorS3);
		text-align: right;
	}
}