//
	//PLUS
//
/**********
	NAVBAR
**********/
.navbar {
	overflow: hidden;
	.bar {
		position: relative;
	}
	.nav {
		.pad;
		.mar;
		display: inline-block;
		.nav-item {
			display: inline-block;
			cursor: pointer;
			.pad-r(10;px);
		}
	}
	.user-nav {
		display: inline-block;
		.pad;
		.mar;
		.user-nav-item {
			.pad-r(10;px);
			width: (@px * 3);
			height: (@px * 3);
			display: inline-block;
			cursor: pointer;
			> .icon {
				display: inline-block;
				width: @pct;
				height: @pct;
				overflow: hidden;	
			}
		}
	}
}