//
	//PLUS
//
/**********
	PAGINATION
**********/

.pagination {
	.clearfix;
	.pag-list {
		list-style-type: none;
		display: inline-block;
		.pad(0);
		float: left;
		.pag-list-item {
			display: inline-block;
			float: left;
			.bor-r(1;solid;@colorS4);
			.pad-2(0; 10; px);
			cursor: pointer;
			color: lighten(@font-color, 20%);
			&:nth-last-child(1) {
				.bor-r;
			}
			&:hover {
				background-color: @bg2;
				color: @font-color;
			}
			&.inactive {
				cursor: default;
				color: lighten(@font-color, 20%);
				&:hover {
					background-color: transparent;
					color: lighten(@font-color, 20%);
				}
			}
			&.active {
				cursor: default;
				color: @font-color;
				background-color: @colorS4;
				&:hover {
					background-color: @colorS4;
					color: @font-color;
				}
			}
		}
	}

	.transport {
		@newPX: (@px * 1);
		display: inline-block;
		float: left;

		> .right,
		> .left {
			color: @colorS4;
			.bor-t( (@newPX * .9);solid;rgb(0, 0, 0));
			.bor-b( (@newPX * .9);solid;rgb(0, 0, 0));
		}
		> .right {
			.bor-l(@newPX;solid;@colorS4);
			.mar-l(@newPX * .5);
			.mar-r;
		}
		> .left {
			.bor-r(@newPX;solid;@colorS4);
			.mar-l;
			.mar-r(@newPX * .5);
		}

	}
}