/**********/
/**********
	PLUS
**********/
/**********/
/**********
	FORM WIDGETS
**********/
/**********
	LISTS
**********/
ul,
ol {
  margin: 0;
  padding: 0 0 1em 1em;
}
.disc {
  list-style: disc;
}
.circle {
  list-style: circle;
}
.square {
  list-style: square;
}
.decimal {
  list-style: decimal;
}
.lower-alpha {
  list-style: lower-alpha;
}
.upper-alpha {
  list-style: upper-alpha;
}
.lower-roman {
  list-style: lower-roman;
}
.upper-roman {
  list-style: upper-roman;
}
dl {
  margin: 0;
  padding: 0 0 1em;
}
dd {
  padding: 0 0 0.125em 2em;
  margin: 0;
}
/**********
	LISTS
**********/
.list {
  list-style-type: none;
  padding: 0;
}
.list > .list {
  margin-left: 15px;
}
.list .list-item {
  margin-bottom: 3px;
}
.list .list-item a {
  text-decoration: none;
}
.list .list-item:before {
  display: inline-block;
  content: '\25FC';
  width: 5px;
  padding-right: 10px;
  color: #c1c1c1;
  font-size: 10px;
}
.list .list-item .before {
  font-size: 16px;
  color: #c1c1c1;
  height: 14px;
}
.list .list-item.expand:before {
  content: '\229E';
  font-size: 16px;
  color: #c1c1c1;
  height: 14px;
}
.list .list-item.collapse:before {
  content: '\229F';
  font-size: 16px;
  color: #c1c1c1;
  height: 14px;
}
.list .more {
  margin-left: 15px;
}
.list .more:after {
  display: inline-block;
  content: '\25BC';
  margin-left: 5px;
  color: #0088cc;
  font-size: 12px;
}
.list .more:after:hover {
  color: #006699;
}
.list .more a {
  text-decoration: none;
}
/**********
	MESSAGING
**********/
.msg {
  color: #474747;
  padding: 15px;
  margin: 0 0 1em;
  border: solid 1px #b7b7b7;
  background-color: #eaeaea;
  border-radius: 3px;
  position: relative;
  min-height: 50px;
  box-sizing: border-box;
}
.msg > .icon {
  display: inline-block;
  float: left;
  font-size: 2.5rem;
  line-height: 1.5rem;
}
.msg > .icon ~ .msg-txt {
  padding-left: 50px;
}
.msg > .icon:after {
  content: '\2601';
}
.msg .msg-txt {
  margin: 0;
}
.msg > .close {
  cursor: pointer;
}
.msg > .close:after {
  color: #333333;
  content: '✕';
  position: absolute;
  right: 20px;
}
.msg .msg-action {
  margin-left: 20px;
}
.msg .msg-action:after {
  content: '»';
  display: inline-block;
  margin-left: 5px;
}
.msg.msg-info {
  background-color: #e4f1ff;
  border-color: #7ebcff;
}
.msg.msg-success {
  background-color: #e6fadf;
  border-color: #a1ec87;
}
.msg.msg-note {
  background-color: #e7e7b1;
  border-color: #cfcf63;
}
.msg.msg-alert {
  background-color: #edbdb6;
  border-color: #d97364;
}
/**********
	NAVBAR
**********/
.navbar {
  overflow: hidden;
}
.navbar .bar {
  position: relative;
}
.navbar .nav {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.navbar .nav .nav-item {
  display: inline-block;
  cursor: pointer;
  padding-right: 10px;
}
.navbar .user-nav {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.navbar .user-nav .user-nav-item {
  padding-right: 10px;
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
}
.navbar .user-nav .user-nav-item > .icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/**********
	PAGINATION
**********/
.pagination .pag-list {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  float: left;
}
.pagination .pag-list .pag-list-item {
  display: inline-block;
  float: left;
  border-right: 1px solid #c1c1c1;
  padding: 0 10px;
  cursor: pointer;
  color: #666666;
}
.pagination .pag-list .pag-list-item:nth-last-child(1) {
  border-right: none;
}
.pagination .pag-list .pag-list-item:hover {
  background-color: #d6d6d6;
  color: #333333;
}
.pagination .pag-list .pag-list-item.inactive {
  cursor: default;
  color: #666666;
}
.pagination .pag-list .pag-list-item.inactive:hover {
  background-color: transparent;
  color: #666666;
}
.pagination .pag-list .pag-list-item.active {
  cursor: default;
  color: #333333;
  background-color: #c1c1c1;
}
.pagination .pag-list .pag-list-item.active:hover {
  background-color: #c1c1c1;
  color: #333333;
}
.pagination .transport {
  display: inline-block;
  float: left;
}
.pagination .transport > .right,
.pagination .transport > .left {
  color: #c1c1c1;
  border-top: 9px solid rgba(0, 0, 0, 0);
  border-bottom: 9px solid rgba(0, 0, 0, 0);
}
.pagination .transport > .right {
  border-left: 10px solid #c1c1c1;
  margin-left: 5px;
  margin-right: 0;
}
.pagination .transport > .left {
  border-right: 10px solid #c1c1c1;
  margin-left: 0;
  margin-right: 5px;
}
/**********
	TRANSPORT
**********/
.transport > .top,
.transport > .right,
.transport > .bottom,
.transport > .left {
  color: #d6d6d6;
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
}
.transport > .top {
  border-bottom-width: 15px;
  border-bottom-style: solid;
  border-bottom-color: #d6d6d6;
  border-top-width: 0;
  margin-bottom: 7.5px;
  margin-top: -7.5px;
}
.transport > .top:hover {
  border-bottom-color: #707070;
}
.transport > .right {
  border-left-width: 15px;
  border-left-style: solid;
  border-left-color: #d6d6d6;
  border-right-width: 0;
  margin-left: 7.5px;
  margin-right: -7.5px;
}
.transport > .right:hover {
  border-left-color: #707070;
}
.transport > .bottom {
  border-top-width: 15px;
  border-top-style: solid;
  border-top-color: #d6d6d6;
  border-bottom-width: 0;
  margin-bottom: 7.5px;
  margin-top: -7.5px;
}
.transport > .bottom:hover {
  border-top-color: #707070;
}
.transport > .left {
  border-right-width: 15px;
  border-right-style: solid;
  border-right-color: #d6d6d6;
  border-left-width: 0;
  margin-left: 7.5px;
  margin-right: -7.5px;
}
.transport > .left:hover {
  border-right-color: #707070;
}
.transport.inactive > .top {
  border-bottom-color: #c1c1c1;
  cursor: default;
}
.transport.inactive > .top:hover {
  border-bottom-color: #c1c1c1;
}
.transport.inactive > .right {
  border-left-color: #c1c1c1;
  cursor: default;
}
.transport.inactive > .right:hover {
  border-left-color: #c1c1c1;
}
.transport.inactive > .bottom {
  border-top-color: #c1c1c1;
  cursor: default;
}
.transport.inactive > .bottom:hover {
  border-top-color: #c1c1c1;
}
.transport.inactive > .left {
  border-right-color: #c1c1c1;
  cursor: default;
}
.transport.inactive > .left:hover {
  border-right-color: #c1c1c1;
}
/**********
	CAROUSEL
**********/
.carousel {
  border: 1px solid #CCC;
  padding: 15px;
  width: 300px;
  min-width: 250px;
}
.carousel .carousel-img {
  moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #CCC;
}
.carousel .carousel-img > .img {
  display: block;
  border: none;
  width: 100%;
}
.carousel .carousel-nav {
  *zoom: 1;
  width: 100%;
  margin: 15px 0 0;
  overflow: hidden;
}
.carousel .carousel-nav:before,
.carousel .carousel-nav:after {
  display: table;
  line-height: 0;
  content: "";
}
.carousel .carousel-nav:after {
  clear: both;
}
.carousel .transport {
  width: 7%;
  display: inline-block;
  float: left;
  padding: 15px 0 14px 0;
  position: relative;
}
.carousel .carousel-thumbs {
  width: 86%;
  display: inline-block;
  float: left;
  overflow: hidden;
  height: 53px;
  position: relative;
}
.carousel .carousel-thumbs .carousel-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 1000px;
  position: relative;
}
.carousel .carousel-thumbs .carousel-list .carousel-list-item {
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #CCC;
  width: 67px;
  moz-box-sizing: border-box;
  box-sizing: border-box;
}
.carousel .carousel-thumbs .carousel-list .carousel-list-item .img {
  display: block;
  border: none;
  width: 100%;
}
/**********
	TABS
**********/
.tabs {
  position: relative;
}
.tabs * {
  box-sizing: border-box;
}
.tabs .tab-list,
.tabs .tab-content {
  padding: 0;
  list-style-type: none;
}
.tabs .tab-list .tab-list-item {
  float: left;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #d6d6d6;
  padding: 10px 20px;
  margin-right: -1px;
  margin-bottom: -1px;
  position: relative;
  z-index: 30;
  background-color: #eaeaea;
  cursor: pointer;
}
.tabs .tab-list .tab-list-item:hover {
  background-color: #b7b7b7;
}
.tabs .tab-list .tab-list-item:first-child {
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
}
.tabs .tab-list .tab-list-item.active {
  cursor: default;
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
}
.tabs .tab-list .tab-list-item.active:hover {
  background-color: #ffffff;
}
.tabs .tab-content .tab-content-item {
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  width: 100%;
  border: 1px solid #d6d6d6;
  padding: 10px 20px;
  display: none;
}
.tabs .tab-content .tab-content-item > *:last-child {
  margin: 0;
}
.tabs .tab-content .tab-content-item.active {
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  z-index: 25;
}
/**********
	TOGGLES
**********/
.toggle {
  padding: 0;
  list-style-type: none;
}
.toggle + .toggle {
  padding-top: 15px;
}
.toggle .toggle-content {
  display: none;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #333333;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  padding: 30px;
}
.toggle .toggle-content > *:last-child {
  margin: 0;
}
.toggle .toggle-tab {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #333333;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 12px 8px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fafafa));
  background: -webkit-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #fafafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start', endColorstr='@stop', GradientType=0);
  font-weight: bold;
  cursor: pointer;
}
.toggle .toggle-tab .icon {
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #333333;
  display: inline-block;
  margin-right: 10px;
  background-color: #FFF;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
}
.toggle .toggle-tab .icon:before {
  content: '+';
  display: block;
  vertical-align: center;
}
.toggle .toggle-tab.active .icon:before {
  cursor: default;
  content: '–';
  line-height: 1.25rem;
}
.toggle .toggle-tab.active + .toggle-content {
  display: inline-block;
}
