.resultitem {
	.resultitem-img {
		width: (@px * 15);
		float: left;
	}
	.result-info {
		.mar-l(165;px);
		.resultitem-heading {
			border-bottom: (@px * .1) solid @colorS4;
			.mar-t(0);
		}
		.resultitem-text {
			/* styles here */
		}
	}
}