.searchbar {
	.pos(relative);

	.searchbar-wrap {
		.pos(relative);
		display: inline;
		input {
			.radius-tr(0);
			.radius-br(0);
		}
		.reset {
			.pos(absolute);
			.pos-r(5);
			background-color: rgba(0, 0, 0, 0);
			.bor;
		}
	}
	.searchbar-extras {
		display: inline-block;
	}
	.btn.search {
		.mar-l(-5;px);
		.radius-tl(0);
		.radius-bl(0);
	}
}