.searchbar {
	position: relative;

	.searchbar-wrap {
		position: relative;
		display: inline;
		input {
			.radius-tr(0);
			.radius-br(0);
		}
		.reset {
			position: absolute;
			background-color: rgba(0, 0, 0, 0);
			border: none;
			right: (@px * .5);
		}
	}
	.searchbar-extras {
		display: inline-block;
	}
	.btn.search {
		margin-left: -(@px * .5);
			.radius-tl(0);
			.radius-bl(0);
	}
}