//
	//PLUS
//
/**********
	TABS
**********/

.tabs {
	.pos(relative);
	* {
		.box(border);
	}
	.tab-list,
	.tab-content {
		.pad;
		list-style-type: none;
	}
	.tab-list {
		.tab-list-item {
			float: left;
			.bor-w-4(1;1;0;1);
			border-style: solid;
			border-color: @colorS3;
			.pad-2(10; 20; px);
			.mar-r(-1; px);
			.mar-b(-1; px);
			.pos(relative);
			z-index: 30;
			background-color: @colorS2;
			cursor: pointer;
			&:hover {
				background-color: darken(@colorS2, (@pct * .2));
			}
			&:first-child {
				.radius-tl((@px * .3));
			}
			&.active {
				cursor: default;
				cursor: default;
				.bor-b(1;solid;@colorS1);
				background-color: @colorS1;
				&:hover {
					background-color: @colorS1;
				}
			}
		}
	}
	.tab-content {
		.tab-content-item {
			.radius-tl(0);
			.radius-tr(0);
			.radius-br((@px * .3));
			.radius-bl((@px * .3));
			.wid(100;pct);
			.bor(1;solid;@colorS3);
			.pad-2(10; 20; px);
			display: none;
			> *:last-child { // remove any extra margin on the last item for better parent padding
				.mar;
			}		
			&.active {
				background-color: @colorS1;
				display: inline-block;
				.pos(relative);
				z-index: 25;				
			}
		}
	}
}