//
	//PLUS
//
/**********
	TOGGLES
**********/
.toggle {
	.pad;
	list-style-type: none;
	+ .toggle {
		.pad-t(15; px);
	}
	.toggle-content {
		display: none;
		border: (@px * .1) solid @colorS3;
		.radius-br((@px * .3));
		.radius-bl((@px * .3));
		.pad(30; px);
		background-color: @colorS1;
		> *:last-child { // remove any extra margin on the last item for better parent padding
			.mar;
		}
	}
	.toggle-tab {
		.radius((@px * .3));
		border: (@px * .1) solid @colorS3;
		.pad-2(12; 8; px);
		background-color: @colorS1;
		font-weight: bold;
		cursor: pointer;
		.icon {
			.radius((@px * .3));
			border: (@px * .1) solid @colorS3;
			display: inline-block;
			.mar-r(10; px);
			.wid(20);
			.ht(20);
			text-align: center;
			&:before {
				color: @colorP4;
				content: '+';
				display: block;
			}
		}
		&.active {
			.radius-br(0);
			.radius-bl(0);
			.icon {
				&:before {
					cursor: default;
					content: '–';
					line-height: 1.25rem;
				}
			}
			+ .toggle-content {
				display: inline-block;
				.mar-t(-1; px);
				z-index: 10;
			}
		}
	}
}