//
	//PLUS
//
/**********
	TOOLBAR
**********/
.toolbar {
	overflow: hidden;
	.bar {
		.pos(relative);
	}
	.nav {
		.pad;
		.mar;
		display: inline-block;
		.nav-item {
			display: inline-block;
			cursor: pointer;
			.pad-r(10;px);
		}
	}
	.user-nav {
		display: inline-block;
		.pad;
		.mar;
		.user-nav-item {
			.pad-r(10;px);
			.wid(30);
			.ht(30);
			display: inline-block;
			cursor: pointer;
			> .icon {
				display: inline-block;
				.wid(100;pct);
				.ht(100;pct);
				overflow: hidden;	
			}
		}
	}
}