//
	//PLUS
//
/**********
	TRANSPORT
**********/
.transport {
	@border-width: 15;
	> .top,
	> .right,
	> .bottom,
	> .left {
		color: @colorS3;
		cursor: pointer;
		.wid;
		.ht;
		display: inline-block;

		.bor-t(@border-width;solid;transparent);
		.bor-r(@border-width;solid;transparent);
		.bor-b(@border-width;solid;transparent);
		.bor-l(@border-width;solid;transparent);
	}
	> .top {
		.bor-b-w(@border-width);
		.bor-b-s(solid);
		.bor-b-c(@colorS3);
		.bor-t-w;
		.mar-b(@border-width * .5; px);
		.mar-t(-@border-width * .5; px);
		&:hover {
			.bor-b-c(@colorP4);
		}
	}
	> .right {
		.bor-l-w(@border-width);
		.bor-l-s(solid);
		.bor-l-c(@colorS3);
		.bor-r-w;
		.mar-l(@border-width * .5; px);
		.mar-r(-@border-width * .5; px);
		&:hover {
			.bor-l-c(@colorP4);
		}
	}
	> .bottom {
		.bor-t-w(@border-width);
		.bor-t-s(solid);
		.bor-t-c(@colorS3);
		.bor-b-w;
		.mar-b(@border-width * .5; px);
		.mar-t(-@border-width * .5; px);
		&:hover {
			.bor-t-c(@colorP4);
		}
	}
	> .left {
		.bor-r-w(@border-width);
		.bor-r-s(solid);
		.bor-r-c(@colorS3);
		.bor-l-w;
		.mar-l(@border-width * .5; px);
		.mar-r(-@border-width * .5; px);
		&:hover {
			.bor-r-c(@colorP4);
		}
	}

	&.inactive {
		> .top {
			.bor-b-c(@colorS4);
			cursor: default;
			&:hover {
				.bor-b-c(@colorS4);
			}
		}
		> .right {
			.bor-l-c(@colorS4);
			cursor: default;
			&:hover {
				.bor-l-c(@colorS4);
			}
		}
		> .bottom {
			.bor-t-c(@colorS4);
			cursor: default;
			&:hover {
				.bor-t-c(@colorS4);
			}
		}
		> .left {
			.bor-r-c(@colorS4);
			cursor: default;
			&:hover {
				.bor-r-c(@colorS4);
			}
		}
	}


	&.slim {
		> .top,
		> .right,
		> .bottom,
		> .left {
			border-width: 0;
			.wid(10);
			.ht(16);
			border-color: rgba(0, 0, 0, 0);
			.mar;
			.pad-4(0;0;0;3;px);
			&:after {
				display: inline-block;
			}
			&:hover {
				&:after {
					color: darken(#CCC, 20%);
				}
			}
		}
		> .top {
			.rotate(-90);
			&:after {
				color: #CCC;
				content: '❯';
			}
		}
		> .right {
			&:after {
				color: #CCC;
				content: '❯';
			}
		}
		> .bottom {
			.rotate(-90);
			&:after {
				color: #CCC;
				content: '❮';
			}
		}
		> .left {
			&:after {
				content: '❮';
				color: #CCC;
			}
		}
	}
}