//
	//PLUS
//
/**********
	TRANSPORT
**********/
.transport {

	> .right,
	> .left {
		// color: #CCC;
		cursor: pointer;
		&:hover {
			color: #999;
		}
	}

	> .right {
		&:after {
			content: '\232A';
			margin-left: 10px;
		}
	}
	> .left {
		&:after {
			content: '\2329';
			margin-right: 10px;
		}
	}
}