//
	//PLUS
//
/**********
	TRANSPORT
**********/
.transport {
	> .top,
	> .right,
	> .bottom,
	> .left {
		color: #CCC;
		cursor: pointer;
		display: inline-block;
		width: 20px;
		height: 20px;
		text-align: center;
		&:hover {
			color: #999;
		}
	}
	> .top {
		&:after {
			content: '\25B2';
		}
	}
	> .right {
		&:after {
			content: '\25B6';
		}
	}
	> .bottom {
		&:after {
			content: '\25BC';
		}
	}
	> .left {
		&:after {
			content: '\25C0';
		}
	}

	&.inactive {
		> * {
			color: #CCC;
			cursor: default;
			&:hover {
				color: #CCC;
			}
		}
	}
}