//
	//PLUS
//

//----- SKINNING COLORS ----------------------------------------//

@colorP1: #333;
@colorS1: #FFF;
@colorP2: #666;
@colorS2: #CCC;
@colorP3: #999;
@colorS3: #EEE;
@colorP4: #FFF;
@colorS4: #333;

//----- NUMBERS ----------------------------------------//