//
	// PLUS
//
/**********
	WIDTH
**********/
.quarter {
	width: 25% !important;
}
.threequarter {
	width: 75% !important;
}
.third {
	width: 33% !important;
}
.twothird {
	width: 66% !important;	
}
.half {
	width: 50% !important;
}