//
	// PLUS
//
/**********
	WIDTH
**********/

.width(@w: @n) {
	width: percentage(@w/100) !important;
	float: left;
	.box(border);
	clear: none;
}

.hundred {
	.wid(100;pct);
	display: block;
	.clearfix;
	> .fifth {
		.width(20);
	}
	> .twofifth {
		.width(40);
	}
	> .threefifth {
		.width(60);
	}
	> .fourfifth {
		.width(80);
	}
	> .quarter {
		.width(25);
	}
	> .threequarter {
		.width(75);
	}
	> .third {
		.width(33);
	}
	> .twothird {
		.width(66);
	}
	> .half {
		.width(50);
	}
}


[dir="rtl"] {
	.fifth,
	.twofifth,
	.threefifth,
	.threefifth,
	.quarter,
	.threequarter,
	.third,
	.twothird,
	.half {
		float: right;
	}
}