.icon.svg-alert { background-image: url('png/alert.png'); background-repeat: no-repeat; }

.icon.svg-email { background-image: url('png/email.png'); background-repeat: no-repeat; }

.icon.svg-link { background-image: url('png/link.png'); background-repeat: no-repeat; }

.icon.svg-print { background-image: url('png/print.png'); background-repeat: no-repeat; }

.icon.svg-save { background-image: url('png/save.png'); background-repeat: no-repeat; }

